.hideit{display:none !important;}
.showit{display:block !important;}
.dispFlex{display:flex !important;}
*, *:before, *:after {
  box-sizing: border-box;
}
#container{
	position: relative;
	padding:0;
}
button:focus {
  outline: 0!important;
}
#container #bgImage img {
	width: 100%;
}
.bodyContent {
  position: absolute;
  top: 16%;
  width: 100%;
  left: 0;
  height: 72%;
  text-align: -webkit-center;
}
.bodyContent .speaker {
  position: absolute;
  top: 9%;
  right: 6%;
  width: 11%;
}

@-webkit-keyframes play {
   from { background-position:    400%; }
     to { background-position: 0%;  }
}
@-moz-keyframes play {
   from { background-position:    400%; }
     to { background-position: 0%;  }
}
@keyframes play {
   from { background-position:    400%; }
     to { background-position: 0%;  }
}
.refQues {
    width: 42%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal .refQues{
  background: transparent;
  border: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
}
.refQues div{
  width: 15%;
  display: flex;
  align-items: center;
  border:solid 0px transparent;
}

#playPauseBtn {
  position: absolute;
  top: 85%;
  right: 16%;
  cursor: pointer;
  width: 1.5%;
}
#playPauseBtn img {
  width: 200%;
  filter: drop-shadow(2px 4px 6px black);
  max-width: none;
}

#SkipBtn{
  position: absolute;
  top: 83.7%;
  right: -3.7%;
  cursor: pointer;
  width: 16%;
}
#SkipBtn img {
  max-width: 70%;
}

.refQues img{
  width: 100%;
}
.modal .refQues img {
  height: 65%;/*61%*/
}
.refQues .ansSpace {
  animation: blink 1.5s ease-in;
  animation-iteration-count: infinite;
}
.refQues .ansSpace img {
  opacity: 0;
}
@keyframes blink {
  0%   {border:dashed 2px #000;}
  50% {border:dashed 2px transparent;}
  100%   {border:dashed 2px #000;}
}
#container #optionsBlock {
  width: 100%; /*54%;*/
  height: 100%; /*5%;*/
}
#container .modal #optionsBlock {
  height: auto; /*5%;*/
}
#optionsBlock .options{
  /*flex-wrap: wrap;*/
  height: 100%;
}
  #optionsBlock .options div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .modal #optionsBlock .options div:first-of-type + div {
	  margin-left:5%;
  }

#optionsBlock .options div:first-of-type + div{
  /* width:51%; */
  /* margin-top: 9%; */
  /*visibility: hidden;*/
}
/*#optionsBlock .options.active div:first-of-type + div{
  visibility: visible;
}*/
#optionsBlock img,
.optionsBlock img{
	position:relative;
  max-width: 100%;
}

#optionsBlock .options div:first-of-type img:first-of-type ~ img {
  position: absolute !important;
  width: auto;
  max-width: 93% !important;
  max-height: 55% !important;
  border-radius: .5vmax;
}

#optionsBlock .options,
.optionsBlock .options {
  position: relative;
  /* margin: 0% 1%; */
  vertical-align: middle;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*	animation: scaleit 0.4s ease-in;*/
}

.modal #optionsBlock .options,
.modal .optionsBlock .options {
  position: relative;
  /* margin: 0% 1%; */
  vertical-align: middle;
  width: 51%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*	animation: scaleit 0.4s ease-in;*/
}

.optionsBlock .quesImage.autoWidth .options{
	width: auto;
	/* height: 100%; */
}
.leftArrow {
  position: absolute !important;
  left: 0;
  bottom: -45%;
  width: 13%;
}
.rightArrow {
  position: absolute !important;
  right: 0;
  bottom: -45%;
  width: 13%;
}
.quesImage {
  width: 100%;
  height: 20%;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
}
.quesImage .optItem{
  position: absolute !important;
  width: auto;
  max-width: 35% !important;
  /* height: 90%; */
}
/* #optionsBlock .options div:first-of-type img:first-of-type + img{ */
  /* position: absolute !important; */
  /* width: auto; */
  /* max-width: 93% !important; */
  /* max-height: 55% !important; */
  /* border-radius: .5vmax; */
/* } */

.upArrow {
  left: 1%;
}
.downArrow {
  right: 1%;
}

#optionsBlock .refTxt,
.optionsBlock .refTxt{
  position: absolute;
  bottom: 0%;
	left:0%;
	z-index:2;
}
#container #navBlock {
  position: absolute;
  bottom: 6%;/*0*/
  left: 0%;
  width: 100%;
}
#container #navBlock .navBase{
  position: relative;
  width: auto;
	margin-right: .7%;
}
#container .quesBlock{
	position: absolute;
	left: 0%;
  top: 3%;
	width:100%;
	height: 5.5%;
	display: flex;
	justify-content: center;
  /* align-items: center; */
}
.quesTab{
	width:20%;
	display: inline-flex;
	flex-grow: 1;
	position: relative;
}
.quesTab img{
	vertical-align: text-bottom;
}
#container #navBlock .prevBtn,
#container #navBlock .nextBtn,
#container #navBlock .ansBtn,
#container .quesBlock img,
.bodyContent .speaker img,
#optionsBlock img,
.optionsBlock img,
#navBlock .prevBtn,
#navBlock .nextBtn,
#navBlock .submitBtn,
.close {
	cursor:pointer;
}
#container #navBlock .ansBtn{
  margin-left: .7%;
	width: 3.5%;
}
#navBlock .prevBtn,
#navBlock .nextBtn,
#navBlock .submitBtn{
	width: 3.5%;
	margin-right: .7%;
}
#navBlock .submitBtn{
	width: 7%;
}
#navBlock .nextBtn{
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.tabBody{
	flex-grow: 1;
	margin:0 -1px;
}
.tabLeft, .tabRight, .tabBody{
	width: auto;
  height: 100%;
}
.quesnum{
  position: absolute;
  width: 1vmin;
  height: auto;/*43%;*/
  left: 48%;
  top: 30%;
}
.animation-shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	animation-iteration-count: infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.rightAnsBg{
	animation: scaleit 0.2s ease-in;
}
#correctAns img{
	position:absolute;
	width:70%;
}
#container .instructionBar {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  line-height: 0;
}
#container .modal .instructionBar {
  top: 1%;
}
.instructionBar .instructionBase {
  width: 60%;/*86%;*/
  position: relative;
  cursor: pointer;

}
.instructionBase .instructionText {
  position: absolute;
  top: 0%;
  left:0;
  cursor: pointer;
}
/* Modal */
.modal{
	position: absolute !important;
	width: 100%;
	height: 94%;
	padding-left: 0px;
}
.modal.show{
	display: flex!important;
  justify-content: center;
  align-items: center;
}
.modal-title{
	/* max-width: 10%; */
  /* max-height: 100%; */
  margin-left: 1.5%;
  height: 80%;
}
.close {
	width: auto;
	height: 75%;
  margin-right: .5%;
	margin-top: -.1%;
  -webkit-appearance: inherit !important;
  cursor: pointer;
  opacity: 1 !important;
}
@media (min-width: 1366px){
	.close {
		height: 95%;
    margin-right: .3%;
	}
}
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  opacity: 1 !important;
}
.modal-dialog{
  width: 84% !important;
  /* height: 84% !important;*/
  /*max-width: 80%;
  height: auto;*/

}
.modal-content{
  background: transparent !important;
	border: 0 !important;
  box-shadow: none !important;
	height: 100%;
	min-width: 560px;/*640px;*/
  min-height: 48vmin;/*198px;*/
}
.modal-header{
  padding: .5% !important;
	height: 7vmin;/*56px;*/
  position: relative;
  top: 0;
  width: 100%;
  border: solid .7vmin #85d222;
  border-bottom: none !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #248446;
}
.modal-body{
	padding:2% !important;
	background: #afdec0;
	border: solid .7vmin #85d222;
	border-top:none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.modal-body img{
	/* max-width: 94%; */
}
.modalBodyContent{
	background: #afdec0;
	margin: -1px;
}

.modal-header:before,
.modal-header:after{
  content: none;
}
.modal .quesImage{
	align-self: center;
  margin: 1% auto !important;
  width:95%;
}




/*.modal .quesImage{
	align-self: center;
  margin: 1% auto !important;
}*/
.modal #optionsBlock .options,
.modal .optionsBlock .options {
  width: auto;
  pointer-events: none;
  margin: 1% auto;
}
#container .modal #optionsBlock {
  margin-top: 0;
}
@keyframes scaleit {
	0% {
		transform: scale(.9);
		opacity:.0;
	}
	90% {
		transform: scale(1.1);
		opacity:.7;
	  }
	100% {
		transform: scale(1);
		opacity:1;
	  }
}
#container #navBlock .prevBtn:hover,
#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .3s; /* Safari 4.0 - 8.0 */
  animation-name: moveLeft;
  animation-duration: .3s;
  animation-iteration-count:infinite;
}
#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveRight; /* Safari 4.0 - 8.0 */
  animation-name: moveRight;
}
@keyframes moveLeft {
  0%   {left:3.2%;}
  100% {left:2%;}
}
@keyframes moveRight {
  0%   {right:3.3%;}
  100% {right:2%;}
}
#burst{
	position:absolute;
	z-index:101;
	width:100%;
	height:100%;
}
@media (min-width: 576px){
  .modal-dialog {
      max-width: none !important;
      margin: auto !important;
  }
}
.scaleInAnimation{
	animation: scaleIn 0.1s linear;
	transform: scale(1.2);
}
@keyframes scaleIn{
	0%{
		transform: scale(1.0)
	}
	100%{
   transform: scale(1.2)
	}
}


.scaleOutAnimation{
	animation: scaleOut 0.5s linear;
	transform: scale(1.0);
}

@keyframes scaleOut{
	0%{
		transform: scale(1.2)
	}
	100%{
   transform: scale(1.0)
	}
}

.disableDiv{
  pointer-events: none;
}
.displayPopup {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

/*
confirm modal
*/

#confirmModal {
	/* display: flex;*/
	background: rgba(0,0,0,.85);
}

#confirmModal .modal-dialog {
	width: 50% !important;
	max-width: 100%;
	height: 36%;
	display: flex;
	justify-content: center;
}

#confirmModal .modal-content {
	/* height: auto; */
	min-width: auto;
	min-height: auto;
}

#confirmModal .modal-body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	flex: auto !important;
}

#confirmModal .modal-body .msgImage {
	display: block;/*flex*/
	text-align: center;/*justify-content: center;*/
}

#confirmModal .modal-body .actionButtons {
	text-align: center;
	margin: 3% 0 2%;
	width: 100%;
}

#confirmModal .modal-body .msgImage img {
	width: 100%;
}

#confirmModal .modal-body img {
	max-width: 100%;
}

#confirmModal .modal-body .actionButtons button {
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
	width: 18%;
}

button:focus {
	outline: none;
}

#confirmModal .modal-body .actionButtons img {
	max-width: 80%;
}

#confirmModal .modal-header {
	top: 0;
}

#confirmModal .bodyText {
	position: absolute;
	top: 30%;
	width: 100%;
}

#confirmModal .bodyText img {
	width: 85%;
}

#confirmModal .modal-title {
	margin-left: 3%;
}

#confirmModal .close {
	/* width: 5%; */
	margin: 0 1.6% 0 auto;
}

#confirmModal .modal-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	border-top: none;
	position: absolute;
	width: 100%;
	bottom: 16%;
}

#confirmModal .modal-footer button {
	width: 13%;
	border: none;
	background: transparent;
}

#confirmModal .popupModelBody {
	padding: 0;
}

.videoMainContainer{
  width:100%;
  height:auto;
  position:relative;
  top:0;
  left:0;
  z-index: 101;
}

.video_loader{
	position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}
.video_loader img{
	width:100%;
}
.optionAnimate{
	transform: scale(1.1);
	animation: scaleOption 0.2s linear;
}
.optionUnAnimate{
 animation: unScaleOption 0.2s linear;
}
.removeOptAnimation{
	transform:scale(1.0);
	animation: unScaleOption 0.2s linear;
}
@keyframes scaleOption {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	  }
}
@keyframes unScaleOption {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	  }
}
.greyOut{
  opacity:0.5;
  pointer-events: none;
}
#modalTemp18First{
  	background:rgba(0,0,0,.85);
}
