.hideit{display:none !important;}
.showit{display:block !important;}
.dispFlex{display:flex !important;}
button:focus {outline: none !important;}
#container{
	position: relative;
	padding:0;
}
#container #bgImage img {
	width: 100%;
}
button:focus {
  outline: 0 !important;
}
.quesBase6,
.quesBase5,
.quesBase4,
.quesBase3,
.ansBase{
	width: 11%;
	height: 100%;
  position: relative;
	text-align: center;
	display: flex;
  flex-wrap: wrap;
	justify-content: center;
  align-items: center;
  align-content: space-evenly;
	/* background: #ffe2e2;
	border:solid 6px #cba8a8;
	border-radius: 15px; */
}
.quesBase5{
	width: 13%;
}
.quesBase4{
	width: 17%;
}
.quesBase3{
	width: 22%;
}
.quesBase6{
	width:21%;
}
.ansBase{
	width: 37%;
	height: 35%;
	margin: 0 50px;
  flex-wrap: nowrap;
	justify-content: space-around;
	pointer-events: none;
}
#container #optionsBlock {
	position: absolute;
  top: 20%;/*18%;*/
  width: 85%;/*97%;*/
  left: 7.6%;/*1.6%;*/
  height: 67%;
	display: flex;
  justify-content: space-around;
}
#optionsBlock img{
	cursor:pointer;
	position:relative;
	/* max-width: 286px; */
}
#optionsBlock .options{
	position: relative;
	margin: 0;
	padding: 5px;
	vertical-align: middle;
	width: 95%;/*86%;*/
	display: inline-block;
	/* border: solid 0 transparent;
	border-radius: 9px;
	-moz-box-shadow: inset 0 0 10px #666;
	-webkit-box-shadow: inset 0 0 10px #666;
	box-shadow: inset 0 0 10px #666; */
	/* animation: scaleit 0.4s ease-in; */

	/* animation: scaleit 0.4s ease-in; */
}
#optionsBlock .selectedOption{
	/* border:solid 0 transparent;
	border-radius: 9px;
	-moz-box-shadow: inset 0 0 10px #666;
	-webkit-box-shadow: inset 0 0 10px #666;
	box-shadow: inset 0 0 10px #666; */
}
#optionsBlock .ansBase .options{
  width: 46%;
}
#optionsBlock .refTxt{
  position: absolute;
  bottom: 0%;
	left:0%;
	z-index:2;
}
#container #navBlock {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
}
#container #navBlock .navBase{
  position: relative;
  margin:auto;
  width: 64%;
}
#container #navBlock .prevBtn,
#container #navBlock .nextBtn,
#container #navBlock .ansBtn,
#container #navBlock .quesBlock{
	position: absolute;
  top: 17%;
}
#container #navBlock .prevBtn,
#container #navBlock .nextBtn,
#container #navBlock .ansBtn,
#container #navBlock .quesBlock img{
	cursor:pointer;
}
#container #navBlock .prevBtn{
	left: 3.2%;
}
#container #navBlock .ansBtn{
  left: 22.8%;
  width: 15.2%;
}
#container #navBlock .quesBlock{
	left: 38.1%;
  width: 39%;
}
#container #navBlock .nextBtn{
  right: 3.3%;
}
#navBlock .prevBtn, #navBlock .nextBtn{
	width:19.6%;
}
#navBlock .prevBtn img, #navBlock .nextBtn img{
	cursor:pointer;
}
.quesBlockChild {
	position:absolute;
	top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.quesBlockChild img {
  width: 9%;
	margin: 0 .7%;
}
.quesBlockChild img[src*='quesIconHover.png'] {
  width: 7%;
  margin: 0 1.6%;
}
.animation-shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	animation-iteration-count: infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.positionAnimation{
	animation :reposition 0.5s ease-in;
}

@keyframes reposition{
		0% {left:var(--leftFrom,0px); top:var(--rightFrom,0px)}
	100% {left:var(--leftTo,500px); top:var(--rightTo,500px)}
}

#correctAns{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:100;
	display:flex;
  align-items:center;
	/*background: url(../images/popup.svg) no-repeat center center;*/
  background-size: contain;
	animation: scaleit 0.2s ease-in;
}
.rightAnsBg{
	animation: scaleit 0.2s ease-in;
}
#correctAns img{
	position:absolute;
	width:70%;
}
#container #instructionBar {
  position: absolute;
  top: 10%;
	width: 100%;
	text-align: center;
}
#instructionBar .instructionBase {
  width: 86%;
	position: relative;
}
#instructionBar img {
	cursor:pointer;
}

.instructionBase .instructionText {
  position: absolute;
  top: 0%;
	left:0;
}
.optionAnimate{
	transform: scale(1.1);
	animation: scaleOption 0.2s linear;
}
.removeOptAnimation{
	transform:scale(1.0);
	animation: unScaleOption 0.2s linear;
}
@keyframes scaleit {
	0% {
		transform: scale(.9);
		opacity:.0;
	}
	90% {
		transform: scale(1.1);
		opacity:.7;
	  }
	100% {
		transform: scale(1);
		opacity:1;
	  }
}
@keyframes scaleOption {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	  }
}
@keyframes unScaleOption {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	  }
}
#container #navBlock .prevBtn:hover,
#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .3s; /* Safari 4.0 - 8.0 */
  animation-name: moveLeft;
  animation-duration: .3s;
  animation-iteration-count:infinite;
}
#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveRight; /* Safari 4.0 - 8.0 */
  animation-name: moveRight;
}
@keyframes moveLeft {
  0%   {left:3.2%;}
  100% {left:2%;}
}
@keyframes moveRight {
  0%   {right:3.3%;}
  100% {right:2%;}
}
#burst{
	position:absolute;
	z-index:101;
	width:100%;
	height:100%;
}
/* @media (max-width: 1366px){
	/*.ansBase {
	    height: 27.5%;
	}
}
@media (min-width: 800px) and (max-width: 1024px){
/*	.ansBase {
	    height: 28%;
	}
} */

.disableDiv{
	pointer-events: none ;
}

.reduceOpacity{
	opacity: 0.5;
	pointer-events:none;
}
.disablePointerEvents{
	pointer-events: none !important;
}
.disableDivAudio{
	pointer-events: none;
}
.disableDivWrong{
	pointer-events: none;
	opacity:0.5;
}
.leftSelected{
	position: absolute;
/*	top: var(--topCss1, 24.5%);
  left: var(--leftCss1,12.5%);*/
}
.rightSelected{
	position: absolute;
/*	top: var(--topCss2, 24.5%);
  left: var(--leftCss2,62%);*/
}

.zoomInAnimation{
	animation: zoomIn 0.5s linear;
	transform: scale(var(--scaleValue, 1.2));
}
@keyframes zoomIn{
	0%{
		transform: scale(1.0)
	}
	100%{
   transform: scale(var(--scaleValue, 1.2))
	}
}

.zoomOutAnimation{
	animation: zoomOut 0.5s linear;
	transform: scale(1)
}
@keyframes zoomOut{
	0%{
		transform: scale(var(--scaleValue, 1.2))
	}
	100%{
   transform: scale(1.0)
	}
}



/* Modal classes */
#customModal{
	/*display: none;*/
	background:rgba(0,0,0,.85);
}
#customModal .optionsBlock{
	width: 95%;/*44%*/
}
#customModal .optionsBlock .quesImage{
	height: auto;/*95%;*/
	display: flex;
  flex-direction: column;
  justify-content: center;
}
#customModal .modal-body{
	height: auto;/*91%;*/
	padding: 4% 15px;
	flex: 0;
	min-height: 30vmin;
}
#customModal .options{
	position: relative;
	margin: .7% 0;
}
#customModal .options div{
	/*position: absolute;*/
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:1%;
}
#customModal .options div img{
	width: 48%;
}


/*confirm modal*/

/* .confirm_modal_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
} */

#confirmModal {
	/* display: flex;*/
	background:rgba(0,0,0,.85);
}
#confirmModal .modal-dialog {
  width: 50% !important;
	max-width: 100%;
	height: 36%;
	display: flex;
  justify-content: center;
}
#confirmModal .modal-content {
  /* height: auto; */
  min-width: auto;
  min-height: auto;
}
#confirmModal .modal-body {
  padding: 0;
  margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	flex: auto !important;
}
#confirmModal .modal-body .msgImage {
	display: block;
	text-align: center;
}
#confirmModal .modal-body .actionButtons{
	text-align: center;
	margin: 3% 0 2%;
	width: 100%;
}
#confirmModal .modal-body .msgImage img {
	width: 100%;
}
#confirmModal .modal-body .actionButtons button {
	border:none;
	background: transparent;
	padding:0;
	margin:0;
	width: 18%;
}
button:focus {
    outline: none;
}
#confirmModal .modal-body .actionButtons img {
	max-width: 80%;
}
#confirmModal .modal-header {
	top:0;
}
#confirmModal .bodyText {
  position: absolute;
  top: 30%;
  width: 100%;
}
#confirmModal .bodyText img {
  width: 85%;
}
#confirmModal .modal-title {
  margin-left: 3%;
  font-size: auto;
}
#confirmModal .close {
  /* width: 5%; */
  margin: -.1% 1.6% 0 auto	;
}
#confirmModal .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-top: none;
  position: absolute;
  width: 100%;
  bottom: 16%;
}
#confirmModal .modal-footer button {
  width: 13%;
  border: none;
  background: transparent;
}
#confirmModal .popupModelBody {
  padding: 0;
}
.displayPopup {
	display: -webkit-box !important;
  /* transition: all 2s ease-in-out;
  transform: scale(1.2); */
}


.modal{
	position: absolute !important;
  width: 100%;
	height: 94.2%;/*93.6%;*/
	z-index: 999 !important;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
#customModal .modal-dialog{
	width: 30%;
	/* min-height: 49%; */
  width: 100%;
  /* height: 95%; */
}
.modal-content{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	height: 100%;
	width: 100%;
/*	position: absolute !important;*/
	top: 0;
}
.modal-header{
	/* padding: 0 !important;
  height: 9.5%;
  border-bottom:none !important;
	align-items: center; */
}



.modal-header{
	padding: .5% !important;
	height: 7vmin; /*56px;*/
	position: relative;
	top: 0;
	width: 100%;
	border-bottom: none !important;
	margin-bottom: -1px;
	/*
	border: solid .7vmin #85d222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #248446;
	*/
}
.modal-body{
	padding:2%;

	/*
	border-top:none;
	background: #afdec0;
	border: solid .7vmin #85d222;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	*/
}




.modal-title{
  margin-left: 3.5%;
	height: 70%;
}
.close {
  height: 90%;/*auto;*/
  /* width: 6%; */
  margin-right: 1.6%;
  margin-top: -.2%;
  cursor: pointer;
  opacity: 1 !important;
	margin-left: auto;
	cursor:pointer;
}
#customModal .close {
  /* width: 9%; */
}
.close:focus, .close:hover {
  /*color: #000;
  text-decoration: none;
  opacity: 1;*/
}
html [type=button] {
    -webkit-appearance: none;
}
.modal-body{
	padding:0;
}
.modalBodyContent{
	width:29%;
	/* background: #afdec0;
	margin: -1px; */
}
@media (min-width: 576px){
#customModal .modal-dialog {
    max-width: 30% !important;/*32%*/
    margin: 1.4% auto !important;
	}
}


.fullWidth{
	width:100%;
}
