.hideit{display:none !important;}
.showit{display:block !important;}
.dispFlex{display:flex !important;}
button:focus {outline: none !important;}
body{font-family: Trebuchet MS, sans-serif;}
*, *:before, *:after {
  box-sizing: border-box;
}
#container{
	position: relative;
	padding:0;
}
button:focus {
  outline: 0 !important;
}
#container #bgImage img {
	width: 100%;
}
#container #consoleBlock {
	position: absolute;
  top: 11.5%;
  width: 100%;
  left: 0;
  height: 74%;/*76%;*/
}
#container .consoleBase {
  /* background: #666;
	border: solid 2px #000;
	border-radius: 205px; */
  width:92%;
  height: 100%;
  position: relative;
}
#container .rowTop,
#container .rowMid,
#container .rowBtm{
  position: absolute;
  width: 100%;
}
#container .rowTop{
  top: 1.5%;
}
#container .rowMid{
  top: 9.5%;
}
#container .rowBtm{
  bottom: 2%;
}
#container .rowTop .optionsBlock,
#container .rowBtm .optionsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container .rowTop .optionsBlock div,
#container .rowBtm .optionsBlock div {
  width: 11%;
  margin: 0 1%;
}
#container .rowTop .optionsBlock img,
#container .rowBtm .optionsBlock img{
  /* width: 11%; */
  /* margin: 0 1%; */
}
#container .rowMid .optionsBlock{
  margin: auto;
}
#container .rowMid .optionsBlock div{
  margin: 18% auto;
  width: 90%;
  display: inline-block;
}
#container .rowMid .optionsBlock img{
  /* margin: 18% 0;
  width: 90%; */
}
#container .rowMid {
  height: 77%;
  margin: .8% 0;
  display: flex;
  justify-content: space-between;
}
#container .rowMid .colLeft,
#container .rowMid .colRight {
  width: 12%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}
#container .rowMid .colMid {
  background: #c2c2c2;
	border: solid 1px #000;
	border-radius: 33px;/*19vmin;*/
  width:76%;
  position: relative;
}
@media (max-width: 1366px){
  #container .rowMid .colMid {
  	border-radius: 24px;
  }
}
@media (max-width: 1024px){
  #container .rowMid .colMid {
  	border-radius: 22px;
  }
  .colMid .durationTime{
    right: .3% !important;
  }
}
@media (max-width: 900px){
  #container .rowMid .colMid {
  	border-radius: 17px;
  }
  .colMid .durationTime{
    right: .2% !important;
  }
}
.colMid .durationTime{
  background: #9a9a9a;
	border: solid 1px #000;
	border-radius: 50px;/*19vmin;*/
  padding: 0 2.7%;
  position: absolute;
  right: .25%;
  top: .4%;
  font-size: 3.5vmin;
}
.quesImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.quesImg img {
  max-height: 100%;
}
.passBtn,
.teamDetails{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3.5%;
}
.rowTop .passBtn,
.rowTop .teamDetails,
.rowBtm .passBtn,
.rowBtm .teamDetails {
  top: 0;
  right: 25.5%;
}
.rowTop .teamDetails,
.rowBtm .teamDetails{
  right: 20.5%;
  width: 4%;
}
.rowMid .colLeft .passBtn,
.rowMid .colLeft .teamDetails,
.rowMid .colRight .passBtn,
.rowMid .colRight .teamDetails {
  height: auto;
  bottom: 7%;
  right: 52%;
  width: 30%;/*34%*/
}
.rowMid .colLeft .teamDetails,
.rowMid .colRight .teamDetails {
  right: 14%;
  width: 33%;
}
.passBtn img{
  cursor: pointer;
}
.teamDetails .teamNameBase {
  max-width: 70%;
}
.teamDetails .teamName{
  position: absolute;
  max-width: 39%;
}
.rowMid .teamDetails .teamName{
  max-width: 33%;
}
.teamDetails .gradeCircle{
  position: absolute;
}
@media (max-width: 1600px){
  #container .consoleBase {
  	/* border-radius: 176px; */
  }
}

.rightAnsBg{
	animation: scaleit 0.2s ease-in;
}
#correctAns img{
	position:absolute;
	width:70%;
}
#container .instructionBar {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}
#container .modal .instructionBar {
  top: 1%;
}
.instructionBar .instructionBase {
  width: 86%;/*52%;*/
  position: relative;
}
.instructionBase .instructionText {
  position: absolute;
  top: 0%;
	left:0;
}
/* Modal */
.modal{
	position: absolute;
	width: 100%;
  height: 100%;
  padding-left: 0px;
}
.modal.show{
	display: flex!important;
  justify-content: center;
  align-items: center;
}
.modal-title{
	/* max-width: 10%; */
  /* max-height: 100%; */
  margin-left: 1.5%;
  height: 80%;

}
.close {
	width: auto;
	height: 75%;
  margin-right: .5%;
	margin-top: -.1%;
  -webkit-appearance: inherit !important;
  cursor: pointer;
  opacity: 1;
}
@media (min-width: 1366px){
	.close {
		height: 95%;
    margin-right: .3%;
	}
}
.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  opacity: 1;
}
.modal-dialog{
	/* width: 30%; */
	max-width: 80%;
	height: auto;/*100%;*/
}
.modal-content{
	background: transparent;
	border: 0;
	height: 100%;
	min-width: 540px;/*640px;*/
  min-height: 300px;/*198px;*/
}
.modal-header{
	padding: .5%;
	height: 7vmin;/*56px;*/
  position: relative;
  top: 0;
  width: 100%;
  border: solid .7vmin #85d222;
  border-bottom: none !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #248446;
}
.modal-body {
	padding:2%;
	background: #afdec0;
	border: solid .7vmin #85d222;
	/* border-top:none; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.modal-body img{
	max-width: 94%;
}
.modalBodyContent{
	background: #afdec0;
	margin: -1px;
}
.modal .quesImage{
	align-self: center;
  margin: 1% auto !important;
}
@keyframes scaleit {
	0% {
		transform: scale(.9);
		opacity:.0;
	}
	90% {
		transform: scale(1.1);
		opacity:.7;
	  }
	100% {
		transform: scale(1);
		opacity:1;
	  }
}
#container #navBlock .prevBtn:hover,
#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveLeft; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: .3s; /* Safari 4.0 - 8.0 */
  animation-name: moveLeft;
  animation-duration: .3s;
  animation-iteration-count:infinite;
}
#container #navBlock .nextBtn:hover {
  -webkit-animation-name: moveRight; /* Safari 4.0 - 8.0 */
  animation-name: moveRight;
}
@keyframes moveLeft {
  0%   {left:3.2%;}
  100% {left:2%;}
}
@keyframes moveRight {
  0%   {right:3.3%;}
  100% {right:2%;}
}
#burst{
	position:absolute;
	z-index:101;
	width:100%;
	height:100%;
}
.optionsBlock img{
  cursor:pointer !important;
  z-index: 1;
}
.faintOpt{
  opacity: 0.5;
}

.disableDiv{
  pointer-events: none;
}

.videoMainContainer{
  width:100%;
  height:auto;
  position:absolute;
  top:0;
  left:0;
  z-index: 101;
}

.disableTeam{
  opacity:0.5;
  pointer-events: none;
}


.modal {
  position: absolute !important;
  width: 100%;
  z-index: 100 !important;
  height: 94.2%; /*93.6%*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
/*
confirm modal
*/

#confirmModal {
	/* display: flex;*/
	background:rgba(0,0,0,.85);
}
#confirmModal .modal-dialog {
  width: 50% !important;
	max-width: 100%;
	height: 36%;
	display: flex;
  justify-content: center;
}
#confirmModal .modal-content {
  /* height: auto; */
  min-width: auto;
  min-height: auto;
  background-color: transparent;
}
#confirmModal .modal-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  flex: auto !important;
}
#confirmModal .modal-body .msgImage {
  display: block;/*flex*/
  text-align: center;/*justify-content: center;*/
}
#confirmModal .modal-body .actionButtons{
  text-align: center;
  margin: 3% 0 2%;
  width: 100%;
}
#confirmModal .modal-body .msgImage img {
	max-width: 100%;
  height: auto !important;
}
#confirmModal .modal-body .actionButtons button {
	border:none;
	background: transparent;
	padding:0;
	margin:0;
	width: 18%;
}
button:focus {
    outline: none;
}
#confirmModal .modal-body .actionButtons img {
	width: 80%;
}
#confirmModal .modal-header {
	top:0;
}
#confirmModal .bodyText {
  position: absolute;
  top: 30%;
  width: 100%;
}
#confirmModal .bodyText img {
  width: 85%;
}
#confirmModal .modal-title {
  margin-left: 3%;
  font-size: auto;
}
#confirmModal .close {
  /* width: 5%; */
  margin: -.1% 1.6% 0 auto	;
}
#confirmModal .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-top: none;
  position: absolute;
  width: 100%;
  bottom: 16%;
}
#confirmModal .modal-footer button {
  width: 13%;
  border: none;
  background: transparent;
}
#confirmModal .popupModelBody {
  padding: 0;
}


.displayPopup {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

/*score borad modal*/

/* Modal */
#modalTemp8{
	position: absolute;
	width: 100%;
 /* height: 100%;*/
  padding-left: 0px;
  background:rgba(0,0,0,.85);
}
#modalTemp8 .modal.show{
	display: flex!important;
  justify-content: center;
  align-items: center;
}

#modalTemp8 .modal-title{
	/* max-width: 10%; */
  /* max-height: 100%; */
  margin-left: 1.5%;
  /* height: 80%; */
  width: 25.5vmin;
}
#modalTemp8 .closeScoreBoard {
	width: 4%;/*4.5vmin*/
	/* height: 75%; */
  /* margin-right: .5%;
	margin-top: -.1%; */
  -webkit-appearance: inherit !important;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  top: 1%;
  right: 0.5%;
  z-index: 1;
}
@media (min-width: 1366px){
	.closeScoreBoard {
    width: 4.5vmin;
    margin-right: .2%;
	}
}
@media (max-width: 1024px){
	.closeScoreBoard {
    margin-right: .2%;
	}
}
#modalTemp8 .modal-dialog{
	width: 67%;
	max-width: 80%;
	height: auto;/*100%;*/
}
#modalTemp8 .modal-content{
	background: transparent;
	border: 0;
	height: 100%;
	/* min-width: 540px;
  min-height: 300px; */
}

.modal-header{
	padding: .5% !important;
}
#modalTemp8 .modal-body{
	padding:2%;
	background: #2B3B52;
	border: solid .2vmin #fff;
	border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
#modalTemp8 .dataBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;/*76%*/
}
#modalTemp8 .dataBlock .itemData{
  width: 16%;
  margin: 0 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modalTemp8 .dataBlock .itemData img{
  margin: 5% 0;
}
#modalTemp8 table td{
  text-align: center;
}
/* .modal-body img{
	max-width: 60%;
  margin: 4% 0;
} */
#modalTemp8 .modalBodyContent{
	background: #afdec0;
	margin: -1px;
}
#modalTemp8 .modal .quesImage{
	align-self: center;
  margin: 1% auto !important;
}
.displayScoreBoard{
    display: flex!important;
    justify-content: center;
    align-items: center;
}

/* Modal Feedback classes begin */
.teamNames {
  position: absolute;
  width: 99.6%;
  top: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: .2%;
}
.teamNames .teamDetails{
  position: relative;
  width: 25%;
  flex-wrap: wrap;
}
.teamNames .teamDetails div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.teamNames .teamDetails .rightAns {
  padding: 33.4% 0;
  width: 100%;
  border-top: solid .3vmin #8da3ab;
  border-right: solid .3vmin #8da3ab;
  border-bottom: solid .3vmin #8da3ab;
  margin-bottom: 0;
}
.teamNames .teamDetails:last-child .rightAns {
  border-right: none;
}
.teamNames .teamDetails .rightAns.borderR {
  /* border-right: solid .3vmin #8da3ab; */
}
.rightAns img {
  max-width: 70% !important;
  position: absolute;
}
.teamNames .teamDetails .teamNameBase {
  max-width: 17%;
}
.teamNames .teamDetails .team{
  max-width: 11%;
  position: absolute;
}
#modalfeedback {
  background: rgba(0,0,0,.85);
  position: absolute !important;
}
#modalfeedback .close {
  right: .7%;
  top: 2%;
  position: absolute;
  height: 7%;
}
#modalfeedback .modal-content {
  min-height: 289px;
}
#modalfeedback .modal-dialog{
  width: auto;
  max-width: 97.5%;
}
#modalfeedback .modal-body{
	background: transparent;
	border: none;
	border-radius: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container #modalfeedback .instructionBar {
  top: 3%;
}
#modalfeedback .instructionBase {
  width: 59%;
}
#modalfeedback .modal-content {
  box-shadow: none;
  background: transparent !important;
  border: none;
}
.navigate {
  position: absolute;
  bottom: 2%;
  width: 92%;
}
.navigate img {
  margin-left: 1.2%;
  cursor: pointer;
  max-width: 5.5%;
}
.disableBtn{
	opacity: 0.5;
	pointer-events: none;
}

.zidx{
  z-index:1;
}
/* Modal Feedback classes end */
.videoClose{
  width: 3.5%;
  height: 6%;
  border: solid .1vmax #000;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 9.1%;
  bottom: 7%;
  z-index: 100;
  cursor: pointer;
}
.videoClose:hover{
  background: #fff;
}
.videoClose div{
  width: 35%;
  height: 35%;
  background: #f00;
}