#container .hideit{display:none !important;}
.showit{display:block}
.dispFlex{display:flex !important;}
.visibleNo{visibility:hidden !important;}
.visibleYes{visibility:visible !important;}
.pauseAnim{	animation-play-state: paused;}

#container #navBlock {
    position: absolute;
    top: 83%;
    left: 0%;
    width: 100%; 
}
#container #navBlock .prevBtn{
    margin-left: 4%;
	text-align:right;
}
#container #navBlock .nextBtn{
    margin-right: 4%;
	position:relative;
}
#navBlock .prevBtn, #navBlock .nextBtn{
	width:8%;
}
#navBlock .prevBtn img, #navBlock .nextBtn img{
	cursor:pointer;
}
#help{
	position: absolute;
	width: 4%;
	/*right: 0.5%;*/
	left:0.5%;
	top: 82%;
	
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	display: block!important;
	position: absolute;
	top: 0%;
	left: 0%;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

.temp1 .speakerBtn{
	width:18%;
	position:absolute;
	left:41%;
	top: 60%;
}
.speaker {
	width: 91%;
    padding-bottom: 87%;
    margin: 0% auto;
   	background: url(../../../assets/images/content02/speakerSprite02.png) 0 0;
    background-size: 400%;
    -webkit-animation: play 1.2s steps(4) infinite;
    animation: play 1.2s steps(4) infinite;
    position: absolute;
    top: -14%;
    left: -3%;
    display: none;
    pointer-events: none;
    z-index: 10;
}
@-webkit-keyframes play {
   from { background-position:    400%; }
     to { background-position: 0%;  }
}
@-moz-keyframes play {
   from { background-position:    400%; }
     to { background-position: 0%;  }
}
@keyframes play {
   from { background-position:    400%; }
     to { background-position: 0%;  }
}
.temp1 #speaker {
    position: absolute;
    top: 0%;
    right: 7%;/*12.5%;*/
	width: 69%;/*90%;*/
}
.animation-shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	/* transform: translate3d(0, 0, 0); */
	backface-visibility: hidden;
	perspective: 1000px;
	animation-iteration-count: infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@keyframes scaleit {
	0% {
		transform: scale(.7);
	}
	90% {
		transform: scale(1);
	  }
}
#burst{
	position:absolute;
	z-index:101;
	width:100%;
	height:100%;
}
@media (min-width: 800px) and (max-width: 1299px){ 
#navBlock .prevBtn, #navBlock .nextBtn{
	/*width:90px;
	height:35px;*/
}
}

.aagebadho {
   /* background: url(../../../assets/images/aagey.svg) no-repeat;
    background-size: 100% 100%;
    height: 40px !important;*/
}
.aagebadho:hover {
   /* background: url('../../../assets/images/aageyHover.svg') no-repeat;
	background-size: 100% 100%;
     height: 40px !important;
	cursor:pointer;*/
}
.peechejao {
	width:4%
    /*background: url(../../../assets/images/peechey.svg) no-repeat;
    background-size: 100% 100%;
     height: 40px !important;*/
}
.peechejao:hover {
	width:4%
    /*background: url('../../../assets/images/peecheyHover.svg') no-repeat;
	background-size: 100% 100%;
     height: 40px !important;
	cursor:pointer;*/
}


#container #zaariRakheinId {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 100%;
}
#zaariRakheinId .zaariRakheinBtn {
   width: 16%;
    margin-top: .5%;
    margin-right: 7.5%;
    float: right;
    cursor: pointer;
}

#container #activity {
                position: absolute;
                width: 100%;
                top: 10%;
}
#container  #activityTitle {
                top: 0;
                left:0;
                position: absolute;
                width: 100%;
}

.title_class{
	font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
} 

.disable{
	pointer-events:none;
}
.disable-click{
	pointer-events:none;
	opacity:0.5;
}
.disappear-button{
	visibility:hidden;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink_btn{
	/*background: url(../../../assets/images/aageyBlink.svg) no-repeat;
    background-size: 100% 100%!important;
    height: 40px!important;
	width: 100%;
    top: 0;
    left: 0;*/
	display:none;
	width:100%;
	cursor: pointer;
}
.pointer{
	cursor:pointer;
}
.disable_div{
	pointer-events:none;
}
@media (max-width: 1024px){ 
	.opt0, .opt1, .opt2 {
		width: 68.7%;
	}
	.options .lipsync {
		bottom: 6.8%;
	}
	.opt1 .lipsync{
		bottom: 5.3%;
	}	
	.opt2 .lipsync{
		bottom: 6.4%;
	}	
}


#container{
	position: relative;
	padding:0;
}
#container #bgImage img {
	width: 100%;
}
#container #optionsBlock {
	
    position: absolute;
    top: 8%;
    width: 100%;
    left: 0%;
}
#optionsBlock .options ,
#optionsBlock .options ,
#optionsBlock .options ,
#optionsBlock .options ,
#optionsBlock .options {
	cursor:pointer;
}
.opt0, .opt1, .opt2, .opt3, .opt4 {
	/*position: absolute;
	display:inline-block;
	left: 17%;*/
	position: relative;
	top: 0;
	width: 68.14%;
	padding-bottom: 61%;
	margin: 0% auto;
	background: url('../../../assets/images/opt1spritetemp1.png') center center;
	background-size: 1800%;
	animation: optplay 1.6s steps(18) infinite;
	animation-delay: -1s;
	/*display:none;*/
}
.opt1 {
	background: url('../../../assets/images/opt2spritetemp1.png') 0 0;
	background-size: 1800%;
	animation-delay: 1s;
}
.opt2 {
	background: url('../../../assets/images/opt3spritetemp1.png') 0 0;
	background-size: 1800%;
	animation-delay: 1.5s;
}
@-webkit-keyframes optplay {
	from { background-position:    1800%; }
	to { background-position: 0%;  }
}
@-moz-keyframes optplay {
	from { background-position:    1800%; }
	to { background-position: 0%;  }
}
@keyframes optplay {
	from { background-position:    1800%; }
	to { background-position: 0%;  }
}
#optionsBlock #opt0, #optionsBlock #opt1, #optionsBlock #opt2,#optionsBlock #opt3,#optionsBlock #opt4{
    width: 32.1%;
    /*position:absolute;*/
	display:inline-block;
    left: 0;
}
/*#optionsBlock #opt1{
	left: 33.1%;
}
#optionsBlock #opt2{
	left: 66.2%;
}*/
.options .lipsync, .options .lip{
    position: absolute;
    bottom: 6.8%;
    left: 37%;
    width: 21%;
}

.opt1 .lipsync, .opt2 .lipsync, .opt1 .lip, .opt2 .lip{
    bottom: 5.3%;
    left: 40%;
}
.opt2 .lipsync, .opt2 .lip{
    bottom: 6.4%;
}
#autoPlayOnOffContainer{
	width:15%;
	position:absolute;
	right:0.5%;
	bottom:1%;
}
.fadeInAnimation {
    opacity: 1;
    animation: fadeIn 0.3s linear;
}

.fadeOutAnimation {
	opacity:0;
    animation: fadeOut 0.3s linear;
}
@keyframes fadeOut{
	0%   {opacity: 1;}
    25%  {opacity: 0.75;}
    50%  {opacity: 0.50;}
    75%  {opacity: 0.25;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
	0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.50;}
    75%  {opacity: 0.75;}
    100% {opacity: 1;}
}


