#container .hideit {
  display: none !important;
}

.showit {
  display: block !important;
}

.dispFlex {
  display: flex !important;
}

#container {
  position: relative;
  padding: 0;
}

#container #bgImage img {
  width: 100%;
  position: relative;
}

#container #optionsBlock {
  position: absolute;
  /*top: 46%; /*6.7%*/
  width: 84%;
  left: 8%;
  top: 15%;
}

#container #ansBlock {
  /*width: 18%;*/
  /*position: relative;*/
  width: 100%;
  /* 18% updated on 11 April */
  /*right: 9%;*/
}

#container #ansBlock img {
  /*position: relative;*/
  width: 100%;
}

#ansBlock .maincontent_inner {
  position: relative;
}

#ansBlock .options {
  text-align: right;
  position: relative;
  float: left;
  margin: 0 0.2%;
}

.option_img {
  position: absolute;
  top: 0;
  left: 0;
}

.maincontent_inner {
  width: 100%;
}

#ansBlock .options img {
  /* cursor: pointer; */
}

#optionsBlock #optimage0,
#optionsBlock #optimage1,
#optionsBlock #optimage2,
#optionsBlock #optimage3,
#optionsBlock #optimage4 {
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  left: 0%;
  pointer-events: none;
}


#playPauseBtn {
	position: absolute;
	top: 86%;
	right: .7%;
	cursor: pointer;
	width: 3.5%;
  }

#SkipBtn {  
	position: absolute;
	top: 86%;
	/*85%*/
	right: 5%;
	/*16%*/
	cursor: pointer;
	width: 3.5%;
	/*1.5%*/
  }


#quesImage {
  width: 100%;
  /* position: absolute;*/
  /*left: 10%;*/
  position: relative;
}

#quesImage img {
  top: 0;
  left: 0;
  width: 100%;
}

#ansBlock .ansOption {
  text-align: right;
  width: 100%;
  position: relative;
  margin-top: 5px;
}

.option_block {
  /*width:100%;
	position:absolute;
	top:0;
	left:0;*/
}

.animation-shake {
  animation: shake 0.6s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#optionImage {
  width: 100%;
  height: 100%;
  padding: 0px 2%;
  ;
}

#optionImage img {
  width: 100% !important;
  float: left;
}

.option_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.correctAns {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9215686274509803);
  z-index: 100;
  display: flex !important;
  align-items: center !important;
}

.img_resize {
  width: 80%;
}

.rightAnsBg {
  animation: scaleit 0.2s ease-in;
}

.disable-click {
  pointer-events: none;
  opacity: 0.3;
}

.title_class {
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

/* css update begins - 27 March */
/*
#correctAns img{
	position:absolute;
	width:70%;
	animation: scaleit 0.2s ease-in;
}
*/
/* css update ends - 27 March */
@keyframes scaleit {
  0% {
    transform: scale(.7);
  }

  90% {
    transform: scale(1);
  }
}

#burst {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
}

/* css update begins - 27 March */
.questionImg {
  position: relative;
  top: 0%;
  left: 0%;
  padding-right: 17%;
}

.ansImage {
  width: 50%;
  position: relative;
  float: left;
  padding: 10px;
}

.modal .ansImage {
  width: 43%;
  position: relative;
  float: none;
  padding: 10px;
  margin: 10% 0 3%;
}

.disappear-button {
  visibility: hidden;
}

.blink {
  display: block;
  position: absolute;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes blinker {
  50% {
    opacity: .5;
  }
}

.disable_div {
  pointer-events: none;
}

/* css update ends - 27 March */

.selected_opt_outer {
  height: auto;
  position: absolute;
  z-index: 1;
  width: 84%;
  left: 8%;
  top: 15%;
}

.selected_opt {
  width: 100%;
  float: left;
  position: relative;
}

.selected_ans {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0%;
  left: 0%;
}

.selected_opt img {
  width: 100% !important;
}

.blink_state1 {
  width: 100% !important;
  /*animation: state1 10s linear infinite;*/
  /*-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;*/
}

.blink_state2 {
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  animation: state2 normal .8s infinite ease-in-out;
  /*-webkit-animation-name: state2;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;*/
}

/*
@keyframes state1 {
  0%, 40% {
    display:block;
  }
  40%,100% {
    display:none;
  }
}

@keyframes state2 {
  0%, 60% {
    display:none;
  }
  60%,100% {
    display:block;
  }
}
*/
@-webkit-keyframes state2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*@keyframes state2 {
  0%, 40% {
    display:block;
  }
  40%,100% {
    display:none;
  }
}*/
#autoPlayOnOffContainer {
  width: 15%;
  position: absolute;
  right: 0.5%;
  bottom: 1%;
}

.fadeInAnimation {
  opacity: 1;
  animation: fadeIn 0.3s linear;
}

.fadeOutAnimation {
  opacity: 0;
  animation: fadeOut 0.3s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

#container #instructionBar {
  position: absolute;
  top: 8.5%;
  width: 100%;
  text-align: center;
  z-index: 99;
}

#instructionBar .instructionBase {
  width: 58%;
  position: relative;
  cursor: pointer
}

.instructionBase .instructionText {
  position: absolute;
  top: 0%;
  left: 0;
}



/* Modal Classes begin*/
/*confirm modal*/

.confirm_modal_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

#confirmModal {
  /* display: flex;*/
  background: rgba(0, 0, 0, .85);
}

#confirmModal .modal-dialog {
  width: 50% !important;
  max-width: 100%;
  height: 36%;
  display: flex;
  justify-content: center;
}

#confirmModal .modal-content {
  /* height: auto; */
  min-width: auto;
  min-height: auto;
}

#confirmModal .modal-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  flex: auto !important;
}

#confirmModal .modal-body .msgImage {
  display: block;
  /*flex*/
  text-align: center;
  /*justify-content: center;*/
}

#confirmModal .modal-body .actionButtons {
  text-align: center;
  margin: 3% 0 2%;
  width: 100%;
}

#confirmModal .modal-body .msgImage img {
  width: 100%;
}

#confirmModal .modal-body img {
  max-width: 100%;
}

#confirmModal .modal-body .actionButtons button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 18%;
}

button:focus {
  outline: none;
}

#confirmModal .modal-body .actionButtons img {
  max-width: 80%;
}

#confirmModal .bodyText {
  position: absolute;
  top: 30%;
  width: 100%;
}

#confirmModal .bodyText img {
  width: 85%;
}
#confirmModal .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-top: none;
  position: absolute;
  width: 100%;
  bottom: 16%;
}

#confirmModal .modal-footer button {
  width: 13%;
  border: none;
  background: transparent;
}

#confirmModal .popupModelBody {
  padding: 0;
}

.displayPopup {
  display: -webkit-box !important;
}

.modal {
  position: absolute !important;
  width: 100%;
  z-index: 100 !important;
  height: 94%;
  /*93.6%*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.modal.show {
  display: -webkit-box !important;
}

.modal-dialog {
  max-width: 80%;
  height: auto;
}

.modal-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  /* height: 100%; */
  /* min-width: 560px; */
  /*450px;*/
  /* min-height: 50vmin; */
  /*350px;*/
}

.modal-body {
  padding: 2%;
  /*
	background: #afdec0;
	border: solid .7vmin #85d222;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: none !important;
	*/
  flex: auto !important;
  justify-content: space-around;
  align-items: center;
}

.modalBodyContent {
  background: #afdec0;
  margin: -1px;
}

.modal .quesImage {
  align-self: center;
  margin: 1% auto !important;
}

html [type=button] {
  -webkit-appearance: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 81% !important;/*70%*/
  }
}


.adjust_top {
  margin-top: 1.1%
}

body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

.countdownModule {
  width: 13%;
  height: 20%;
  position: absolute;
  top: 42%;
  left: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown {
  margin: auto;
  height: 100%;
  /*7.4%; 40px;*/
  width: 100%;
  /*4.2%; 40px;*/
  text-align: center;
  position: absolute;
  z-index: 9999999;
  top: 0;
  /*45%;*/
  left: 0;
  /*50%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline: none !important;
}


.scaleInAnimation {
  animation: scaleIn 0.3s linear;
  transform: scale(1.05);
}

@keyframes scaleIn {
  0% {
    transform: scale(1.0)
  }

  100% {
    transform: scale(1.05)
  }
}


.scaleOutAnimation {
  animation: scaleOut 0.3s linear;
  transform: scale(1.0);
}

@keyframes scaleOut {
  0% {
    transform: scale(1.05)
  }

  100% {
    transform: scale(1.0)
  }
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 2.7;
  /*40px;*/
  font-size: 2.5vmax;
}

svg {
  position: absolute;
  /* top: 0;
	right: 0; */
  width: 77%;
  /*40px;*/
  height: 87%;
  /*40px;*/
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#circle1 {
  stroke-dasharray: 242%;
  /*113px;*/
  stroke-dashoffset: 0%;
  /*0px*/
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 5s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0%;
    /*0px*/
  }

  to {
    stroke-dashoffset: 242%;
    /*113px;*/
  }
}

.videoMainContainer {
  width: 100%;
}

.videoWrapper {
  width: 99.9%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.videoMainContainer .videoBg {
  opacity: 0;
}

.disableDiv {
  cursor: default;
}

.disableNavBtn {
  opacity: 0.5;
  pointer-events: none;
}
