<div class="container-fluid ele temp14" id="container">
    <audio #narrator [src]="quesObj?.quesInstruction?.url"></audio>
    <audio #wrongFeedbackAudio ></audio>
    <div id="bgImage"><img class="img-fluid" [src]="commonAssets?.background?.url" (load)="checkImgLoaded();" /></div>
    <div class="d-flex flex-row justify-content-around instructionBar" id="instructionBar">
      <div class="instructionBase" [ngClass]="{'classOpacity':instructionOpacity}"
        [ngStyle]="{'cursor': !instructionDisable ? 'pointer' : 'default' }">
        <img class="img-fluid" [src]="commonAssets?.instruction_bg?.url" (click)="playHoverInstruction()"
          (load)="checkImgLoaded();" />
        <audio #instruction [src]="commonAssets?.instruction?.url"></audio>
      </div>
    </div>
    <div class="bodyContent" [ngClass]="{'disable_div':disable,'classOpacity':bodyContentOpacity}">
      <div class="refQues" [ngClass]="{'disable_div':!clickableImg}" (click)="replayaudio_video()">
        <img class="img-fluid" [src]="quesObj?.quesImgBG?.url" (load)="checkImgLoaded();">
        <img class="img-fluid refQuesImg" [src]="quesObj?.quesImg?.url" (load)="checkImgLoaded();">
        <div *ngIf="displayWave" class="waveAnimation">
          <img class="img-fluid refQuesImg" [src]="quesObj?.speakersprite1?.url">
          <img class="img-fluid refQuesImg" [src]="quesObj?.speakersprite2?.url">
          <img class="img-fluid refQuesImg" [src]="quesObj?.speakersprite3?.url">
        </div>
        <audio #questionAudio [src]="quesObj?.quesAudio?.url"></audio>
      </div>
      <div class="row mx-0" id="optionsBlock" #optionsBlock
        [ngClass]="{'optionswithFour': commonAssets?.noofOptions == 4,'disable_div':disableDiv}">
        <div id={{idx}} class="my-auto quesImage" *ngFor="let optArr of optionObj;let idx = index">
          <div id="{{idx+''+idxx}}" class="options" *ngFor="let opt of optArr.optionsArr;let idxx = index">
            <img class="img-fluid" [src]="opt?.imgsrc?.url" (load)="checkImgLoaded();"
              (click)="onClickoption(opt,idx,idxx)"
              (mousemove)="optionHover(opt,idx,idxx)" (mouseleave)="onHoverOptionOut(opt,idx,idxx)">
            <audio #optionAudio></audio>
          </div>
        </div>
      </div>
    </div>
    <!-- The Confirmation Modal -->
    <div class="modal" id="confirmModal" [ngClass]="{'displayPopup':displayconfirmPopup}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="feedbackObj?.confirm_popup?.style_header">
            <img class="modal-title" [src]="feedbackObj?.confirm_popup?.headerTxt_img?.url">
            <img class="close" [src]="confirmPopupAssets?.close_btn?.url" (click)="sendFeedback('confirm-modal-id','no');"
              (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
          </div>
  
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="feedbackObj?.confirm_popup?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="confirmPopupAssets?.confirm_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="sendFeedback('confirm-modal-id','yes');" (mousemove)="hoverConfirm()"
                (mouseleave)="houtConfirm()"><img class="img-fluid" [src]="confirmPopupAssets?.confirm_btn?.url"></button>
              <button type="button" (click)="sendFeedback('confirm-modal-id','no');" (mousemove)="hoverDecline()"
                (mouseleave)="houtDecline()"><img class="img-fluid" [src]="confirmPopupAssets?.decline_btn?.url"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The onSubmit Modal -->
    <div class="modal" id="confirmModal" [ngClass]="{'displayPopup':displaysubmitconfirmPopup}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="submitPopupAssets?.style_header">
            <img class="modal-title" [src]="submitPopupAssets?.headerTxt_img?.url">
            <img class="close" [src]="submitPopupAssets?.close_btn?.url"
              (click)="dontshowFeedback('submit-modal-id','no');" (mousemove)="hoversubmitCloseConfirm()"
              (mouseleave)="houtsubmitCloseConfirm()">
          </div>
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="feedbackObj?.submit_popup?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="submitPopupAssets?.submit_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="showFeedback('submit-modal-id','yes');" (mousemove)="hoveronSubmitConfirm()"
                (mouseleave)="houtonSubmitConfirm()"><img class="img-fluid"
                  [src]="submitPopupAssets?.confirm_btn?.url"></button>
              <button type="button" (click)="dontshowFeedback('submit-modal-id','no');"
                (mousemove)="hoveronSubmitDecline()" (mouseleave)="houtonSubmitDecline()"><img class="img-fluid"
                  [src]="submitPopupAssets?.decline_btn?.url"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The infoPopup Modal -->
    <div class="modal" id="confirmModal" [ngClass]="{'displayPopup':displayinfoconfirmPopup}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="infoPopupAssets?.style_header">
            <img class="modal-title" [src]="feedbackObj?.info_popup?.headerTxt_img?.url">
            <img class="close" [src]="infoPopupAssets?.close_btn?.url" (click)="showFeedback('info-modal-id','no');"
              (mousemove)="hoverinfopopupCloseConfirm()" (mouseleave)="houtinfopopupCloseConfirm()">
          </div>
  
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="feedbackObj?.info_popup?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="infoPopupAssets?.info_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="showFeedback('info-modal-id','no');" (mousemove)="hoverOK()"
                (mouseleave)="houtOK()"><img class="img-fluid" [src]="infoPopupAssets?.ok_btn?.url"></button>
            </div>
          </div>
          <audio #feedbackInfoAudio></audio>
        </div>
      </div>
    </div>
  
    <!-- The Modal -->
    <div class="modal" id="modalTemp5" #popupRef>
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header" [ngStyle]="styleHeaderPopup">
            <img *ngIf="rightanspopUpheader_img" class="modal-title" [src]="feedbackObj?.rightAnswerheaderTxt_img?.url">
            <img *ngIf="wronganspopUpheader_img" class="modal-title" [src]="feedbackObj?.wrongAnswerheaderTxt_img?.url">
            <img *ngIf="showanspopUpheader_img" class="modal-title" [src]="feedbackObj?.showAnswerheaderTxt_img?.url">
            <img class="close" [src]="feedbackObj?.popup_commmon_imgs?.close_btn?.url" type="button"
              (click)="closeModal();" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
          </div>
  
          <!-- Modal body -->
          <div class="modal-body d-flex justify-content-center" [ngStyle]="styleBodyPopup">
            <div class="flex-row justify-content-around instructionBar" id="instructionBarFeedback"
              [ngClass]="{'dispFlex':popupTxtRequired}">
              <div class="instructionBase">
                <img class="img-fluid" [src]="feedbackObj?.rightAnswerpopupTxt?.url" />
              </div>
            </div>
            <div class="row mx-0 optionsBlock" #popupBodyRef>
              <ng-container *ngIf="this.Array2required">
                <div class="my-auto quesImage" *ngFor="let options of AnsObj;let idx = index">
                  <div class="options" *ngFor="let opt of options;let idx = index">
                    <img class="img-fluid" [src]="opt?.imgsrc?.url" #popupImage>
                    <audio #feedbackPopupAudio></audio>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!this.Array2required">
                <div class="my-auto quesImage">
                  <div class="options" *ngFor="let opt of ansArray1;let idx = index"
                    [ngClass]="{'optionsWidth':!Array2required}">
                    <img class="img-fluid" [src]="opt?.imgsrc?.url" #popupImage>
                    <audio #feedbackPopupAudio></audio>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Partial incorrect Modal -->
    <div class="modal" id="modalPartialOptions" #partialpopupRef>
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header" [ngStyle]="feedbackObj?.partial_style_header">
            <img class="modal-title" [src]="feedbackObj?.headerTxt_img?.url">
            <img class="close" [src]="feedbackObj?.popup_commmon_imgs?.close_btn?.url" type="button"
              (click)="closeModal();" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
          </div>
  
          <!-- Modal body -->
          <div class="modal-body d-flex justify-content-center" [ngStyle]="feedbackObj?.partial_style_body">
            <div class="flex-row justify-content-around instructionBar" id="instructionBarPartial"
              [ngClass]="{'dispFlex':partialpopupTxtRequired}">
              <div class="instructionBase">
                <img class="img-fluid" [src]="feedbackObj?.partialIncorrAnswerpopupTxt?.url" />
              </div>
            </div>
            <ng-container *ngIf="this.partialpopupRequired">
              <div class="row mx-0 optionsBlock" #partialpopupBodyRef>
                <div class="my-auto quesImage">
                  <div class="subHead" [ngStyle]="feedbackObj?.partial_right_style_header">
                    <img class="img-fluid" [src]="correctImg?.url">
                  </div>
                  <div class="subContent" [ngStyle]="feedbackObj?.partial_right_style_body">
                    <div class="options" *ngFor="let opt of rightansArray;let idx = index">
                      <img class="img-fluid" [src]="opt?.imgsrc?.url" #popupImage>
                    </div>
                  </div>
                </div>
                <div class="my-auto quesImage">
                  <div class="subHead" [ngStyle]="feedbackObj?.partial_wrong_style_header">
                    <img class="img-fluid" [src]="incorrectImg?.url">
                  </div>
                  <div class="subContent" [ngStyle]="feedbackObj?.partial_wrong_style_body">
                    <div class="options" *ngFor="let opt of wrongansArray;let idx = index">
                      <img class="img-fluid" [src]="opt?.imgsrc?.url" #popupImage>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <audio #feedbackpartialPopupAudio [src]="feedbackObj?.partialIncorrect_sound?.url"></audio>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="videoMainContainer" *ngIf="isQuesTypeVideo" style="visibility:hidden;">
    <video #mainVideo id="mainVideo" width="100%" style="max-width: 100%; max-height: 100%;"
      poster="assets/images/videoPoster.svg">
      <source [src]="quesObj?.quesVideo?.urlOgv" type="{{videoType}}">
    </video>
    <div id="playPauseBtn"><img class="img-fluid" [src]="quesObj?.quesPlayPause?.url" (mousemove)="hoverPlayPause()"
        (mouseleave)="leavePlayPause()" (click)="PlayPauseVideo()" /></div>
    <div id="SkipBtn" *ngIf="videoReplayd"><img class="img-fluid" [src]="quesObj?.quesSkip?.url"
        (click)="endedHandleronSkip()" (mousemove)="hoverSkip()" (mouseleave)="houtSkip()" /></div>
  </div>
  