<div class="container-fluid ele temp14" id="container">
  <audio #narrator [src]="quesObj?.quesInstruction?.url"></audio>
  <div id="bgImage"><img class="img-fluid" [src]="commonAssets?.background?.url" (load)="checkImgLoaded();" /></div>
  <div #maincontent>
    <div class="d-flex flex-row justify-content-around instructionBar" id="instructionBar">
      <div class="instructionBase" [ngClass]="{'disable_div':instructionDisable,'classOpacity':instructionOpacity}">
        <img class="img-fluid" [src]="commonAssets?.instruction_bg?.url" (click)="playHoverInstruction()"
          (load)="checkImgLoaded();" />
        <audio #instruction [src]="commonAssets?.instruction?.url"></audio>
      </div>
    </div>
    <div class="bodyContent" [ngClass]="{'classOpacity':bodyContentOpacity,'disable_div':bodyContentDisable}">
     
    </div>
  </div>
  <!-- The Confirmation Modal -->

  <div class="modal" id="confirmModal" #confirmModalRef [ngClass]="{'displayPopup':displayconfirmPopup}">
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="feedbackObj?.confirm_popup?.style_header">
          <img class="modal-title" [src]="feedbackObj?.confirm_popup?.headerTxt_img?.url">
          <img class="close" [src]="confirmPopupAssets?.close_btn?.url" (click)="sendFeedback('confirm-modal-id','no');"
            (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>

        <div class="modal-body" [ngStyle]="feedbackObj?.confirm_popup?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="confirmPopupAssets?.confirm_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="sendFeedback('confirm-modal-id','yes');" (mousemove)="hoverConfirm()"
              (mouseleave)="houtConfirm()"><img class="img-fluid" [src]="confirmPopupAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="sendFeedback('confirm-modal-id','no');" (mousemove)="hoverDecline()"
              (mouseleave)="houtDecline()"><img class="img-fluid" [src]="confirmPopupAssets?.decline_btn?.url"></button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <audio #feedbackVO></audio>
</div>
