/* #optionsBlock .shadow{
	position: absolute;
  z-index: 0;
  left: 27%;
  top: 13%;
} */
/* #container #navBlock .prevBtn,
#container #navBlock .nextBtn,
#container #navBlock .ansBtn, */
/* #container #navBlock .prevBtn{
	left: 3.2%;
} */
/* #container #navBlock .nextBtn{
  right: 3.3%;
} */
/* #navBlock .prevBtn, #navBlock .nextBtn{
	width:19.6%;
} */
@keyframes shake {
	10%,90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,50%,70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,60% {
		transform: translate3d(4px, 0, 0);
	}
}
@keyframes scaleit {
	0% {
		transform: scale(.9);
		opacity: .0;
	}
	90% {
		transform: scale(1.1);
		opacity: .7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes moveLeft {
	0% {
		left: 3.2%;
	}
	100% {
		left: 2%;
	}
}
@keyframes moveRight {
	0% {
		right: 3.3%;
	}
	100% {
		right: 2%;
	}
}
.hideit {
	display: none !important;
}
.showit {
	display: block !important;
}
.dispFlex {
	display: flex !important;
}
#optionsBlock {
	img {
		cursor: pointer;
		position: relative;
	}
	.options {
		position: relative;
		margin: 0;
		vertical-align: middle;
		width: 12%;
		display: inline-block;
		animation: scaleit 0.4s ease-in;
	}
	.refTxt {
		position: absolute;
		bottom: 0%;
		left: 0%;
		z-index: 2;
	}
}
.quesImage {
	width: 100%;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}
#navBlock {
	position: absolute;
	bottom: 7%;
	left: 0%;
	width: 100%;
	z-index: 100;
	.navBase {
		position: relative;
		width: auto;
		margin-right: .7%;
	}
	.ansBtn {
		cursor: pointer;
		margin-left: .7%;
		width: 3.5%;
	}
	.replayBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
	}
	.prevBtn {
		width: 3.5%;
		margin-right: .7%;
		&:hover {
			-webkit-animation-name: moveLeft;
			-webkit-animation-duration: .3s;
			animation-name: moveLeft;
			animation-duration: .3s;
			animation-iteration-count: infinite;
		}
	}
	.nextBtn {
		width: 3.5%;
		margin-right: .7%;
		&:hover {
			-webkit-animation-name: moveLeft;
			-webkit-animation-duration: .3s;
			animation-name: moveLeft;
			animation-duration: .3s;
			animation-iteration-count: infinite;
			-webkit-animation-name: moveRight;
			animation-name: moveRight;
		}
	}
	.submitBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
		width: 7%;
	}
	#ele_submitBtn {
		cursor: auto;
	}
	#ele_replayBtn {
		cursor: auto;
	}
	#ele_ansBtn {
		cursor: auto;
	}
	#ele_prevBtn {
		cursor: auto;
	}
	#ele_nextBtn {
		cursor: auto;
	}
}
.quesBlock {
	position: absolute;
	left: 0%;
	top: 2%;
	width: 100%;
	height: 5.5%;
	display: flex;
	justify-content: center;
	z-index: 100;
	img {
		cursor: pointer;
	}
}
.quesTab {
	width: 20%;
	display: inline-flex;
	flex-grow: 1;
	position: relative;
	justify-content: center;
	img {
		vertical-align: text-bottom;
		cursor: pointer;
	}
}
.tabBody {
	flex-grow: 1;
	margin: 0 -1px;
	width: auto;
	height: 100%;
}
.tabLeft {
	width: auto;
	height: 100%;
}
.tabRight {
	width: auto;
	height: 100%;
}
.quesnum {
	position: absolute;
	width: 1.6vmin;
	height: 43%;
	top: 29%;
}
.animation-shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	animation-iteration-count: infinite;
}
.rightAnsBg {
	animation: scaleit 0.2s ease-in;
}
#correctAns {
	img {
		position: absolute;
		width: 70%;
	}
}
#instructionBar {
	position: absolute;
	top: 10%;
	width: 100%;
	.instructionBase {
		width: 52%;
		position: relative;
	}
}
.instructionBase {
	.instructionText {
		position: absolute;
		top: 0%;
		left: 0;
	}
}
#burst {
	position: absolute;
	z-index: 101;
	width: 100%;
	height: 100%;
}
.disableBtn {
	opacity: 0.5;
	pointer-events: none;
}
.disablePointer {
	pointer-events: none;
}
.invisible {
	visibility: hidden;
}
.disanleTabs {
	pointer-events: none;
}
#footerNavBlock {
	.nextBtn.blink {
		animation: blink normal 1s infinite ease-in-out;
	}
	.nextBtn {
		cursor: pointer;
	}
	.prevBtn {
		cursor: pointer;
	}
}
.disableNavBtn {
	opacity: 0.5;
	pointer-events: none;
}
#prevBtnEle {
	cursor: default;
}
#nextBtnEle {
	cursor: default;
}
