/* css update begins - 27 March */
/* css update ends - 27 March */
@keyframes shake {
	10%,90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,50%,70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,60% {
		transform: translate3d(4px, 0, 0);
	}
}
/* css update begins - 27 March */
/*
#correctAns img{
	position:absolute;
	width:70%;
	animation: scaleit 0.2s ease-in;
}
*/
/* css update ends - 27 March */
@keyframes scaleit {
	0% {
		transform: scale(.7);
	}
	90% {
		transform: scale(1);
	}
}
/* css update begins - 27 March */
/* css update ends - 27 March */
/*.zaariRakheinBtn{
	background: url("../../../assets/images/zaariRakhein.svg") no-repeat;
    background-size: 100% 100%;
    height: 70px;
}
.zaariRakheinBtn:hover{
	background: url("../../../assets/images/zaariRakhein_hover.svg") no-repeat;
    background-size: 100% 100%;
    height: 70px;
}*/
@keyframes blinker {
	50% {
		opacity: .5;
	}
}
@-webkit-keyframes blinker {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}
@-webkit-keyframes blinker {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}
@keyframes blinker {
	50% {
		opacity: .5;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.50;
	}
	75% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.50;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
#container {
	.hideit {
		display: none !important;
	}
	position: relative;
	padding: 0;
	#bgImage {
		img {
			width: 100%;
		}
	}
	#optionsBlock {
		position: absolute;
		top: 4.7%;
		width: 100%;
		left: 0%;
	}
	#navBlock {
		position: absolute;
		top: 83%;
		left: 0%;
		width: 100%;
		.prevBtn {
			margin-left: 4%;
			text-align: right;
		}
		.nextBtn {
			margin-right: 4%;
			position: relative;
		}
	}
	#activity {
		position: absolute;
		width: 100%;
		top: 10%;
	}
	#activityTitle {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
	#zaariRakheinId {
		position: absolute;
		top: 80%;
		left: 0%;
		width: 100%;
	}
}
.showit {
	display: block !important;
}
.dispFlex {
	display: flex !important;
}
#ansBlock {
	margin-right: 5%;
	.options {
		text-align: right;
		width: 100%;
		position: relative;
		img {
			cursor: pointer;
		}
	}
}
#optionsBlock {
	#optimage0 {
		position: absolute;
		top: 0%;
		width: 100%;
		text-align: center;
		left: 0%;
		pointer-events: none;
	}
	#optimage1 {
		position: absolute;
		top: 0%;
		width: 100%;
		text-align: center;
		left: 0%;
		pointer-events: none;
	}
	#optimage2 {
		position: absolute;
		top: 0%;
		width: 100%;
		text-align: center;
		left: 0%;
		pointer-events: none;
	}
	#optimage3 {
		position: absolute;
		top: 0%;
		width: 100%;
		text-align: center;
		left: 0%;
		pointer-events: none;
	}
	#optimage4 {
		position: absolute;
		top: 0%;
		width: 100%;
		text-align: center;
		left: 0%;
		pointer-events: none;
	}
	.options {
		.optionTxtImg {
			position: absolute;
			top: 0%;
			width: 100%;
			text-align: center;
			left: 0%;
			pointer-events: none;
		}
	}
}
#quesImage {
	width: 33%;
	margin-right: 18.5%;
	position: relative;
}
#navBlock {
	.prevBtn {
		width: 8%;
		img {
			cursor: pointer;
		}
	}
	.nextBtn {
		width: 8%;
		img {
			cursor: pointer;
		}
	}
}
#help {
	position: absolute;
	width: 4%;
	left: 0.5%;
	top: 82%;
	cursor: pointer;
}
.animation-shake {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	//animation-iteration-count: infinite;
}
#correctAns {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9215686274509803);
	z-index: 100;
	display: flex;
	align-items: center;
}
.temp7_Ans_right {
	width: 100%;
}
#burst {
	position: absolute;
	z-index: 101;
	width: 100%;
	height: 100%;
}
#refImage {
	position: absolute;
	top: 0%;
	left: 0%;
}
.ansOption {
	text-align: right;
	width: 100%;
	position: relative;
	margin-top: 5px;
}
.disable-click {
	pointer-events: none;
	opacity: 0.5;
}
#zaariRakheinId {
	.zaariRakheinBtn {
		width: 16%;
		margin-top: .5%;
		margin-right: 7.5%;
		float: right;
		cursor: pointer;
		img {
			width: 100%;
		}
	}
}
.title_class {
	font-size: 50px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}
.disable_div {
	pointer-events: none;
}
.blink {
	display: block !important;
	position: absolute;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	cursor: pointer;
	display: block;
	position: absolute;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}
.blink_btn {
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
}
.popupAnsBlock {
	width: 80%;
	float: left;
}
.rightAnsBg {
	position: relative;
	display: table-cell;
	animation: scaleit 0.2s ease-in;
}
.rightAnsImg {
	width: 60%;
	position: absolute;
	top: 6%;
	left: 20.5%;
}
.rightAnsText {
	width: 80%;
	position: absolute;
	left: 10%;
	bottom: 8%;
}
.optionBg {
	width: 80%;
	position: relative;
}
.rightOptBg {
	width: 100%;
}
#multipleRight {
	.col-md {
		max-width: 35%;
		min-width: 35%;
	}
}
#singleRight {
	.col-md {
		max-width: 60%;
	}
}
.selected_state {
	pointer-events: none !important;
	position: relative;
	margin-top: 5px;
}
.disappear-button {
	visibility: hidden;
}
.disableDiv {
	pointer-events: none;
}
#autoPlayOnOffContainer {
	width: 15%;
	position: absolute;
	right: 0.5%;
	bottom: 1%;
}
.fadeInAnimation {
	opacity: 1;
	animation: fadeIn 0.3s linear;
}
.fadeOutAnimation {
	opacity: 0;
	animation: fadeOut 0.3s linear;
}
@media (min-width: 1520px) and (max-width: 1920px) {
	.temp5 {
		#placeholders {
			img {
				max-width: 90%;
			}
		}
	}
}
