#container .hideit {
  display: none !important;
}

.showit {
  display: block !important;
}

.dispFlex {
  display: flex !important;
}

#container {
  position: relative;
  padding: 0;
}

#container #bgImage img {
  width: 100%;
}

#container #optionsBlock {
  position: absolute;
  top: 53%;
  width: 100%;
  left: 0%;
}

#optionsBlock .quesTxt {
  position: absolute;
  top: 3%;
  width: 100%;
  text-align: center;
  left: 0%;
  pointer-events: none;
}

#quesImage {
  width: 80%;
  position: absolute;
  left: 10%;
}

.playerControls {
  position: absolute;
  width: 94%;
  height: 12%;
  bottom: 5%;
  left: 3%;
  display: flex;
  align-items: center;
}

.playerControls img {
  margin-right: 3%;
  width: 6%;
  cursor: pointer;
}

/* Player classes start*/
#audioPlayer {
  width: 81%;
  display: flex;
  align-items: center;
}

#playBtn {
  width: 7.3%;
}

audio {
  height: 65%;
}

#timeline {
  width: 92%;
  height: 4px;
  border-radius: 15%;
  /*margin-top: 20px;
    float: left;*/
  background: rgba(83, 112, 128, .3);
  position: relative;
}

.start,
.finish {
  position: absolute;
}

.finish {
  right: 0;
}

/* Player classes end*/

.animation-shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.disable-click {
  pointer-events: none;
  opacity: 0.5;
}

@keyframes scaleit {
  0% {
    transform: scale(.7);
  }

  90% {
    transform: scale(1);
  }
}

/* css update begins - 27 March */

.disappear-button {
  visibility: hidden;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

@keyframes blinker {
  50% {
    opacity: .5;
  }
}

.disableDiv {
  pointer-events: none;
}

.disable_div {
  pointer-events: none;
}

#autoPlayOnOffContainer {
  width: 15%;
  position: absolute;
  right: 0.5%;
  bottom: 1%;
}

/* css update ends - 27 March */
@media (min-width: 800px) and (max-width: 1299px) {}

@media (min-width: 800px) and (max-width: 820px) {
  .playerControls {
    bottom: 2.5%;
  }
}

/*
audio::-webkit-media-controls-panel
{
 background-color:powderblue;
}
*/

audio {
  /*filter: sepia(100%) saturate(400%) grayscale(0) contrast(200%) hue-rotate(122deg) invert(0%);*/
  width: 100%;
  border: none;
}

audio:focus {
  outline: none !important;
}

.audioT {
  display: none;
}

.playbtn {
  display: none;
}

.displayNone {
  display: none;
}

/* #audioT{
	  width:100%;
	  border-style: none;
	  border-radius:1px;
} */
audio::-webkit-media-controls-panel {
  background-color: #00ccff;

}

/* audio::-webkit-media-controls-current-time-display
{
	color:#00ccff;
}
audio::-webkit-media-controls-time-remaining-display
{
	color:#00ccff;
} */
/* audio::-webkit-media-controls-play-button
{
	color:#00ccff;
}
audio::-webkit-media-controls-timeline{
	color:#00ccff;
} */

.fadeInAnimation {
  opacity: 1;
  animation: fadeIn 0.3s linear;
}

.fadeOutAnimation {
  opacity: 0;
  animation: fadeOut 0.3s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

audio::-webkit-media-controls-volume-slider {
  display: none;
  pointer-events: none;

}

audio::-webkit-media-controls-mute-button {
  display: none;
  pointer-events: none;
}

#container #instructionBar {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

#instructionBar .instructionBase {
  width: 58%;
  position: relative;
  cursor: pointer
}

.instructionBase .instructionText {
  position: absolute;
  top: 0%;
  left: 0;
}

.disable-ctrl {
  cursor: default;
  pointer-events: none;
}

#playAud {
  position: relative;
  top: 10px;
  width: 45%;
  overflow: hidden;
  direction: ltl;
  border-top-right-radius: 2em 2em;
  border-bottom-right-radius: 2em 2em;
}

.displayPopup {
  display: -webkit-box !important;
  /* transition: all 2s ease-in-out;
    transform: scale(1.2); */
}

.modal {
  position: absolute !important;
  width: 100%;
  z-index: 100 !important;
  height: 94%;
  /*93.6%*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.modal-dialog {
  max-width: 80%;
  width: 90% !important;
  height: auto;
  /*60%*/
}

.modal-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  height: 100%;
  min-width: 560px;
  /*450px;*/
  min-height: 50vmin;
  /*350px;*/
}

.modal-header {
  padding: .5% !important;
  height: 7vmin;
  /*56px;*/
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: none !important;
  margin-bottom: -1px;
  border: solid .7vmin #85d222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #248446;
}

.modal-header:before,
.modal-header:after {
  content: none !important;
}

#modalTemp5 .modal-header {
  top: 0;
}

/* .modal-title {
    margin-left: 1.5%;
    height: 80%;
  } */

.close {
  width: auto;
  height: 75%;
  margin-right: 0%;
  margin-top: -.1%;
  -webkit-appearance: inherit !important;
  cursor: pointer;
  opacity: 1;
}

/* @media (min-width: 1366px) {
    .close {
      height: 95%;
      margin-right: .3%;
    }
  } */

#modalTemp5 .modal-header .close {
  margin-left: auto;
}

.modal-body {
  padding: 4%;
  background: #afdec0;
  border: solid .7vmin #85d222;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none !important;
  flex: auto !important;
  align-items: center;
}

.modal-body img {
  /*max-width: 91%;*/
}

#modalTemp5 .modal-body img {
  max-width: 94%;
  /* width: 70%; */
}

#modalTemp5 .optionsBlock {
  width: 100%;
  height: 100%;
  margin: 2% 0;
}

.modalBodyContent {
  background: #afdec0;
  margin: -1px;
}

.modal .quesImage {
  align-self: center;
  margin: 1% auto !important;
}

#modalTemp5 .quesImage {
  /* height: 100%; */
}

#modalTemp5 .optionsBlock .options {
  width: 25%;
  /*100%*/
}

.close:focus,
.close:hover {
  /*color: #000;
    text-decoration: none;
    opacity: 1;*/
}

#confirmModal {
  /* display: flex;*/
  background: rgba(0, 0, 0, .85);
}

#confirmModal .modal-dialog {
  width: 50% !important;
  max-width: 100%;
  height: 36%;
  display: flex;
  justify-content: center;
}

#confirmModal .modal-content {
  /* height: auto; */
  min-width: auto;
  min-height: auto;
}

#confirmModal .modal-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  flex: auto !important;
}

#confirmModal .modal-body .msgImage {
  display: block;
  /*flex*/
  text-align: center;
  /*justify-content: center;*/
}

#confirmModal .modal-body .actionButtons {
  text-align: center;
  margin: 3% 0 2%;
  width: 100%;
}

#confirmModal .modal-body .msgImage img {
  width: 100%;
}

#confirmModal .modal-body img {
  max-width: 100%;
}

#confirmModal .modal-body .actionButtons button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 18%;
}

button:focus {
  outline: none;
}

#confirmModal .modal-body .actionButtons img {
  max-width: 80%;
}

#confirmModal .modal-header {
  top: 0;
}

#confirmModal .bodyText {
  position: absolute;
  top: 30%;
  width: 100%;
}

#confirmModal .bodyText img {
  width: 85%;
}

/*#confirmModal .modal-title {
    margin-left: 1.5%;
    width: 40%!important;
    height: auto!important;
  }
  
  #confirmModal .close {
    margin: 0 1.6% 0 auto;
    width: 5%!important;
    height: auto!important;
  }*/

#confirmModal .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-top: none;
  position: absolute;
  width: 100%;
  bottom: 16%;
}

#confirmModal .modal-footer button {
  width: 13%;
  border: none;
  background: transparent;
}

#confirmModal .popupModelBody {
  padding: 0;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;

}

audio::-webkit-media-controls-current-time-display {
  display: none;
}

#tracktime {
  color: turquoise;
  min-width: 9.5%;
  font-size: 1.85vmin;
  padding-left: 2.5%;
}

.setImage {
  width: 68% !important;
  margin-bottom: 4%;
}

audio::-webkit-media-controls-timeline {
  -webkit-appearance: media-slider;
  display: flex;
  flex: 1 1 auto;
  /* height: 8px; */
  /* margin: 0 15px 0 0; */
  padding: 0;
  background-color: white;
  /* min-width: 25px; */
  border: initial;
  color: inherit;
  filter: brightness(3);
  border-radius: 30px;
  cursor: pointer;
}

audio::-webkit-media-controls-play-button {
  cursor: pointer;
}
