





#refQuesBlock{
    position: absolute;
    top: 13%;
    width: 100%;
    height: 68.7%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.modal #refQuesBlock{
    top: 18.5%;
    /* height: 39%; */
}
.refQues{
	width: 38.8%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.refQues .boxTop,
.refQues .boxRight,
.refQues .boxBottom,
.refQues .boxLeft{
    position: absolute;
    width:41.5%;
    top: 17%;
    left: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 3;
}
.boxTop .subOpt,
.boxRight .subOpt,
.boxBottom .subOpt,
.boxLeft .subOpt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.refQues .boxRight,
.refQues .boxLeft{
    top: 46.5%;
    left: 58.5%;
}
.refQues .boxBottom{
    top: 76%;
    left: 28%;
}
.refQues .boxLeft{
    left: 0;
}
.refQues .boxTop img,
.refQues .boxRight img,
.refQues .boxBottom img,
.refQues .boxLeft img{
	max-width: 64%;
}
.refQues>img,
.options div>img{
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.65);
    border-radius: 50%;
}
.options div.subOpt>img{
	box-shadow: none;
    border-radius: 0;
}
#container .speakerBlock{
	width: 94.5%;
    top: auto;
    padding: .7% 0 0 .7%; /*.3vmax 0 0 .32vmax;*/
	z-index: 1;
}
.speakerBlock .speakerBtn {
    width: 23% !important;
}
#optionsBlock{
    position: absolute;
    top: 13%;
    width: 79%;
    height: 68.7%;
    left: 10.6%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal #optionsBlock{
	/* top: 7.5%; */
}
.options{
	width: 22%;
	height: 100%;
	position: absolute;
    left: 0;
    top: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
	z-index: 2;
}
.options + .options{
    left: auto;
    right: 0;
}
.options div{
	width: 100%;
	position: relative;
	transition: transform .2s;
}
.options div:hover{
	transform: scale(1.1);
}
.options div.subOpt:hover{
	transform: none;
}
.options div div.subOpt{
    position: absolute;
    transition: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 3;
}
div.subOpt img{
	max-width: 58%;
}
.options {
	cursor:pointer;
}
.rightWrongAns{
    bottom: 18%;
}
.eva .modal-dialog {
	width: 100% !important;
	margin: 0 auto;
}
.eva .modal-content {
	height: 100%;
}
.eva .modal-body{
	justify-content: center;
}
.modal-body .celebrate{
	width: 55%;
}
.modal-body .celebrate img{
	width: 100%;
}
.eva .modal{
	display: none; /*assign 'none' to turn the popup off */
}