#mainques {
    position: absolute;
    top: 5.1%;
    display: flex;
    justify-content: center;
    width: 82%;
    left: 7.2%;
    height: 89%;
    align-items: center;
}
#parentBlock{
    position: absolute;
    top: 19%;
    width: 100%;
    height: 80%;
    left: 0%;
}
.keypadBlock {
    position: absolute;
    display: flex;
    width: 51%;
    left: 47%;
    top: 3%;
    height: 63%;
    justify-content: center;
    align-items: center;
}
.keypadBlock img {
    z-index: 2;
}
.queryBlock {
    position: absolute;
    left: 1.8%;
    width: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.optionContainer {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}
.optionContainer div img:first-child {
    position: absolute;
}
.optionContainer div {
    position: absolute;
    width: 15%;
    cursor: pointer;
}
.pencil_option_5.optionContainer div {
    width: 17%;
}
.optionContainer #key1 {
    left: 14%;
    top: 7%;
}
.optionContainer #key2 {
    left: 41.5%;
    top: 7%;
}
.optionContainer #key3 {
    top: 7%;
    left: 68.8%;
}
.optionContainer #key4 {
    top: 55%;
    left: 27.8%;
}
.optionContainer #key5 {
    top: 55%;
    left: 55%;
}
.optionContainer #key6 {
    top: 55%;
    left: 82.5%;
}
.pencil_option_5.optionContainer #key1 {
    left: 16%;
    top: 1%;
}
.pencil_option_5.optionContainer #key2 {
    left: 48%;
    top: 1%;
}
.pencil_option_5.optionContainer #key3 {
    top: 1%;
    left: 78.9%;
}
.pencil_option_5.optionContainer #key4 {
    top: 56.4%;
    left: 32.4%;
}
.pencil_option_5.optionContainer #key5 {
    top: 56.4%;
    left: 63.5%;
}
:host ::ng-deep .speakerBtn {
	width: 5.6%;
    bottom: 21%;
    right: 1.2%;
    position: absolute;
}

.modal .queryBlock {
    left: 22.8%;
    top: 8%;
    width: 52%;
}
.rightWrongAns{
	bottom: 9%;
}
.rightWrongAns img{
    width: 6%;
}
