
@keyframes scaleIn {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.1);
	}
}
@keyframes scaleOut {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}
/* .modal .instructionBase img {
  max-width: none !important;
  max-height: 7vmin;
} */
/***** video container style *****/
.headerBlock {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	img {
		width: 17.25%;
	}
}
.quesContainer {
	width: 87%;
	height: 94%;
}
.contentBlock {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 72%;
	top: 9.5%;
	width: 100%;
}
.optionBlock {
	img {
		&:first-child {
			width: auto;
		}
	}
}
.disable_div {
	pointer-events: none;
}
.classOpacity {
	opacity: 0.3;
}
.placeholderContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	img {
		position: absolute;
		width: 14%;
	}
}
.modal {
	.placeholderContainer {
		img {
			cursor: default;
			pointer-events: none;
		}
	}
	.matrix_3x3 {
		.contentBlock {
			top: 13%;
			height: 72%;
		}
		.headerBlock {
			top: 7%;
			img {
				width: 26%;
			}
		}
	}
	.matrix_3x3.bodyContent {
		top: 24%;
		height: 76%;
	}
	.matrix_3x5.bodyContent {
		top: 22%;
		height: 83%;
	}
	.matrix_3x5 {
		.headerBlock {
			top: 12%;
			img {
				width: 18%;
			}
		}
		.contentBlock {
			height: 84%;
		}
		.quesContainer {
			width: 90.3%;
		}
	}
	.matrix_5x3 {
		.criteriaContainer {
			#criteria1 {
				top: 5%;
			}
			#criteria2 {
				top: 28%;
			}
			#criteria3 {
				top: 51%;
			}
			img {
				left: 14%;
				width: 21%;
			}
		}
		.placeholderContainer {
			#optPlaceholder1 {
				top: 5%;
				left: 39.5%;
			}
			#optPlaceholder2 {
				top: 5%;
				left: 64.7%;
			}
			#optPlaceholder3 {
				top: 28%;
				left: 39.5%;
			}
			#optPlaceholder4 {
				top: 28%;
				left: 64.7%;
			}
			#optPlaceholder5 {
				top: 51%;
				left: 39.5%;
			}
			#optPlaceholder6 {
				top: 51%;
				left: 64.7%;
			}
			#optPlaceholder7 {
				left: 39.5%;
			}
			#optPlaceholder8 {
				left: 64.7%;
			}
			img {
				width: 21%;
			}
		}
		.contentBlock {
			top: 18%;
		}
		.quesContainer {
			width: 130%;
			height: 107%;
			max-width: none;
		}
	}
	.matrix_5x3.bodyContent {
		top: 19%;
		height: 83%;
	}
	.headerBlock {
		img {
			width: 25.6%;
		}
	}
	.matrix_5x5.bodyContent {
		height: 83%;
		top: 22%;
	}
	.instructionBase {
		img {
			cursor: default;
			pointer-events: none;
		}
		width: 93% !important;
		position: relative;
		justify-content: center;
		cursor: default;
	}
	position: absolute !important;
	width: 100%;
	z-index: 100 !important;
	height: 94%;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
}
.criteriaContainer {
	height: 100%;
	position: absolute;
	width: 100%;
	img {
		position: absolute;
		width: 14%;
	}
	#criteria1 {
		top: 16.9%;
	}
	#criteria2 {
		top: 32.2%;
	}
	#criteria3 {
		top: 47.8%;
	}
	#criteria4 {
		top: 63%;
	}
}
.matrix_3x3 {
	.headerBlock {
		top: 6%;
		img {
			width: 23%;
		}
	}
	.contentBlock {
		height: 68%;
		top: 13%;
		width: 100%;
	}
	.quesContainer {
		width: 85.5%;
		height: 100%;
	}
	.placeholderContainer {
		img {
			width: 19%;
		}
		#optPlaceholder1 {
			top: 24%;
			left: 40%;
		}
		#optPlaceholder2 {
			top: 24%;
			left: 63%;
		}
		#optPlaceholder3 {
			top: 53%;
			left: 40%;
		}
		#optPlaceholder4 {
			top: 53%;
			left: 63%;
		}
	}
	.criteriaContainer {
		img {
			width: 19%;
		}
		#criteria1 {
			top: 24%;
			left: 17.5%;
		}
		#criteria2 {
			top: 53%;
			left: 17.5%;
		}
	}
}
.modal_3x3 {
	.contentBlock {
		top: 13%;
		height: 78%;
	}
	.quesContainer {
		width: 96.5%;
	}
	.criteriaContainer {
		#criteria1 {
			top: 25%;
			left: 13.5%;
		}
		#criteria2 {
			top: 54%;
			left: 13.5%;
		}
		img {
			width: 22%;
		}
	}
	.placeholderContainer {
		img {
			width: 22%;
		}
		#optPlaceholder1 {
			top: 25%;
			left: 38.6%;
		}
		#optPlaceholder2 {
			top: 25%;
			left: 64%;
		}
		#optPlaceholder3 {
			top: 54%;
			left: 38.6%;
		}
		#optPlaceholder4 {
			top: 54%;
			left: 64%;
		}
	}
	max-width: 70% !important;
	height: 83%;
}
.matrix_3x5 {
	.headerBlock {
		top: 12%;
		img {
			width: 16.7%;
		}
	}
	.contentBlock {
		height: 72%;
		top: 7%;
	}
	.quesContainer {
		width: 84.3%;
		height: 100%;
	}
	.placeholderContainer {
		#optPlaceholder1 {
			left: 26.3%;
			top: 31%;
		}
		#optPlaceholder2 {
			top: 31%;
			left: 42.7%;
		}
		#optPlaceholder3 {
			top: 31%;
			left: 59.4%;
		}
		#optPlaceholder4 {
			top: 31%;
			left: 76%;
		}
		#optPlaceholder5 {
			left: 26.3%;
			top: 53.5%;
		}
		#optPlaceholder6 {
			top: 53.5%;
			left: 42.7%;
		}
		#optPlaceholder7 {
			top: 53.5%;
			left: 59.4%;
		}
		#optPlaceholder8 {
			top: 53.5%;
			left: 76%;
		}
	}
	.criteriaContainer {
		#criteria1 {
			left: 10%;
			top: 31%;
		}
		#criteria2 {
			left: 10%;
			top: 53.5%;
		}
	}
}
.modal_3x5 {
	.criteriaContainer {
		#criteria1 {
			left: 7%;
		}
		#criteria2 {
			left: 7%;
		}
		img {
			width: 15%;
		}
	}
	.placeholderContainer {
		img {
			width: 15%;
		}
		#optPlaceholder1 {
			left: 24.8%;
		}
		#optPlaceholder5 {
			left: 24.8%;
		}
		#optPlaceholder2 {
			left: 42.5%;
		}
		#optPlaceholder6 {
			left: 42.5%;
		}
		#optPlaceholder3 {
			left: 60.3%;
		}
		#optPlaceholder7 {
			left: 60.3%;
		}
		#optPlaceholder4 {
			left: 78%;
		}
		#optPlaceholder8 {
			left: 78%;
		}
	}
	height: 80%;
}
.matrix_5x3 {
	.headerBlock {
		top: 1%;
	}
	.contentBlock {
		height: 70%;
		top: 11%;
	}
	.criteriaContainer {
		img {
			left: 26%;
		}
		#criteria1 {
			top: 10%;
		}
		#criteria2 {
			top: 31.5%;
		}
		#criteria3 {
			top: 53%;
		}
		#criteria4 {
			top: 74%;
		}
	}
	.placeholderContainer {
		#optPlaceholder1 {
			top: 10%;
			left: 43%;
		}
		#optPlaceholder2 {
			top: 10%;
			left: 60%;
		}
		#optPlaceholder3 {
			top: 31.5%;
			left: 43%;
		}
		#optPlaceholder4 {
			top: 31.5%;
			left: 60%;
		}
		#optPlaceholder5 {
			top: 53%;
			left: 43%;
		}
		#optPlaceholder6 {
			top: 53%;
			left: 60%;
		}
		#optPlaceholder7 {
			top: 74%;
			left: 43%;
		}
		#optPlaceholder8 {
			top: 74%;
			left: 60%;
		}
	}
}
.matrix_5x5 {
	.quesContainer {
		width: 84.5%;
	}
	.headerBlock {
		top: 1.5%;
		img {
			width: 16.8%;
		}
	}
	.contentBlock {
		height: 70%;
		top: 11%;
	}
	.criteriaContainer {
		img {
			left: 9.5%;
		}
		#criteria1 {
			top: 10%;
		}
		#criteria2 {
			top: 31.5%;
		}
		#criteria3 {
			top: 53%;
		}
		#criteria4 {
			top: 74%;
		}
	}
	.placeholderContainer {
		#optPlaceholder1 {
			top: 10%;
			left: 26%;
		}
		#optPlaceholder2 {
			top: 10%;
			left: 43%;
		}
		#optPlaceholder3 {
			top: 10%;
			left: 59.7%;
		}
		#optPlaceholder4 {
			top: 10%;
			left: 76.5%;
		}
		#optPlaceholder5 {
			top: 31.5%;
			left: 26%;
		}
		#optPlaceholder6 {
			top: 31.5%;
			left: 43%;
		}
		#optPlaceholder7 {
			top: 31.5%;
			left: 59.7%;
		}
		#optPlaceholder8 {
			top: 31.5%;
			left: 76.5%;
		}
		#optPlaceholder9 {
			top: 53%;
			left: 26%;
		}
		#optPlaceholder10 {
			top: 53%;
			left: 43%;
		}
		#optPlaceholder11 {
			top: 53%;
			left: 59.7%;
		}
		#optPlaceholder12 {
			top: 53%;
			left: 76.5%;
		}
		#optPlaceholder13 {
			top: 74%;
			left: 26%;
		}
		#optPlaceholder14 {
			top: 74%;
			left: 43%;
		}
		#optPlaceholder15 {
			top: 74%;
			left: 59.7%;
		}
		#optPlaceholder16 {
			top: 74%;
			left: 76.5%;
		}
	}
}
.feedbackWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
#modalTemp19 {
	background: rgba(0, 0, 0, .85);
	.modal-body {
		flex-wrap: wrap;
		align-content: space-around;
	}
	#instructionBarFeedback {
		position: relative;
		top: 0;
		width: 100%;
		text-align: center;
		margin-bottom: .9%;
		display: none;
	}
}
button {
	&:focus {
		outline: 0 !important;
		outline: none;
	}
}
.dispFlex {
	display: flex !important;
}
* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}
#container {
	position: relative;
	padding: 0;
	#bgImage {
		img {
			width: 100%;
		}
	}
	#navBlock {
		position: absolute;
		bottom: 6%;
		left: 0%;
		width: 100%;
		.navBase {
			position: relative;
			margin-right: .7%;
			width: auto;
		}
		.prevBtn {
			cursor: pointer;
			&:hover {
				-webkit-animation-name: moveLeft;
				-webkit-animation-duration: .3s;
				animation-name: moveLeft;
				animation-duration: .3s;
				animation-iteration-count: infinite;
			}
		}
		.nextBtn {
			cursor: pointer;
			&:hover {
				-webkit-animation-name: moveLeft;
				-webkit-animation-duration: .3s;
				animation-name: moveLeft;
				animation-duration: .3s;
				animation-iteration-count: infinite;
				-webkit-animation-name: moveRight;
				animation-name: moveRight;
			}
		}
		.ansBtn {
			cursor: pointer;
			margin-left: .7%;
			width: 3.5%;
		}
	}
	.instructionBar {
		position: absolute;
		top: 10%;
		width: 100%;
		text-align: center;
	}
	.modal {
		.instructionBar {
			top: 1%;
		}
	}
}
.bodyContent {
	position: absolute;
	top: 17%;
	width: 100%;
	left: 0;
	height: 69%;
	text-align: -webkit-center;
}
.optionsBlock {
	width: 100%;
	position: absolute;
	bottom: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.optionBase {
	max-width: 84% !important;
}
.options {
	width: 82.5%;
	height: 69%;
	position: absolute;
	white-space: nowrap;
	display: flex;
	justify-content: flex-start;
	img {
		width: 16%;
		max-width: 15.9%;
		margin: 0 2.05%;
		padding: 0.4% 0;
		position: relative;
	}
}
.quesTab {
	width: 20%;
	display: inline-flex;
	flex-grow: 1;
	position: relative;
	img {
		vertical-align: text-bottom;
	}
}
#navBlock {
	.prevBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
	}
	.nextBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.submitBtn {
		width: 7%;
	}
}
.optionAnimate {
	transform: scale(1.1);
	transition: transform 1s ease;
}
.nutralize {
	transform: scale(1.0);
	transition: transform .5s ease;
}
.tabBody {
	flex-grow: 1;
	margin: 0 -1px;
	width: auto;
	height: 100%;
}
.tabLeft {
	width: auto;
	height: 100%;
}
.tabRight {
	width: auto;
	height: 100%;
}
.instructionBar {
	.instructionBase {
		width: 60%;
		position: relative;
	}
}
.instructionBase {
	.instructionText {
		position: absolute;
		top: 0%;
		left: 0;
	}
	img {
		cursor: pointer;
	}
}
#playPauseBtn {
	position: absolute;
	top: 86%;
	right: .7%;
	cursor: pointer;
	width: 3.5%;
}
#SkipBtn {
	position: absolute;
	top: 86%;
	right: 5%;
	cursor: pointer;
	width: 3.5%;
}
#confirmModal {
	background: rgba(0,0,0,.85);
	.modal-dialog {
		width: 50% !important;
		max-width: 100%;
		height: 36%;
		display: flex;
		justify-content: center;
	}
	.modal-content {
		min-width: auto;
		min-height: auto;
	}
	.modal-body {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-end;
		flex: auto !important;
		.msgImage {
			display: block;
			text-align: center;
			img {
				width: 100%;
			}
		}
		.actionButtons {
			text-align: center;
			margin: 3% 0 2%;
			width: 100%;
			button {
				border: none;
				background: transparent;
				padding: 0;
				margin: 0;
        width: 18%;
        cursor: pointer;
			}
			img {
				max-width: 80%;
			}
		}
		img {
			max-width: 100%;
		}
	}
	.modal-header {
		top: 0;
	}
	.bodyText {
		position: absolute;
		top: 30%;
		width: 100%;
		img {
			width: 85%;
		}
	}
	.modal-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		border-top: none;
		position: absolute;
		width: 100%;
		bottom: 16%;
		button {
			width: 13%;
			border: none;
			background: transparent;
		}
	}
	.popupModelBody {
		padding: 0;
	}
}
.displayPopup {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.modal.show {
	display: -webkit-box !important;
}
.modal-dialog {
	width: 92%;
	max-width: 92% !important;
	height: 87%;
}
.modal-content {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
	height: 100%;
	min-height: 50vmin;
}
.modal-header {
	padding: .5% !important;
	height: 7vmin;
	position: relative;
	top: 0;
	width: 100%;
	border-bottom: none !important;
	margin-bottom: -1px;
}
.modal_5x3 {
	max-width: 70% !important;
	height: 83%;
}
.close {
	width: auto;
	height: 75%;
	margin-right: 0%;
	margin-top: -.1%;
	-webkit-appearance: inherit !important;
	cursor: pointer;
	opacity: 1;
}
.modal-body {
	height: 75%;
	padding: 2%;
	flex: auto !important;
	align-items: center;
}
.modalBodyContent {
	background: #afdec0;
	margin: -1px;
}
html {
	[type=button] {
		-webkit-appearance: none;
	}
}
.scaleInAnimation {
	animation: scaleIn 0.5s linear;
	transform: scale(1.1);
}
.scaleOutAnimation {
	animation: scaleOut 0.5s linear;
	transform: scale(1.0);
}
.videoMainContainer {
	width: 100%;
	.videoBg {
		opacity: 0;
	}
}
.videoWrapper {
	width: 99.9%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}
@media (min-width: 1366px) {
	.close {
		height: 95%;
		margin-right: .3%;
	}
}
@media (min-width: 576px) {
	.modal-dialog {
		margin: 0 auto !important;
	}
}
