
		<div class="container-fluid temp10" #container id="container" *ngIf="!showIntroScreen">
	
            <div id="bgImage"><img [src]="common_assets?.bg?.location=='content' ? assetspath + '/' +common_assets?.bg?.url: assetsfolderlocation + '/'+ common_assets?.bg?.url" (load)="checkImgLoaded();"></div>
        
            <div class="d-flex align-items-center justify-content-center" #maincontent id="optionsBlock">
                <div id="quesImage">
                    <img class="img-fluid" (load)="checkImgLoaded();" [src]="common_assets?.playerBase?.location=='content' ? assetspath + '/' +common_assets?.playerBase?.url: assetsfolderlocation + '/'+ common_assets?.playerBase?.url" />
                    <img class="img-fluid quesTxt" (load)="checkImgLoaded();" [src]="question?.text?.location=='content' ?assetspath + '/' +question?.text.url: assetsfolderlocation + '/'+ question?.text.url">
                    
                    <div class="playerControls d-flex align-items-center justify-content-center">
                        <img class="img-fluid" [src]="question?.record?.location=='content' ?assetspath + '/' +question?.record.url: assetsfolderlocation + '/'+ question?.record.url"  #recordButton (click)="startRecording()" />
                        <img class="img-fluid" [src]="question?.stop?.location=='content' ?assetspath + '/' +question?.stop.url: assetsfolderlocation + '/'+ question?.stop.url" #stopButton (click)="stopRecording()" disabled>
                        <img #playpause (click)="listen()" class="img-fluid playbtn" [src]="question?.playpause?.location=='content' ?assetspath + '/' +question?.playpause.url: assetsfolderlocation + '/'+ question?.playpause.url">
                        <audio #audioT class="audioT" controls controlsList="nodownload"></audio>
                    <!--<input type="range" step="1" id="$seekbar" value="0">-->
                    </div>
                </div>
                            
            </div>
             <div class="d-flex flex-row align-items-center justify-content-around" #navBlock id="navBlock">
                <div class="prevBtn peechejao img-fluid" (click)="previous()"  [ngClass]="{'disable-click': isFirstQues == true}">
                    <img class="img-fluid" [src] = "common_assets?.peechey_jayein?.location =='content' ? containgFolderPath + '/' +common_assets?.peechey_jayein?.url : assetsfolderlocation + '/'+ common_assets?.peechey_jayein?.url" (mouseleave)="onLeavePeecheyBtn()" on-mouseenter="onHoverPeecheyBtn()">
                </div>
                <div class="nextBtn">
                    <div class="img-fluid aagebadho" (click)="next()">
                        <img class="img-fluid" [src] = "common_assets?.aagey_badhein?.location =='content' ? containgFolderPath + '/' +common_assets?.aagey_badhein?.url : assetsfolderlocation + '/'+ common_assets?.aagey_badhein?.url" (mouseleave)="onLeaveAageyBadheinBtn()" on-mouseenter="onHoverAageyBadheinBtn()">
                    </div>
                    <div class="blink_btn img-fluid" [ngClass]="{'blink' :blink}" (click)="next()">
                        <img class="img-fluid" [src] = "common_assets?.aagey_badhein_blink?.location =='content' ? containgFolderPath + '/' +common_assets?.aagey_badhein_blink?.url : assetsfolderlocation + '/'+ common_assets?.aagey_badhein_blink?.url">
                    </div>
                </div> 
                
            </div>
                    <div #helpbtn id="help" [ngClass]="{'disable-click': disableHelpBtn == true}"><img  on-mousemove="onHoverhelp(question)" on-mouseout="onHoverouthelp(question)" class="img-fluid" [src]="question?.help?.location=='content' ?assetspath + '/' +question?.help.url: assetsfolderlocation + '/'+ question?.help.url" (click)="helpSpeaker(audioEl1)"></div>
                    <audio id="H" #myAudiohelp #audioEl1 [src]="question?.helpsound?.location=='content' ?assetspath + '/' +question?.helpsound.url: assetsfolderlocation + '/'+ question?.helpsound.url"></audio>
                </div>
                
        <div class="container-fluid" #container id="container" *ngIf="showIntroScreen">
            <div id="bgImage"><img [src]="quesInfo.titleBg?.location=='content' ?assetspath + '/' +quesInfo.titleBg.url: assetsfolderlocation + '/'+ quesInfo.titleBg.url" (load)="checkImgLoaded();" /></div>
            
            <div class="d-flex align-items-center justify-content-center" id="activity">
                <img class="img-fluid" [src]="quesInfo.kriyakalaap?.location=='content' ?assetspath + '/' +quesInfo.kriyakalaap.url: assetsfolderlocation + '/'+ quesInfo.kriyakalaap.url">
            </div>
            <div class="d-flex align-items-center justify-content-center" id="activityTitle">
                <div class="title_class"><img class="img-fluid" [src]="quesInfo.titleText?.location=='content' ?assetspath + '/' +quesInfo.titleText.url: assetsfolderlocation + '/'+ quesInfo.titleText.url"></div>
            </div>			
            <div class="d-flex justify-content-end hideit" #titleNavBtn id="zaariRakheinId">
                <div class="zaariRakheinBtn"><img class="img-fluid" on-mouseenter="onHoverZaariRakhein()" (mouseleave)="onHoverOutZaariRakhein()" [src]="quesInfo.zaariRakhein?.location=='content' ?assetspath + '/' +quesInfo.zaariRakhein.url: assetsfolderlocation + '/'+ quesInfo.zaariRakhein.url" (click)="closeTitleScreen()"></div>
            </div>
            
            <audio #titleAudio [src]="quesInfo.Instruction?.location=='content' ?assetspath + '/' +quesInfo.Instruction.url: assetsfolderlocation + '/'+ quesInfo.Instruction.url" autoplay="autoplay"></audio>
        </div>  
