#container .hideit {
  display: none !important;
}

.showit {
  display: block
}

.dispFlex {
  display: flex !important;
}

#container {
  position: relative;
  padding: 0;
}

#container #bgImage img {
  width: 100%;
}

#container #optionsBlock,
#container #optBlock {
  position: absolute;
  top: 4%;
  width: 100%;
  left: 0%;
}

#container #optBlock {
  top: 54%;
}

#container #ansBlock {
  width: 80%;
}

#ansBlock .options {
  text-align: right;
  width: 100%;
  position: relative;
  margin: 0 2.7%;
}

.pointer {
  cursor: pointer;
}

#ansBlock #optimage0,
#ansBlock #optimage1,
#ansBlock #optimage2,
#ansBlock #optimage3,
#ansBlock #optimage4 {
  position: absolute;
  /* top: 5%; */
  top: 3%;
  width: 95%;
  text-align: center;
  left: 2%;
}

#quesImage {
  width: 25%;
  position: relative;
}

#quesImage img {
  /*cursor:pointer;*/
}

#container #navBlock {
  position: absolute;
  top: 83%;
  left: 0%;
  width: 100%;
}

#container #navBlock .prevBtn {
  margin-left: 4%;
  text-align: right;
}

#container #navBlock .nextBtn {
  position: relative;
  margin-right: 4%;
}

#navBlock .prevBtn,
#navBlock .nextBtn {
  width: 8%;
}

#navBlock .prevBtn img,
#navBlock .nextBtn img {
  cursor: pointer;
}

#help {
  position: absolute;
  width: 4%;
  /*right: 0.5%;*/
  left: 0.5%;
  top: 82%;

}

.temp15 .speakerBtn {
  width: 18%;
  position: absolute;
  right: -3%;
  top: -39%;
}

.temp15 .speakerBtn img {
  cursor: pointer;
}

.temp15 #placeholders {
  position: absolute;
  top: 26%;
  width: 97%;
  left: 1.4%;
}

.animation-shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#correctAns {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9215686274509803);
  z-index: 100;
  display: flex;
  align-items: center;
}

#correctAns img {
  position: absolute;
  width: 89%;
  animation: scaleit 0.2s ease-in;
}

#correctAns .ansText {
  width: 85%;
  left: 7%;
}

@keyframes scaleit {
  0% {
    transform: scale(.7);
  }

  90% {
    transform: scale(1);
  }
}

#burst {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
}

#container #answerBlock {
  position: absolute;
  top: 18.5%;
  width: 100%;
}

#answerBlock .ansBase {
  width: 78%;
  position: relative;
}

/* .ansBase .ansText{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
} */
.ansBase .quesText,
#refImage {
  position: absolute;
  top: 0%;
  left: 0;
}

@media (min-width: 1520px) and (max-width: 1920px) {
  .temp15 #placeholders img {
    max-width: 90%;
  }
}


#container #activity {
  position: absolute;
  width: 100%;
  top: 10%;
}

#container #activityTitle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.title_class {
  font-size: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

.disable {
  pointer-events: none;
}

.disable-click {
  pointer-events: none;
  opacity: 0.5;
}

.disappear-button {
  visibility: hidden;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

.blink_btn {
  /*background: url(../../../assets/images/aageyBlink.svg) no-repeat;
    background-size: 100% 100%!important;
    height: 40px!important;
	width: 100%;
    top: 0;
    left: 0;*/
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  cursor: pointer;
}

.blink {
  display: block !important;
  position: absolute;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.disable_div {
  pointer-events: none;
}

.classOpacity {
  opacity: 0.3;
}

.fadeInAnimation {
  opacity: 1;
  animation: fadeIn 0.3s linear;
}

.fadeOutAnimation {
  opacity: 0;
  animation: fadeOut 0.3s linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}


/*confirm modal*/

/* .confirm_modal_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
  } */

#confirmModal {
  /* display: flex;*/
  background: rgba(0, 0, 0, .85);
}

#confirmModal .modal-dialog {
  width: 50% !important;
  max-width: 100%;
  height: 36%;
  display: flex;
  justify-content: center;
}

#confirmModal .modal-content {
  /* height: auto; */
  min-width: auto;
  min-height: auto;
}

#confirmModal .modal-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  flex: auto !important;
}

#confirmModal .modal-body .msgImage {
  display: block;
  /*flex*/
  text-align: center;
  /*justify-content: center;*/
}

#confirmModal .modal-body .actionButtons {
  text-align: center;
  margin: 3% 0 2%;
  width: 100%;
}

#confirmModal .modal-body .msgImage img {
  width: 100%;
}

#confirmModal .modal-body img {
  max-width: 100%;
}

#confirmModal .modal-body .actionButtons button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 18%;
}

button:focus {
  outline: none;
}

#confirmModal .modal-body .actionButtons img {
  max-width: 80%;
}

#confirmModal .modal-header {
  top: 0;
}

#confirmModal .bodyText {
  position: absolute;
  top: 30%;
  width: 100%;
}

#confirmModal .bodyText img {
  width: 85%;
}

/* #confirmModal .modal-title {
	  margin-left: 3%;
	} */

/* #confirmModal .close {
	  margin: 0 1.6% 0 auto;
	}

	#confirmModal .modal-footer {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  padding: 0 15px;
	  border-top: none;
	  position: absolute;
	  width: 100%;
	  bottom: 16%;
	}

	#confirmModal .modal-footer button {
	  width: 13%;
	  border: none;
	  background: transparent;
	}

	#confirmModal .popupModelBody {
	  padding: 0;
	} */

.displayPopup {
  display: -webkit-box !important;
  /* transition: all 2s ease-in-out;
    transform: scale(1.2); */
}

.modal {
  position: absolute !important;
  width: 100%;
  z-index: 100 !important;
  height: 94%;
  /*93.6%*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.modal.show {
  display: -webkit-box !important;
}

.modal-dialog {
  max-width: 80%;
  height: auto;
}

#modalTemp5 .modal-dialog {
  /* width: 60%; */
  max-width: 80%;
  height: auto;
}

.modal-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  height: 100%;
  min-width: 560px;
  /*450px;*/
  min-height: 50vmin;
  /*350px;*/
}

.modal-header {
  padding: .5% !important;
  height: 7vmin;
  /*56px;*/
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: none !important;
  margin-bottom: -1px;
  /*
       border: solid .7vmin #85d222;
      border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #248446;
    */
}

#modalTemp5 .modal-header {
  top: 0;
}

/* .modal-title {
    margin-left: 1.5%;
    height: 80%;
  } */

/* .close {
    width: auto;
    height: 75%;
    margin-right: 0%;
    margin-top: -.1%;
    -webkit-appearance: inherit !important;
    cursor: pointer;
    opacity: 1;
  } */

@media (min-width: 1366px) {
  /* .close {
      height: 95%;
      margin-right: .3%;
    } */
}

#modalTemp5 .modal-header .close {
  margin-left: auto;
}

.modal-body {
  padding: 2%;
  /*
	background: #afdec0;
	border: solid .7vmin #85d222;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: none !important;
	*/
  flex: auto !important;
  justify-content: space-around;
  align-items: center;
}

.modal-body img {
  max-width: 92%;
  /*77%;*/
}

#modalTemp5 .modal-body img {
  max-width: 94%;
  /* width: 70%; */
}

#modalTemp5 .optionsBlock {
  width: 100%;
  height: 100%;
  margin: 2% 0;
}

.modalBodyContent {
  background: #afdec0;
  margin: -1px;
}

.modal .quesImage {
  align-self: center;
  margin: 1% auto !important;
}

#modalTemp5 .quesImage {
  /* height: 100%; */
}

#modalTemp5 .optionsBlock .options {
  width: 25%;
  /*100%*/
}

html [type=button] {
  -webkit-appearance: none;
}


/*Partial Pop-up*/
#modalPartialOptions .modal-dialog {
  max-width: 87%;
}

#modalPartialOptions .modal-header {
  margin-bottom: -1px;
}

#modalPartialOptions .modal-header:before,
#modalPartialOptions .modal-header:after {
  content: none !important;
}

#modalPartialOptions .modal-body img {
  max-width: 100%;
}

#modalPartialOptions .quesImage {
  display: block;
  /*contents;*/
}

#modalPartialOptions .subHead {
  padding: 0 .5%;
  height: auto;
  /*4.7vmin;*/
  position: relative;
  top: 0;
  width: 100%;
  border: solid 1px #444;
  border-bottom-color: #777;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #9a9a9a;
}

#modalPartialOptions .subHead img {
  max-width: 6%;
  padding: .4%;
}

#modalPartialOptions .subContent {
  width: 100%;
  display: flex;
  justify-content: center;
  /*space-evenly;*/
  align-items: center;
  padding: 3% 0;
  background: #c4c4c4;
  border: solid 1px #444;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#modalPartialOptions .optionsBlock {
  padding: 0 1%;
}

#modalPartialOptions .optionsBlock .options {
  width: 13%;
  margin: 0 .5%;
}

#correctAns img {
  position: absolute;
  width: 85%;
  top: auto;
  left: 23px;
}


/* Ans pop up */
.Ans {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9215686274509803);
  z-index: 100;
  display: flex !important;
  align-items: center !important;
}

#Ans img {
  position: absolute;
  width: 85%;
  top: auto;
  left: 23px;
}

#Ans img {
  position: absolute;
  width: 70%;
}




/* correct ans pop-up */
#correctAns {
  /* display: flex;*/
  background: rgba(0, 0, 0, .85);
}

#correctAns .modal-dialog {
  width: 50% !important;
  max-width: 100%;
  height: 36%;
  display: flex;
  justify-content: center;
}

#correctAns .modal-content {
  height: auto;
  min-width: auto;
  min-height: auto;
}

#correctAns .modal-body {
  padding: 0;
  margin: 0;
  flex: 0 !important;
  /* flex-wrap: wrap; */
}

#correctAns .modal-body .msgImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
}

#correctAns .modal-body .actionButtons {
  text-align: center;
  margin-bottom: 2%;
}

#correctAns .modal-body .msgImage img {
  width: 70%;
}

#correctAns .modal-body .actionButtons button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 23%;
}

button:focus {
  outline: none;
}

#correctAns .modal-body .actionButtons img {
  width: 100%;
}

#correctAns .modal-header {
  top: 0;
}

#correctAns .bodyText {
  position: absolute;
  top: 30%;
  width: 100%;
}

#correctAns .bodyText img {
  width: 85%;
}

#correctAns .modal-title {
  margin-left: 3%;
}

#correctAns .close {
  /* width: 5%; */
  margin: 0 1.6% 0 auto;
}

#correctAns .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-top: none;
  position: absolute;
  width: 100%;
  bottom: 16%;
}

#correctAns .modal-footer button {
  width: 13%;
  border: none;
  background: transparent;
}

#correctAns .popupModelBody {
  padding: 0;
}


#modalTemp7 {
  background: rgba(0, 0, 0, .85);
  position: absolute !important;
  height: 94% !important;
}


/* Modal */
.modal.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

#modalTemp7 {
  background: rgba(0, 0, 0, .85);
  position: absolute !important;
  height: 94% !important;
}

.modal-dialog {
  /* width: 30%; */
  width: 60% !important;
  height: 60%;
  /* max-width: 80%; */
  /* height: auto; */
}

.modal-content {
  background: transparent;
  border: 0;
  height: 100%;
  min-width: 510px;
  /*540px;*/
  /* min-height: 400px; */
}

.modal-header {
  padding: .5%;
  height: 7vmin;
  position: relative;
  top: 0;
  width: 100%;
  border: solid .7vmin #85d222;
  border-bottom: none !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #248446;
}

.modal-header:before,
.modal-header:after {
  content: none !important;
}

.modal-body {
  padding: 2%;
  background: #afdec0;
  border: solid .7vmin #85d222;
  /* border-top:none; */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.modal-body img {
  /* max-width: 94%; */
}

.modalBodyContent {
  background: #afdec0;
  margin: -1px;
}

.modal .quesImage {
  align-self: center;
  margin: 1% auto !important;
}

@keyframes scaleit {
  0% {
    transform: scale(.9);
    opacity: .0;
  }

  90% {
    transform: scale(1.1);
    opacity: .7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-dialog {
  max-width: 100%;
  margin: 30px auto;
  width: 81% !important;
  height: 70%;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: none !important;
  }
}

.disable-ansBlock {
  opacity: 0.5;
  pointer-events: none;

}

.initDisable-ansBlock {
  pointer-events: none;
}

#container #instructionBar {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

.instructionBar .instructionBase {
  width: 60% !important;
  /*86%;*/
  position: relative;
  cursor: pointer;
}


.instructionBase .instructionText {
  position: absolute;
  top: 0%;
  left: 0;
}

.ansText {
  position: absolute;
  top: 4%;
  left: 6%;
  width: 21%;
}

.wrongImageStyle {
  /* border: solid 5px red;
    border-radius: 9%;
    height:115px;
    width: 120px;
    margin-left:-10px;
    margin-top:12px */
  opacity: 1;
  left: 50%;
  top: -84%;
  width: 50%;
  padding: 0;
  visibility: visible;
  border: solid .5vmin red;
  border-radius: 1.5vmin;
}


.zclass {
  z-index: 99;
}

.blink {
  position: absolute;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  animation-name: blinker;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@keyframes blinker {
  from {
    background: #fff;
  }

  to {
    background: transparent;
  }
}

.blinkBlock {
  border-radius: 1vmax;
  padding: 1.3%;
}

.adjustDefault {
  position: absolute;
  top: 12%;
  left: 15%;
  width: 21%;
}

.videoMainContainer {
  width: 100%;
}

.videoWrapper {
  width: 99.9%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

.videoMainContainer .videoBg {
  opacity: 0;
}

#playPauseBtn {
  position: absolute;
  top: 86%;
  right: .7%;
  cursor: pointer;
  width: 3.5%;
}

#SkipBtn {
  position: absolute;
  top: 86%;
  right: 5%;
  cursor: pointer;
  width: 3.5%;
}

button:focus {
  outline: none !important;
}

.selectedOpt {
  transform: scale(.55);  
}
.wrongOpt{
  border: solid .5vmin red;
  border-radius: 1.5vmin;
}


