<div class="container-fluid temp12" #container id="container" *ngIf="!showIntroScreen">
	<div id="bgImage"><img [src]="quesInfo.background.location=='content' ? containgFolderPath + '/' + quesInfo.background.url : quesInfo.background.url" (load)="checkImgLoaded();"/></div>
	<div id="videoContainer" #videoContainer class="d-flex align-items-center justify-content-around"> 
		<video #videoReference (loadeddata)= "checkVideoLoaded()" preload="auto">
			<source [src]="questionVideo.location=='content' ?  containgFolderPath +'/' + questionVideo?.url : assetsPath + '/' + questionVideo?.url" type="video/ogg">
			Your browser does not support HTML5 video.
		</video>
		<div class="spin_btn" (click)="playVideo()">
			<img *ngIf="quesInfo.play_btn" [src]="quesInfo?.play_btn.location=='content' ? containgFolderPath +'/' + quesInfo?.play_btn?.url : assetsPath + '/' + quesInfo?.play_btn?.url" (load) = "checkImgLoaded()"/>
		</div>
	</div>
	<div class="d-flex flex-row align-items-center justify-content-around disable_div" #navBlock id="navBlock">
			<div class="prevBtn peechejao img-fluid" (click)="previous()"  [ngClass]="{'disable-click': isFirstQues == true}">
				<img class="img-fluid" [src] = "quesInfo?.peechey_jayein?.location =='content' ? containgFolderPath + '/' +quesInfo?.peechey_jayein?.url : assetsPath + '/' +  quesInfo?.peechey_jayein?.url" (mouseleave)="onLeavePeecheyBtn()" on-mouseenter="onHoverPeecheyBtn()" (load)="checkImgLoaded();">
			</div>
			<div class="nextBtn">
				<div class="img-fluid aagebadho" (click)="next()">
					<img class="img-fluid" [src] = "quesInfo?.aagey_badhein?.location =='content' ? containgFolderPath + '/' +quesInfo?.aagey_badhein?.url : assetsPath + '/' +  quesInfo?.aagey_badhein?.url" (mouseleave)="onLeaveAageyBadheinBtn()" on-mouseenter="onHoverAageyBadheinBtn()" (load)="checkImgLoaded();">
				</div>
				<div class="blink_btn img-fluid" [ngClass]="{'blink' :blink}" (click)="next()">
					<img class="img-fluid" [src] = "quesInfo?.aagey_badhein_blink?.location =='content' ? containgFolderPath + '/' +quesInfo?.aagey_badhein_blink?.url : assetsPath + '/' + quesInfo?.aagey_badhein_blink?.url">
				</div>
			</div> 
		</div>
	
	<div id="help" #helpBtn class="helpBtn" on-mouseenter="onHoverHelp()" (mouseleave)="onHoverHelpOut()" (click)="playSoundHelp();" [ngClass]="{'disable-click': disableHelpBtn == true}">
		<img class="img-fluid" [src]="quesInfo?.help_btn?.location=='content' ? containgFolderPath + '/' + quesInfo?.help_btn?.url : assetsPath + '/' +  quesInfo?.help_btn?.url" (load)="checkImgLoaded();">
	</div>
	<audio #titleHelpAudio [src]="quesInfo?.narrator?.location=='content' ? containgFolderPath + '/' + quesInfo?.narrator?.url : assetsPath + '/' + quesInfo?.narrator?.url "></audio>
</div>
<div class="container-fluid temp12" #container id="container" *ngIf="showIntroScreen">
	<div id="bgImage"><img [src]="quesInfo?.background?.location=='content' ? containgFolderPath + '/' + quesInfo?.background?.url : assetsPath + '/' +  quesInfo?.background?.url" (load)="checkImgLoaded();"/></div>
	<div class="d-flex align-items-center justify-content-center" id="activity">
		<img class="img-fluid" [src] ="quesInfo?.krikalapText?.location=='content' ? containgFolderPath + '/' + quesInfo?.krikalapText?.url : assetsPath + '/' +  quesInfo?.krikalapText?.url" (load)="checkImgLoaded();" />
	</div>
	<div class="d-flex align-items-center justify-content-center" id="activityTitle">
		<img class="img-fluid" [src] ="quesInfo?.titleText?.location=='content' ? containgFolderPath + '/' + quesInfo?.titleText?.url : assetsPath + '/' +  quesInfo?.titleText?.url" (load)="checkImgLoaded();" />
	</div>			
	<div class="d-flex justify-content-end hideit" #titleNavBtn id="zaariRakheinId">
		<div class="zaariRakheinBtn" (click)="closeTitleScreen()" on-mouseenter="onHoverZaariRakhein()" (mouseleave)="onHoverOutZaariRakhein()"><img [src]="quesInfo.jariRakheinBtn.location=='content' ? containgFolderPath + '/' + quesInfo.jariRakheinBtn.url : quesInfo.jariRakheinBtn.url" ></div>
	</div>
	<audio #titleAudio [src]="quesInfo?.narrator?.location=='content' ? containgFolderPath + '/' + quesInfo?.narrator?.url: assetsPath + '/' + quesInfo?.narrator?.url" autoplay="autoplay"></audio>
</div> 
