@-webkit-keyframes blinker {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}
@keyframes blinker {
	50% {
		opacity: .5;
	}
}
@-webkit-keyframes blinker {
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0.0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.50;
	}
	75% {
		opacity: 0.25;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.50;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}
#container {
	.hideit {
		display: none !important;
	}
	position: relative;
	padding: 0;
	#bgImage {
		img {
			width: 100%;
		}
	}
	#videoContainer {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		video {
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}
	#navBlock {
		position: absolute;
		top: 83%;
		left: 0%;
		width: 100%;
		.prevBtn {
			margin-left: 4%;
			text-align: right;
			margin-left: 4%;
			text-align: right;
			margin-left: 4%;
			text-align: right;
		}
		.nextBtn {
			margin-right: 4%;
			position: relative;
			margin-right: 4%;
			position: relative;
			margin-right: 4%;
			position: relative;
		}
	}
	#activity {
		position: absolute;
		width: 100%;
		top: 10%;
	}
	#activityTitle {
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
	#zaariRakheinId {
		position: absolute;
		top: 80%;
		left: 0%;
		width: 100%;
	}
}
.showit {
	display: block !important;
}
.dispFlex {
	display: flex !important;
}
.visibleNo {
	visibility: hidden !important;
}
.visibleYes {
	visibility: visible !important;
}
.pauseAnim {
	animation-play-state: paused;
}
#navBlock {
	.prevBtn {
		width: 8%;
		img {
			cursor: pointer;
			cursor: pointer;
			cursor: pointer;
		}
	}
	.nextBtn {
		width: 8%;
		img {
			cursor: pointer;
			cursor: pointer;
			cursor: pointer;
		}
	}
}
.blink_btn {
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
}
.blink {
	display: block;
	position: absolute;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
	cursor: pointer;
	position: absolute;
	top: 0%;
	left: 0%;
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}
#zaariRakheinId {
	.zaariRakheinBtn {
		width: 16%;
		margin-top: .5%;
		margin-right: 7.5%;
		float: right;
		cursor: pointer;
		img {
			width: 100%;
		}
	}
}
.title_class {
	font-size: 50px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}
#help {
	position: absolute;
	width: 4.5%;
	left: 10%;
	cursor: pointer;
	position: absolute;
	width: 4%;
	left: 0.5%;
	bottom: 7.2%;
	cursor: pointer;
	top: 82%;
}
.disable-click {
	pointer-events: none;
	opacity: 0.5;
}
.disable_div {
	pointer-events: none;
}
.spin_btn {
	position: absolute;
	top: 29%;
	left: 48%;
	width: 4%;
	img {
		width: 100%;
		cursor: pointer;
	}
}
.fadeInAnimation {
	opacity: 1;
	animation: fadeIn 0.3s linear;
}
.fadeOutAnimation {
	opacity: 0;
	animation: fadeOut 0.3s linear;
}
