<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="" #overlay></div>
  <div class="container-fluid eva" id="container">
  <audio #narrator></audio>
  <div class="headerBar">
    <img class="img-fluid"
      [src]="commonAssets?.header_bar?.location =='content' ? containgFolderPath + '/' + commonAssets?.header_bar?.url : assetsPath + '/' + commonAssets?.header_bar?.url"
      (load)="checkImgLoaded();" />
  </div>
  <div id="bgImage">
    <img class="img-fluid"
      [src]="commonAssets?.background?.location =='content' ? containgFolderPath + '/' + commonAssets?.background?.url : assetsPath + '/' + commonAssets?.background?.url"
      (load)="checkImgLoaded();" />
  </div>
  <div #maincontent>
  <div id="instructionBar">
    <div class="instructionBase">
      <img class="img-fluid"
        [src]="commonAssets?.instruction_bg
              ?.location =='content' ? containgFolderPath + '/' + commonAssets?.instruction_bg?.url : assetsPath + '/' + commonAssets?.instruction_bg?.url"
        (load)="checkImgLoaded();" />
      <span class="instructionText">{{instructiontext}}</span>
    </div>
  </div>
  <audio #instruction [src]="commonAssets?.instruction?.location=='content' ? containgFolderPath + '/' + commonAssets?.instruction?.url:commonAssets?.instruction?.url"></audio>

  <div id="optionsBlock" #optionsBlock>
    <div class="leftBlock">
      <!-- <img class="img-fluid" [src]="commonAssets?.backgroundMonths?.location=='content' ? containgFolderPath + '/' + commonAssets?.backgroundMonths?.url : assetsPath + '/' + commonAssets?.backgroundMonths?.url"> -->
      <div class="blockContent">
        <div *ngFor="let item of monthsArr; let idx = index">
          <img style="margin:0 0.2%" class="img-fluid" [src]="item?.selected ? 
          item?.slectedBaseImg?.location=='content' ? containgFolderPath + '/' + item?.slectedBaseImg?.url : assetsPath + '/' + item?.slectedBaseImg?.url:item?.base?.location =='content' ?  containgFolderPath + '/'+ item.base.url : assetsPath +'/' +item.base.url" >  
          <img class="img-fluid monthName" [src]="item?.monthImg?.location=='content' ? containgFolderPath + '/' + item?.monthImg?.url : assetsPath + '/' + item?.monthImg?.url" (mousemove)="hoveronMonth(item)" (mouseleave)="houtonMonth(item)"
          [ngClass] = "{'disable-state': item.disabled, 'selected-state': item.selected && !this.quesObj.multi_month}"  (click) = "onClickCalender(item,'month')">
        </div>
      </div>
    </div>
    <div class="topBlock">
      <!-- <img class="img-fluid" src="../../assets/images/Template-22/baseYears.png"> -->
      <!-- <img class="img-fluid"  [src]="commonAssets?.backgroundYears?.location=='content' ? containgFolderPath + '/' + commonAssets?.backgroundYears?.url : assetsPath + '/' + commonAssets?.backgroundYears?.url"> -->
      <div class="blockContent">
        <div *ngFor="let item of Arryears;">
          <img class="img-fluid yearBase" [src]="item?.selected ? 
          item?.base_selected?.location=='content' ? containgFolderPath + '/' + item?.base_selected?.url : assetsPath + '/' + item?.base_selected?.url : item?.year_base?.location =='content' ?  containgFolderPath + '/'+ item.year_base.url : assetsPath +'/' +item.year_base.url" >
          <img class="img-fluid yearLabel" [src]="item?.yearsImg?.location=='content' ? containgFolderPath + '/' + item?.yearsImg?.url : assetsPath + '/' + item?.yearsImg?.url" (mousemove)="hoveronYear(item)" (mouseleave)="houtonYear(item)" 
          [ngClass] = "{'disable-state': item.disabled, 'selected-state': item.selected }"  (click) = "onClickCalender(item,'year')">  
        </div>
        <!-- <span *ngFor="let item of Arryears; let idx = index"> -->
      </div>
    </div>
    <div class="rightBlock">
      <!-- <img class="img-fluid" src="../../assets/images/Template-22/baseDaysWeeks.png"> -->
      <img class="img-fluid" [src]="commonAssets?.backgroundDaysWeeks?.location=='content' ? containgFolderPath + '/' + commonAssets?.backgroundDaysWeeks?.url : assetsPath + '/' + commonAssets?.backgroundDaysWeeks?.url">
      <div class="weekDays">
        <div class="blockContent">
          <span *ngFor="let item of ArrweekDays; let idx = index">
          <img style="position: absolute;" class="img-fluid"  [src]="item?.weekDayImg?.location=='content' ? containgFolderPath + '/' + item?.weekDayImg?.url : assetsPath + '/' + item?.weekDayImg?.url" 
          (mousemove)="hoveronWeekDays(item)" (mouseleave)="houtonWeekDays(item)"
          [ngClass] = "{'disable-state': item.disabled, 'selected-state': item.selected && !quesObj.multi_day }" (click) = "onClickCalender(item,'weekDays')">
          <img style="margin:0 0.2%" class="img-fluid" [src]="item?.selected ? 
          item?.base_selected?.location=='content' ? containgFolderPath + '/' + item?.base_selected?.url : assetsPath + '/' + item?.base_selected?.url : item?.base?.location =='content' ?  containgFolderPath + '/'+ item.base.url : assetsPath +'/' +item.base.url" >
          </span>
        </div>
      </div>
      <div class="monthDates" #monthDates>
        <div class="blockContent">
          <div class="opacityZero" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
          <div class="opacityZero">
            <img class="img-fluid" src="./assets/images\EVAGlobal/template_14/Days/base.png" (mousemove)="hoveronDate($event)" (mouseleave)="houtonDate($event)"  (click) = "onClickCalender($event,'date')">
            <span>1</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <audio #rightFeedbackVO [src]="feedbackObj?.right_ans_sound?.location=='content' ? containgFolderPath + '/' + feedbackObj?.right_ans_sound?.url: assetsPath + '/' + feedbackObj?.right_ans_sound?.url"></audio>
  <audio #wrongFeedbackVO [src]="feedbackObj?.wrong_ans_sound?.location=='content' ? containgFolderPath + '/' + feedbackObj?.wrong_ans_sound?.url: assetsPath + '/' + feedbackObj?.wrong_ans_sound?.url"></audio>
  <!-- The Confirmation Modal -->
  <div class="modal" id="confirmModal" #confirmModalRef>
    <div class="modal-dialog">
      <!-- <img class="popupBg img-fluid" [src]="confirmPopupAssets?.bg_img?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.bg_img?.url : assetsPath + '/' + confirmPopupAssets?.bg_img?.url"> -->
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="feedbackObj?.style_header">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <img class="modal-title" [src]="feedbackObj?.confirm_popup?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.confirm_popup?.headerTxt_img?.url : assetsPath + '/' + feedbackObj?.confirm_popup?.headerTxt_img?.url">
          <!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
          <img class="close" [src]="confirmPopupAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.close_btn?.url : assetsPath + '/' + confirmPopupAssets?.close_btn?.url" (click)="showFeedback('showAnswer-modal-id','no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>

        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="feedbackObj?.confirm_popup?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="confirmPopupAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.confirm_text?.url : assetsPath + '/' + confirmPopupAssets?.confirm_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="showFeedback('showAnswer-modal-id','answer');" (mousemove)="hoverConfirm()" (mouseleave)="houtConfirm()"><img class="img-fluid" [src]="confirmPopupAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.confirm_btn?.url : assetsPath + '/' + confirmPopupAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="showFeedback('showAnswer-modal-id','no');" (mousemove)="hoverDecline()" (mouseleave)="houtDecline()"><img class="img-fluid" [src]="confirmPopupAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.decline_btn?.url : assetsPath + '/' + confirmPopupAssets?.decline_btn?.url"></button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- The infoPopup Modal -->
  <div class="modal" id="confirmModal" #infoModalRef>
    <div class="modal-dialog">
      <!-- <img class="popupBg img-fluid" [src]="confirmPopupAssets?.bg_img?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.bg_img?.url : assetsPath + '/' + confirmPopupAssets?.bg_img?.url"> -->
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="infoPopupAssets?.style_header">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <img class="modal-title" [src]="infoPopupAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.headerTxt_img?.url : assetsPath + '/' + infoPopupAssets?.headerTxt_img?.url">
          <!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
          <img class="close" [src]="infoPopupAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.close_btn?.url : assetsPath + '/' + infoPopupAssets?.close_btn?.url" (click)="showFeedback('info-modal-id','no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>

        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="infoPopupAssets?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="infoPopupAssets?.info_text?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.info_text?.url : assetsPath + '/' + infoPopupAssets?.info_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="showFeedback('info-modal-id','ok');" (mousemove)="hoverOK()" (mouseleave)="houtOK()"><img class="img-fluid" [src]="infoPopupAssets?.ok_btn?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.ok_btn?.url : assetsPath + '/' + infoPopupAssets?.ok_btn?.url"></button>
          </div>
        </div>
        <audio #feedbackInfoAudio></audio>
      </div>
    </div>
  </div>

  <div class="modal" id="confirmModal" #confirmSubmitRef>
    <div class="modal-dialog">
        <div class="modal-content" #modalRef>
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="confirmSubmitAssets?.style_header">
            <img class="modal-title" [src]="confirmSubmitAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + confirmSubmitAssets?.headerTxt_img?.url : assetsPath + '/' + confirmSubmitAssets?.headerTxt_img?.url">
            <img class="close" [src]="confirmSubmitAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + confirmSubmitAssets?.close_btn?.url : assetsPath + '/' + confirmSubmitAssets?.close_btn?.url" (click)="showFeedback('submit-modal-id','no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
          </div>
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="confirmSubmitAssets?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="confirmSubmitAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + confirmSubmitAssets?.confirm_text?.url : assetsPath + '/' + confirmSubmitAssets?.confirm_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="showFeedback('submit-modal-id','yes');" (mousemove)="hoverSubmitConfirm()" (mouseleave)="houtSubmitConfirm()"><img class="img-fluid" [src]="confirmSubmitAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + confirmSubmitAssets?.confirm_btn?.url : assetsPath + '/' + confirmSubmitAssets?.confirm_btn?.url"></button>
              <button type="button" (click)="showFeedback('submit-modal-id','no');" (mousemove)="hoverSubmitDecline()" (mouseleave)="houtSubmitDecline()"><img class="img-fluid" [src]="confirmSubmitAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + confirmSubmitAssets?.decline_btn?.url : assetsPath + '/' + confirmSubmitAssets?.decline_btn?.url"></button>
            </div>
          </div>
        </div>
    </div>
  </div>

     <!-- The Modal -->
  <div class="modal" id="modalTemp22" #popupRef>
    <div class="modal-dialog">
      <!-- <img class="popupBg img-fluid" [src]="feedbackObj?.popup_commmon_imgs?.bg_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.popup_commmon_imgs?.bg_img?.url : assetsPath + '/' + feedbackObj?.popup_commmon_imgs?.bg_img?.url"> -->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" [ngStyle]="styleHeaderPopup">
          <img class="modal-title" [src]="feedbackObj?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.headerTxt_img?.url : assetsPath + '/' + feedbackObj?.headerTxt_img?.url">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
          <img class="close" [src]="feedbackObj?.popup_commmon_imgs?.close_btn?.location=='content' ? containgFolderPath + '/' + feedbackObj?.popup_commmon_imgs?.close_btn?.url : assetsPath + '/' + feedbackObj?.popup_commmon_imgs?.close_btn?.url" type="button" (click)="closeModal();" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
          <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body d-flex justify-content-center"  [ngStyle]="styleBodyPopup">
          <div id="optionsBlock" #optionsBlock>
            <div class="leftBlock">
              <!-- <img class="img-fluid" src="../../assets/images/Template-22/baseMonths.png"> -->
              <img class="img-fluid" [src]="commonAssets?.backgroundMonths?.location=='content' ? containgFolderPath + '/' + commonAssets?.backgroundMonths?.url : assetsPath + '/' + commonAssets?.backgroundMonths?.url">
              <div class="blockContent">
                <img class="img-fluid" *ngFor="let item of monthsArr; let idx = index" [src]="item?.checkRightorWrong ? 
                item?.ImginpopUp?.location=='content' ? containgFolderPath + '/' + item?.ImginpopUp?.url : assetsPath + '/' + item?.ImginpopUp?.url :
                item?.monthImg?.location=='content' ? containgFolderPath + '/' + item?.monthImg?.url : assetsPath + '/' + item?.monthImg?.url" [ngClass] = "{'disable-state': item.disabled }">
              </div>
            </div>
            <div class="topBlock">
              <!-- <img class="img-fluid" src="../../assets/images/Template-22/baseYears.png"> -->
              <img class="img-fluid"  [src]="commonAssets?.backgroundYears?.location=='content' ? containgFolderPath + '/' + commonAssets?.backgroundYears?.url : assetsPath + '/' + commonAssets?.backgroundYears?.url">
              <div class="blockContent">
                <img class="img-fluid" *ngFor="let item of Arryears; let idx = index" [src]="item?.checkRightorWrong ? 
                item?.ImginpopUp?.location=='content' ? containgFolderPath + '/' + item?.ImginpopUp?.url : assetsPath + '/' + item?.ImginpopUp?.url :
                item?.yearsImg?.location=='content' ? containgFolderPath + '/' + item?.yearsImg?.url : assetsPath + '/' + item?.yearsImg?.url" [ngClass] = "{'disable-state': item.disabled }">
              </div>
            </div>
            <div class="rightBlock">
              <!-- <img class="img-fluid" src="../../assets/images/Template-22/baseDaysWeeks.png"> -->
              <img class="img-fluid" [src]="commonAssets?.backgroundDaysWeeks?.location=='content' ? containgFolderPath + '/' + commonAssets?.backgroundDaysWeeks?.url : assetsPath + '/' + commonAssets?.backgroundDaysWeeks?.url">
              <div class="weekDays">
                <div class="blockContent">
                  <img class="img-fluid" *ngFor="let item of ArrweekDays; let idx = index" [src]="item?.checkRightorWrong ? 
                  item?.weekDayImginpopUp?.location=='content' ? containgFolderPath + '/' + item?.weekDayImginpopUp?.url : assetsPath + '/' + item?.weekDayImginpopUp?.url :
                  item?.weekDayImg?.location=='content' ? containgFolderPath + '/' + item?.weekDayImg?.url : assetsPath + '/' + item?.weekDayImg?.url" [ngClass] = "{'disable-state': item.disabled }">
                </div>
              </div>
              <div class="monthDates" #monthDatesinPopup>
                <div class="blockContent">
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images/Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" > 
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                  <img class="img-fluid opacityZero" src="./assets/images\Template-22/English/Images English/Days/Days Normal/date01.png" >
                </div> 
              </div> 
            </div> 
          </div>
          <div class="actionButtonOk">
            <button type="button" (click)="onclickOK();"><img class="img-fluid" [src]="feedbackObj?.ok_btn?.location=='content' ? containgFolderPath + '/' + feedbackObj?.ok_btn?.url : assetsPath + '/' + feedbackObj?.ok_btn?.url" (mousemove)="hoverOK()" (mouseleave)="houtOK()"></button>
            </div>
          <audio #feedbackPopupAudio></audio>
        </div>
      </div>
     </div>
   </div>
</div>
