.opacityZero{
    opacity:0;
    pointer-events: none !important;
  }
  .hideit{display:none !important;}
  .showit{display:block !important;}
  .dispFlex{display:flex !important;}
  button:focus {outline: none !important;}
  #container{
      position: relative;
      padding:0;
  }
  #container #bgImage img {
      width: 100%;
  }
  #container #optionsBlock {
    position: absolute;
    top: 14.5%;
    width: 96%;
    left: 2%;
    height: 65%;
  }
  #optionsBlock .leftBlock {
    position: absolute;
    left: 0;
    top: 0;
    width:12.37%;
    height: 100%;
  }
  #optionsBlock .topBlock {
    position: absolute;
    right: 0;
    top: 0;
    width: 85.9%;
    height: 9.8%;
  }
  #optionsBlock .rightBlock {
    position: absolute;
      right: 0;
    top: 15.5%;
    width: 85.9%;
  }
  .rightBlock .weekDays {
    position: absolute;
      width: 100%;
      top: 1.7%;/*7.7%*/
  }
  #optionsBlock .rightBlock .weekDays .blockContent {
      display: block !important;
  }
  #optionsBlock .blockContent {
    position: absolute;
    top: 0;
      width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  #optionsBlock .blockContent img {
       max-width: 91%;
      cursor: pointer;
  }
  .leftBlock .blockContent img {
       margin: 0;
  }
  .leftBlock .blockContent img.monthName {
    position: absolute;
}
/* #optionsBlock .leftBlock .blockContent {
      flex-direction: column;
    text-align: -webkit-center;
  } */
 #optionsBlock .leftBlock .blockContent div {
    display: flex; 
    justify-content: center; 
    align-items: center;
 }
  .topBlock .blockContent img,
  .weekDays .blockContent img {
      margin: 0 .43%;
      max-width: 13.4% !important;
  }
.topBlock .blockContent img.yearBase{
  max-width: 94% !important;
  margin: 0;
}
.topBlock .blockContent img.yearLabel{
  position: absolute;
  margin: 0;
}
#optionsBlock .topBlock .blockContent {
    align-items: center;
    flex-wrap: nowrap;
}
#optionsBlock .topBlock .blockContent div{
  display: flex; 
  justify-content: center; 
  align-items: center;
}
.monthDates {
  position: absolute;
  top: 17%;
  width: 100%;
}
  #optionsBlock .monthDates .blockContent {
      align-content: flex-start !important;
    justify-content: flex-start !important;
      display: inline-table;
  }
  .monthDates .blockContent img {
      margin: 0.5% 1.89%;
    max-width: 10.5% !important;
  }
  
  .monthDates .blockContent img[src=''] {
      visibility: hidden;
      width: 10.5%;
  }
  
  /* use below classes to pass value as 'Text' */
  /*
  <div>
      <img class="img-fluid" src="../../assets/images/Template-22/English/Images English/Days/DaysBlankBox.png">
      <span>1</span>
  </div>
  */
  /* .monthDates .blockContent div {
    display: flex;
    width: 13%;
    margin: 0.29% .64%;
    justify-content: center;
    align-items: center;
    font-size: 2vmax;
    font-family: arial, sans-serif;
  }
  .monthDates .blockContent div span {
      position: absolute;
      line-height: 7%;
  } */
  /************************************#########$$$$$$$$$$$#########*************************************/
  #hoverques, #clickques {
  position: absolute;
  }
  
  #optionsBlock>img{
      position:relative;
    /* cursor:pointer; */
      max-width: 100%;/*85%;*/
  }
  #optionsBlock .refTxt{
    position: absolute;
    bottom: 0%;
      left:0%;
      z-index:2;
  }
  #container #navBlock {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
  }
  #container #navBlock .navBase{
    position: relative;
    margin:auto;
    width: 64%;
  }
  #container #navBlock .prevBtn,
  #container #navBlock .nextBtn,
  #container #navBlock .ansBtn,
  #container #navBlock .quesBlock{
      position: absolute;
    top: 17%;
  }
  #container #navBlock .prevBtn,
  #container #navBlock .nextBtn,
  #container #navBlock .ansBtn,
  #container #navBlock .quesBlock img{
      cursor:pointer;
  }
  #container #navBlock .prevBtn{
      left: 3.2%;
  }
  #container #navBlock .ansBtn{
    left: 22.8%;
    width: 15.2%;
  }
  #container #navBlock .quesBlock{
      left: 38.1%;
    width: 39%;
  }
  #container #navBlock .nextBtn{
    right: 3.3%;
  }
  #navBlock .prevBtn, #navBlock .nextBtn{
      width:19.6%;
  }
  #navBlock .prevBtn img, #navBlock .nextBtn img{
      cursor:pointer;
  }
  .animation-shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      animation-iteration-count: infinite;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  #correctAns{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      background:#000;
      z-index:100;
      display:flex;
    align-items:center;
    /*
      background: url(../images/popup.svg) no-repeat center center;
    */
    background-size: contain;
      animation: scaleit 0.2s ease-in;
  }
  .rightAnsBg{
      animation: scaleit 0.2s ease-in;
  }
  .disable-state {
    opacity: 0.3;
    pointer-events: none;
  }
  
  .selected-state {
    pointer-events: none;
  }
  #correctAns img{
      position:absolute;
      width:70%;
  }
 
  @keyframes scaleit {
      0% {
          transform: scale(.9);
          opacity:.0;
      }
      90% {
          transform: scale(1.1);
          opacity:.7;
        }
      100% {
          transform: scale(1);
          opacity:1;
        }
  }
  #container #navBlock .prevBtn:hover,
  #container #navBlock .nextBtn:hover {
    -webkit-animation-name: moveLeft; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: .3s; /* Safari 4.0 - 8.0 */
    animation-name: moveLeft;
    animation-duration: .3s;
    animation-iteration-count:infinite;
  }
  #container #navBlock .nextBtn:hover {
    -webkit-animation-name: moveRight; /* Safari 4.0 - 8.0 */
    animation-name: moveRight;
  }
  @keyframes moveLeft {
    0%   {left:3.2%;}
    100% {left:2%;}
  }
  @keyframes moveRight {
    0%   {right:3.3%;}
    100% {right:2%;}
  }
  #burst{
      position:absolute;
      z-index:101;
      width:100%;
      height:100%;
  }
  
  .disable_div {
      pointer-events: none;
    }
  
   .options .desc {
      position: relative;
  }
  
  /*.options:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }*/
  
  .right,
  .wrong{
      width:20%;
      position: absolute !important;
      z-index: 3;
      left:40%;
      bottom: -70%;
      display: none;
  }
  
  /* #mySvg defs path:hover {
    stroke: #FFFFCC !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #FFFFCC !important;
    cursor: pointer;
  } */
  
  /* Modal classes */
  #customModal {
    display: block !important;
  
  }
  #customModal .optionsBlock {
    width: 44%;
  }
  #customModal .modal-body {
    height: 91%;
    padding: 0 15px;
  }
  #customModal .options {
    position: relative;
    margin: .7% 0;
  }
  #customModal .options div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #customModal .options div img {
    width: 48%;
  }
  
  #modalTemp22 .modal-body .actionButtons {
      text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5%;
    width: 55%;
  }
  
  .actionButtonOk {
      text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5%;
    width: 8%;
  }
  
  .actionButtonOk button {
    background: transparent;
    border: transparent;
    padding: 0;
  }
  
  
  #modalTemp22 .modal-body .actionButtons img {
      max-width: 80%;
  }
  
  
  /*confirm modal*/
  
  .confirm_modal_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
  
  #confirmModal {
    /* display: flex;*/
    background: rgba(0,0,0,.85);
  }
  #confirmModal .modal-dialog {
    width: 50% !important;
      max-width: 100%;
      height: 36%;
      display: flex;
    justify-content: center;
  }
  #confirmModal .modal-content {
    height: auto;
    min-width: auto;
    min-height: auto;
  }
  #confirmModal .modal-body {
    padding: 0;
    margin: 0;
      flex: 0 !important;
      /* flex-wrap: wrap; */
  }
  #confirmModal .modal-body .msgImage {
      display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
  }
  #confirmModal .modal-body .actionButtons{
      text-align: center;
      margin-bottom: 2%;
  }
  #confirmModal .modal-body .msgImage img {
    width: 100% !important;
    max-width: 100% !important;
  }
  #confirmModal .modal-body .actionButtons button {
      border:none;
      background: transparent;
      padding:0;
      margin:0;
      width: 20%;
  }
  button:focus {
      outline: none;
  }
  #confirmModal .modal-body .actionButtons img {
      width: 100%;
  }
  #confirmModal .modal-header {
      top:0;
  }
  #confirmModal .bodyText {
    position: absolute;
    top: 30%;
    width: 100%;
  }
  #confirmModal .bodyText img {
    width: 85%;
  }
  #confirmModal .modal-title {
    margin-left: 3%;
  }
  #confirmModal .close {
    /* width: 5%; */
    margin: 0 1.6% 0 auto;
  }
  #confirmModal .modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-top: none;
    position: absolute;
    width: 100%;
    bottom: 16%;
  }
  #confirmModal .modal-footer button {
    width: 13%;
    border: none;
    background: transparent;
  }
  #confirmModal .popupModelBody {
    padding: 0;
  }
  .displayPopup {
    display: -webkit-box !important;
    /* transition: all 2s ease-in-out;
    transform: scale(1.2); */
  }
  .modal {
    position: absolute !important;
    width: 100%;
    height: 94.2%;
      z-index: 100 !important;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  .modal.show {
    display: -webkit-box !important;
  }
  .modal-dialog {
    max-width: 80%;
    height: auto;
  }
  #modalTemp22 {
    background: rgba(0,0,0,.85);
  }
  #modalTemp22 .modal-dialog {
    width: 96%;
    max-width: 100%;
    height: 95%;
  }
  .modal-content {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;
    height: 100%;
    min-width: 450px; /*640px;*/
    min-height: 350px; /*198px;*/
  }
  
  .modal-header {
    padding: .5% !important;
    height: 7vmin; /*56px;*/
    position: relative;
    top: -12.8%;
    width: 100%;
    border-bottom: none !important;
    margin-bottom: -1px;
  }
  #modalTemp22 .modal-header {
    top: 0;
  }
  .modal-title {
      margin-left: 1.5%;
      height: 80%;
  }
  .close {
      width: auto;
      height: 75%;
    margin-right: 0%;
      margin-top: -.1%;
    -webkit-appearance: inherit !important;
    cursor: pointer;
    opacity: 1;
  }
  @media (min-width: 1366px){
      .close {
          height: 95%;
      margin-right: .3%;
      }
  }
  #modalTemp22 .modal-header .close {
    margin-left:auto;
  }
  .modal-body {
    padding: 2%;
    border-top: none;
      flex:auto !important;
  }
  
  .modal-body img {
    max-width: 77%;
  }
  
  .adjustment{
    max-width: 100% !important;
    padding-top:8%
  }
  
  #modalTemp22 .modal-body {
    flex: none !important;
      padding: 3% !important;
      height: 89.1%;
  }
  
  #modalTemp22 .modal-body img {
    max-width: 100%;
    /* width: 100%; */
  }
  
  #modalTemp22 #optionsBlock {
    top: 3.5%;
    pointer-events: none;
    /* height: 65%; */
  }
  
  #modalTemp22 #optionsBlock .leftBlock .blockContent img {
    width: 92%;
  }
  
  #modalTemp22 #optionsBlock .rightBlock {
    top: 19%;
  }
  
  .modalBodyContent {
    background: #afdec0;
    margin: -1px;
  }
  
  .modal .quesImage {
    align-self: center;
    margin: 1% auto !important;
  }
  
  #modalTemp22 .quesImage {
    /* height: 100%; */
  }
  
    .close:focus, .close:hover {
      /*color: #000;
    text-decoration: none;
    opacity: 1;*/
    }
  
  html [type=button] {
    -webkit-appearance: none;
  }
  
  .scaleInAnimation {
    animation: scaleIn 0.5s linear;
    transform: scale(1.2);
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(1.0)
    }
  
    100% {
      transform: scale(1.2)
    }
  }
  
  
  .scaleOutAnimation {
    animation: scaleOut 0.5s linear;
    transform: scale(1.0);
  }
  
  @keyframes scaleOut {
    0% {
      transform: scale(1.2)
    }
  
    100% {
      transform: scale(1.0)
    }
  }
  
  nav {
      position: absolute;
      bottom: 0;
      margin: auto;
      display: flex !important;
      justify-content: center;
      width: 100%;
  }
  
  /* .btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none !important;
  } */
  