<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<audio #instruction
  [src]="commonAssets?.instruction?.location=='content' ? containgFolderPath + '/' +commonAssets?.instruction.url: assetsPath + '/'+ commonAssets?.instruction.url"
  autoplay="autoplay"></audio>
<div class="" [ngClass]="{'fadeContainer':isOverlay}"></div>
<div class="container-fluid eva" id="container">
  <div class="headerBar">
    <img class="img-fluid"
      [src]="commonAssets?.header_bar?.location =='content' ? containgFolderPath + '/' + commonAssets?.header_bar?.url : assetsPath + '/' + commonAssets?.header_bar?.url" />
  </div>
  <div id="bgImage">
    <img class="img-fluid"
      [src]="commonAssets?.background?.location =='content' ? containgFolderPath + '/' + commonAssets?.background?.url : assetsPath + '/' + commonAssets?.background?.url" />
  </div>
  <div [ngClass]="{'disableDiv':disableMainContent}">
    <div id="instructionBar">
      <div class="instructionBase">
        <img class="img-fluid"
          [src]="commonAssets?.instruction_bg
                ?.location =='content' ? containgFolderPath + '/' + commonAssets?.instruction_bg?.url : assetsPath + '/' + commonAssets?.instruction_bg?.url" />
        <span class="instructionText">{{instructiontext}}</span>
      </div>
    </div>
    <div class="parentBlock">
      <div class="answerBlock" *ngFor="let quesTxt of quesObj?.questionText;">
        <img class="img-fluid"
          [src]="quesTxt?.quesBackground?.bg_image_original?.location =='content' ? containgFolderPath + '/' + quesTxt?.quesBackground?.bg_image_original?.url : assetsPath + '/' + quesTxt?.quesBackground?.bg_image_original?.url" />
        <img *ngIf="quesTxt?.image" class="img-fluid"
          [src]="quesTxt?.image?.location =='content' ? containgFolderPath + '/' + quesTxt?.image?.url : assetsPath + '/' + quesTxt?.image?.url" />
      </div>
    </div>
    <div class="keypadParent">
      <div class="keypadBlock gridContainer">
        <img class="img-fluid"
          [src]="myoption?.keypad?.background?.location=='content' ? containgFolderPath + '/' + myoption?.keypad?.background?.url : myoption?.keypad?.background?.location=='assets' ? assetsPath + '/' +myoption?.keypad?.background?.url:''"
          alt="">
        <div #optionsContainer [ngClass]="[parentInputClass]">
          <div class="keyContainer {{option?.bg_class}}" id="key{{idx+1}}" *ngFor="let option of myoption?.optionsArr; let idx = index"
            (click)="checkAnswer(option, idx)" on-mousemove="onHoverOptions(option)"
            on-mouseout="onHoveroutOptions(option)" on-mouseenter='playOptionHover(option,idx)'>
            <img class="img-fluid"
              [src]="option?.image_bg?.location=='content' ? containgFolderPath + '/' + option?.image_bg?.url : option?.image_bg?.location=='assets' ? assetsPath + '/' +option?.image_bg?.url:''">
            <img class="img-fluid"
              [src]="option?.image?.location=='content' ? containgFolderPath + '/' + option?.image?.url : option?.image?.location=='assets' ? assetsPath + '/' +option?.image?.url:''">
          </div>
        </div>
      </div>
    </div>
    <app-Globalspeaker (clickSpeaker)="onSpeakerClicked()"></app-Globalspeaker>
  </div>
  <!--END OF MAIN CONTENT-->

  <!-- Right/Wrong Popup  -->
  <div class="modal" id="evaTemp12" #ansPopup>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body d-flex align-items-center">
          <img class="img-fluid"
            [src]="popupAssets?.pop_up_base?.location=='content' ? containgFolderPath +'/'+ popupAssets?.pop_up_base?.url :  assetsPath +'/'+ popupAssets?.pop_up_base?.url">
          <div class="keypadParent">
            <div class="keypadBlock">
              <img class="img-fluid"
                [src]="myoption?.keypad?.background?.location=='content' ? containgFolderPath + '/' + myoption?.keypad?.background?.url : myoption?.keypad?.background?.location=='assets' ? assetsPath + '/' +myoption?.keypad?.background?.url:''"
                alt="">
              <div #popupBodyRef [ngClass]="[parentInputClass]">
                <div class="keyContainer {{option?.bg_class}}" id="key{{idx+1}}"
                  *ngFor="let option of myoption_right_ans?.optionsArr; let idx = index"
                  [ngStyle]="{'background-image': 'url(' + (option?.highlightWord?.highlightWord_bg?.location=='content' ? containgFolderPath + '/' + option?.highlightWord?.highlightWord_bg?.url : assetsPath + '/' +option?.highlightWord?.highlightWord_bg?.url | encodeUri) + ')','visibility':'hidden'}">
                  <img *ngIf="!option?.selected" class="img-fluid visible"
                    [src]="option?.image_bg?.location=='content' ? containgFolderPath + '/' + option?.image_bg?.url : option?.image_bg?.location=='assets' ? assetsPath + '/' +option?.image_bg?.url:''">
                  <img *ngIf="option?.selected" class="img-fluid visible"
                    [src]="option?.image_bg_original?.location=='content' ? containgFolderPath + '/' + option?.image_bg_original?.url : option?.image_bg_original?.location=='assets' ? assetsPath + '/' +option?.image_bg_original?.url:''">
                  <img class="img-fluid visible"
                    [src]="option?.image?.location=='content' ? containgFolderPath + '/' + option?.image?.url : option?.image?.location=='assets' ? assetsPath + '/' +option?.image?.url:''">
                </div>
              </div>
            </div>
          </div>
          <div class="parentAnsContainer">
            <div class="answerBlockParent" *ngFor="let quesTxt of quesObj?.questionText;">
              <div class="answerBlock">
                <img class="img-fluid"
                  [src]="quesTxt?.quesBackground?.bg_image?.location =='content' ? containgFolderPath + '/' + quesTxt?.quesBackground?.bg_image?.url : assetsPath + '/' + quesTxt?.quesBackground?.bg_image?.url" />
                <img *ngIf="quesTxt?.image" class="img-fluid"
                  [src]="quesTxt?.image?.location =='content' ? containgFolderPath + '/' + quesTxt?.image?.url : assetsPath + '/' + quesTxt?.image?.url" />
              </div>
              <div class="rightAnsIcon">
                <img class="img-fluid"
                  [src]="popupIconLocation=='content' ? containgFolderPath +'/'+ popupIcon :  assetsPath +'/'+ popupIcon">
              </div>
            </div>
          </div>
          <img class="popupCloseBtn"
            [src]="popupAssets?.close_button?.location=='content' ? containgFolderPath + '/' + popupAssets?.close_button?.url : assetsPath + '/' + popupAssets?.close_button?.url"
            (click)="closePopup('answerPopup')" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()" title="बन्द करें">
        </div>
      </div>
    </div>
  </div>

  <!-- show answer Popup  -->
  <app-showanswer (closePopupChild)="closePopup('showanswer');"></app-showanswer>
</div>
<!-- Popup Modal Audios -->
<audio #wrongFeedback
  [src]="feedback?.wrong_ans_sound?.location=='content'? containgFolderPath + '/' +  feedback?.wrong_ans_sound?.url : assetsPath +'/'+ feedback?.wrong_ans_sound?.url"></audio>
<audio #rightFeedback
  [src]="rightFeedbackVO?.location=='content'? containgFolderPath + '/' +  rightFeedbackVO?.url : assetsPath +'/'+ rightFeedbackVO?.url"></audio>
<audio #clapSound
  [src]="feedback?.right_ans_clap_sound?.location=='content' ? containgFolderPath + '/' + feedback?.right_ans_clap_sound?.url:feedback?.right_ans_clap_sound?.url"></audio>
<audio #feedbackPopupAudio></audio>