<div class="container-fluid ele temp4" id="container" *ngIf="!isPlayVideo">
  <audio #narrator [src]="quesObj?.quesInstruction?.url"></audio>
  <div id="bgImage"><img class="img-fluid" [src]="commonAssets?.background?.url" (load)="checkImgLoaded();" /></div>
  <div #maincontent>
    <div class="d-flex flex-row justify-content-around instructionBar" id="instructionBar">
      <div class="instructionBase" [ngClass]="{'disable_div':instructionDisable}">
        <img class="img-fluid" [src]="commonAssets?.instruction_bg?.url" (click)="playHoverInstruction()"
          (load)="checkImgLoaded();" />
        <audio #instruction [src]="commonAssets?.instruction?.url"></audio>
      </div>
    </div>
    <div class="{{'optCount'+totalOptionCount}}"
      [ngClass]="{'bodyContent':true}">
      <div class="d-flex row1 optionsBlock">
        <img class="img-fluid optBase" [src]="question?.stringsrc?.url">
        <div #optionBlock1 [ngClass]="{'disable_div':optionDisable}">
          <div *ngFor="let opts of myoption_line1;let idx = index" class="options" id="{{'opt'+idx}}">
            <img _ngcontent-c7="" class="img-fluid" [src]="opts?.image?.url">
            <img _ngcontent-c7="" *ngIf="opts.show" class="img-fluid" id="{{'optimage'+idx}}"
              on-mousemove="onHoverOptions(opts,idx,'line1')" on-mouseenter="playOptionHover(opts,idx,'line1')"
              on-mouseout="onHoveroutOptions(opts,idx,'line1')" (click)="clickAnswer(opts,$event,idx,'line1')"
              [src]="opts?.imgsrc?.url">
          </div>
        </div>
      </div>
      <ng-template [ngIf]="showLine2">
        <div class="d-flex row1 optionsBlock">
          <img class="img-fluid optBase" [src]="question?.stringsrc?.url">
          <div #optionBlock2 [ngClass]="{'disable_div':optionDisable}">
            <div *ngFor="let opts of myoption_line2;let idx = index" class="options" id="{{'opt'+(idx+4)}}">
              <img _ngcontent-c7="" class="img-fluid" [src]="opts?.image?.url">
              <img _ngcontent-c7="" *ngIf="opts.show" class="img-fluid" id="{{'optimage'+idx}}"
                on-mousemove="onHoverOptions(opts,idx,'line2')" on-mouseenter="playOptionHover(opts,idx,'line2')"
                on-mouseout="onHoveroutOptions(opts,idx,'line2')" (click)="clickAnswer(opts,$event,idx,'line2')"
                [src]="opts?.imgsrc?.url">
            </div>
          </div>
        </div>
      </ng-template>
      <audio id="allOpt" #allOpt></audio>
      <div class="d-flex flex-row justify-content-around" id="answerBlock">
        <div class="ansBase">
          <img class="img-fluid" [src]="question?.imgsrc?.url">
          <div id="placeholders" [ngStyle]="{'left':question?.styleArray?.left}">
            <div *ngFor="let opts of tempAnswers;let idx = index" [ngStyle]="{'margin':question?.styleArray?.margin}">
              <img _ngcontent-c7="" class="img-fluid" id="optimage3" [src]="opts?.ansImg?.url"
                (click)="revertAction(opts,$event,idx)" style="cursor:pointer">
            </div>
          </div>
          <div class="speakerBtn" [ngClass]="{'disable_div':speakerDisable}">
            <div #sprite class="speaker"></div>
            <img id="speaker" class="img-fluid" [src]="speaker?.imgsrc?.url" (click)="playSound_Speaker(audioEl)"
              (load)="checkImgLoaded();">
            <audio #audioEl [src]="speaker?.sound.url"></audio>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Confirmation Modal -->

  <div class="modal" id="confirmModal" #confirmModalRef>
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="feedback?.confirm_popup?.style_header">
          <img class="modal-title" [src]="feedback?.confirm_popup?.headerTxt_img?.url">
          <img class="close" [src]="confirmPopupAssets?.close_btn?.url" (click)="sendFeedback('confirm-modal-id','no');"
            (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>

        <div class="modal-body" [ngStyle]="feedback?.confirm_popup?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="confirmPopupAssets?.confirm_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="sendFeedback('confirm-modal-id','yes');" (mousemove)="hoverConfirm()"
              (mouseleave)="houtConfirm()"><img class="img-fluid" [src]="confirmPopupAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="sendFeedback('confirm-modal-id','no');" (mousemove)="hoverDecline()"
              (mouseleave)="houtDecline()"><img class="img-fluid" [src]="confirmPopupAssets?.decline_btn?.url"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The onSubmit Modal -->
  <div class="modal" id="confirmModal" #submitModalRef>
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="submitPopupAssets?.style_header">
          <img class="modal-title" [src]="submitPopupAssets?.headerTxt_img?.url">
          <img class="close" [src]="submitPopupAssets?.close_btn?.url" (click)="sendFeedback('submit-modal-id','no');"
            (mousemove)="hoverCloseSubmit()" (mouseleave)="houtCloseSubmit()">
        </div>
        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="submitPopupAssets.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="submitPopupAssets?.submit_text?.url">
          </div>
          <div class="actionButtons">
            <button type="button" (click)="sendFeedback('submit-modal-id','yes');" (mousemove)="hoveronSubmitConfirm()"
              (mouseleave)="houtonSubmitConfirm()"><img class="img-fluid"
                [src]="submitPopupAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="sendFeedback('submit-modal-id','no');" (mousemove)="hoveronSubmitDecline()"
              (mouseleave)="houtonSubmitDecline()"><img class="img-fluid"
                [src]="submitPopupAssets?.decline_btn?.url"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Replay Confirmation Modal -->
  <div class="modal" id="confirmModal" #confirmReplayRef>
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="replayconfirmAssets?.style_header">
          <img class="modal-title" [src]="replayconfirmAssets?.headerTxt_img?.url">
          <img class="close" [src]="confirmPopupAssets?.close_btn?.url" (click)="showReplay(confirmReplayRef,'no');"
            (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>
        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="replayconfirmAssets?.style_body">
          <div class="msgImage"><img class="img-fluid" [src]="replayconfirmAssets?.confirm_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="showReplay(confirmReplayRef,'yes','replay');"
              (mousemove)="hoveronReplayConfirm()" (mouseleave)="houtonReplayConfirm()"><img class="img-fluid"
                [src]="replayconfirmAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="showReplay(confirmReplayRef,'no');" (mousemove)="hoveronReplayDecline()"
              (mouseleave)="houtonReplayDecline()"><img class="img-fluid"
                [src]="replayconfirmAssets?.decline_btn?.url"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- correctAns Modal -->

  <div class="modal correctAns" id="modalTemp15" #correctAns>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" [ngStyle]="feedbackPopup?.style_header">
          <img class="modal-title" [src]="feedbackPopup?.headerTxt_img?.url">
          <img class="close" [src]="feedbackPopup?.close_btn?.url" (click)="wrongAnsClose();"
            (mousemove)="hoverCloseFeedback()" (mouseleave)="houtCloseFeedback()">
        </div>

        <!-- Modal body -->
        <div class="modal-body d-flex align-items-center" [ngStyle]="feedbackPopup?.style_body">
          <div class="flex-row justify-content-around instructionBar" id="instructionBarFeedback">
            <div class="instructionBase">
              <img class="img-fluid" [src]="feedbackPopup?.popTitleTxt_img?.url" />
            </div>
          </div>
          <div class="d-flex flex-row justify-content-around" id="answerBlock">
            <div class="ansBase">
              <img class="img-fluid" [src]="feedbackPopup?.ans_img?.url">
              <div *ngIf="!openShowAns" id="placeholders" [ngStyle]="{'left':question?.styleArray?.left}">
                <div *ngFor="let opts of tempAnswers;let idx = index" class="placeholder1" id="{{'div'+idx}}"
                  [ngStyle]="{'margin':question?.styleArray?.margin}">
                  <img class="img-fluid" [src]="opts?.ansImg?.url">
                </div>
              </div>
              <div *ngIf="openShowAns" id="placeholders" [ngStyle]="{'left':question?.styleArray?.left}">
                <div *ngFor="let opts of showAnsTempArray;let idx = index" class="placeholder1" id="{{'div'+idx}}"
                  [ngStyle]="{'margin':question?.styleArray?.margin}">
                  <img class="img-fluid" [src]="opts?.ansImg?.url">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <audio #feedbackVoRef></audio>
  </div>
</div>
<div class="videoMainContainer" *ngIf="isPlayVideo">
  <img src="assets/images/videoBg.png" class="img-fluid videoBg">
  <div class="videoWrapper">
    <video #mainVideo id="mainVideo" width="100%" style="max-width: 100%; max-height: 100%;"
      (loadeddata)="checkVideoLoaded()" poster="assets/images/videoPoster.svg" autoplay="autoplay"
      (ended)="endedHandler()">
      <source [src]="quesObj?.quesVideo?.urlOgv">
    </video>
    <div id="playPauseBtn"><img class="img-fluid" [src]="quesObj?.quesPlayPause?.url" (mousemove)="hoverPlayPause()"
        (mouseleave)="leavePlayPause()" (click)="PlayPauseVideo()" /></div>
    <div id="SkipBtn"><img class="img-fluid" [src]="quesObj?.quesSkip?.url" *ngIf="SkipLoad"
        (click)="endedHandleronSkip()" (mousemove)="hoverSkip()" (mouseleave)="houtSkip()" /></div>
  </div>
</div>
