/* @keyframes scaleit{
	0%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1.1);
	}
} */
#optionsBlock {
	position: absolute;
	top: 16.5%;
	width: 100%;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
}
::selection {
	color: none;
	background: none;
}
.modal {
	#optionsBlock {
		top: 7.5%;
	}
	.options {
		div {
			width: 44%;
		}
	}
}
.options {
	width: 86%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	div {
		width: 25.5%;
		position: relative;
		transition: transform .2s;
		&:hover {
			transform: scale(1.1);
		}
		.subOpt {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	img {
		cursor: pointer;
	}
}
