#container #optionsBlock {
    position: absolute;
    top: 16.5%;
    width: 100%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.options {
	width: 86%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.options div {
	width: 25.5%;
}
#container .speakerBtn{
	width:100%;
	position:absolute;
	top:58%;
	text-align: center;
}
.speakerBtn img{
	width:9%;
}
.options img,
.speakerBtn img {
	cursor:pointer;
}