<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<audio #instruction [src]="commonAssets?.instruction?.location=='content' ? containgFolderPath + '/' +commonAssets?.instruction.url: assetsPath + '/'+ commonAssets?.instruction.url" autoplay="autoplay"></audio>
		
     <div class="container-fluid" id="container"><!--style="width: 1168px;" -->
        <div class="headerBar">
            <img class="img-fluid" [src]="commonAssets?.header_bar?.location =='content' ? containgFolderPath + '/' + commonAssets?.header_bar?.url : assetsPath + '/' + commonAssets?.header_bar?.url" (load)="checkImgLoaded();"/>
           </div>
        <div id="bgImage">
            <img class="img-fluid" [src]="commonAssets?.background?.location =='content' ? containgFolderPath + '/' + commonAssets?.background?.url : assetsPath + '/' + commonAssets?.background?.url"
			(load)="checkImgLoaded();" />  
        </div>
        <!-- <audio  #wrongFeedback [src]="feedback?.wrong_ans_sound?.path?.location=='content' ? containgFolderPath + '/'+ feedback?.wrong_ans_sound?.path?.url: assetsPath + '/'+ feedback?.wrong_ans_sound?.path?.url"></audio> -->
        <audio #rightFeedback [src]="feedback?.right_ans_sound?.path?.location=='content' ? containgFolderPath + '/'+ feedback?.right_ans_sound?.path?.url: assetsPath + '/'+ feedback?.right_ans_sound?.path?.url"></audio>
		
        <div #maincontent>
        <div id="instructionBar">
            <div class="instructionBase">
            <img class="img-fluid" [src]="commonAssets?.instruction_bg
                ?.location =='content' ? containgFolderPath + '/' + commonAssets?.instruction_bg?.url : assetsPath + '/' + commonAssets?.instruction_bg?.url" (load)="checkImgLoaded();" />
                 <span class="instructionText">{{instructiontext}}</span>
            </div>
        </div>
        <div id="optionsBlock" #ansBlock>
            <div class="options">
                <div  id="{{'opt'+idx}}" *ngFor="let opts of myoption;let idx = index"  (click)="checkAnswer(opts,$event,idx)"  >    
                  <img class="img-fluid" id="{{'optblank'+idx}}" [src]="opts?.image?.location=='content' ?containgFolderPath + '/' +opts?.image?.url: assetsPath + '/'+ opts?.image?.url"  (load)="checkImgLoaded();">
                  <img class="img-fluid subOpt" id="{{'optimage'+idx}}" [src]="opts?.imgsrc?.location=='content' ?containgFolderPath + '/' +opts?.imgsrc?.url: assetsPath + '/'+ opts?.imgsrc?.url" on-mousemove="onHoverOptions(opts,idx)" on-mouseout="onHoveroutOptions(opts,idx)" (load)="checkImgLoaded();">
                
                 <!-- <img class="img-fluid" id="{{'optimage'+idx}}" [src]="opts?.image?.location=='content' ?containgFolderPath + '/' +opts?.image?.url: assetsPath + '/'+ opts?.image?.url"    on-mousemove="onHoverOptions(opts,idx)" on-mouseout="onHoveroutOptions(opts,idx)"   (load)="checkImgLoaded();"> -->
                  <!-- (mouseenter)="playOptionHover(opts,idx,audioOp)" -->
                    <!-- <audio id="optionaudio" #OptionAudio #audioOp [src]="opts?.audio?.location=='content' ?containgFolderPath + '/' +opts?.audio?.url: assetsPath + '/'+ opts?.audio?.url" allow="autoplay"></audio> --> 
                </div>
            </div>
        </div>


        <!-- <div id="spkrBtn" class="speakerBtn">
          <img class="img-fluid" #speakerNormal id="speaker" [src]="speaker?.imgsrc?.location=='content' ? contentgFolderPath + '/' + speaker?.imgsrc?.url : assetsPath + '/' + speaker?.imgsrc?.url"  (click)="playSpeaker()" (load)="checkImgLoaded();" />
          <audio id="S" #myAudiospeaker #audioEl [src]="speaker?.sound?.location=='content' ? contentgFolderPath + '/' + speaker?.sound?.url: assetsPath + '/' + speaker?.sound?.url"></audio>
      </div> -->

        <span #disableSpeaker id="disableSpeaker" class="speakerBtn pointer">
            <div #sprite class="speaker"></div>
            <div id="spkrBtn" class="speakerBtn">
            <img #speakerNormal id="speaker" class="img-fluid" [src]="speaker?.imgsrc?.location=='content' ?containgFolderPath + '/' +speaker?.imgsrc.url: assetsPath + '/'+ speaker?.imgsrc.url" (click)="playSpeaker(audioEl,speaker)" on-mousemove="onHoverSpeaker(speaker)"  (mouseleave)="onHoverOutSpeaker(speaker)" (load)="checkImgLoaded();" title="चलाऍं">
            <audio id="S" #myAudiospeaker #audioEl [src]="speaker?.sound?.location=='content' ?containgFolderPath + '/' +speaker?.sound.url: assetsPath + '/'+ speaker?.sound.url"></audio>
          </div>
          </span>
    </div>  <!--END OF MAIN CONTENT-->
    </div>
    


    <!-- Popup Modal Audios -->
  <audio #wrongFeedback [src]="wrongPopup?.path?.location=='content'? containgFolderPath + '/' +  wrongPopup?.path?.url : assetsPath +'/'+ wrongPopup?.path?.url"></audio>
  <audio #rightFeedback [src]="rightPopup?.path?.location=='content'? containgFolderPath + '/' +  rightPopup?.path?.url : assetsPath +'/'+ rightPopup?.path?.url"></audio>
  <audio #showAnswer [src]="showAnswerVO?.path?.location=='content'? containgFolderPath + '/' +  showAnswerVO?.path?.url : assetsPath +'/'+ showAnswerVO?.path?.url"></audio>

   <!-- Right/Wrong Popup  -->
    <div class="modal" id="modalTemp17" #ansPopup>
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body d-flex align-items-center">
                  <img class="img-fluid"  [src]="popupAssets?.pop_up_base?.location=='content' ? containgFolderPath +'/'+ popupAssets?.pop_up_base?.url :  assetsPath +'/'+ popupAssets?.pop_up_base?.url">
                  <div id="optionsBlock">
                      <div class="options">
                          <div>
                              <img class="img-fluid" [src]="answerImagelocation=='content' ? containgFolderPath +'/'+ answerImageBase :  assetsPath +'/'+ answerImageBase">
                              <img class="img-fluid subOpt" [src]="answerImagelocation=='content' ? containgFolderPath +'/'+ answerImage :  assetsPath +'/'+ answerImage">
                          </div>
                      </div>
                  </div>
                  <div class="rightWrongAns">
                      <img class="img-fluid" [src]="popupIconLocation=='content' ? containgFolderPath +'/'+ popupIcon :  assetsPath +'/'+ popupIcon">
                  </div>
                  <img class="close" [src]="popupAssets?.close_button?.location=='content' ? containgFolderPath + '/' + popupAssets?.close_button?.url : assetsPath + '/' + popupAssets?.close_button?.url"
                  (click)="closePopup('answerPopup')" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
               </div>
          </div>
      </div>
  </div>


 <!-- show answer Popup  -->
    <div class="modal" id="showAnswer" #showAnswerRef>
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body d-flex align-items-center">
                  <img class="img-fluid"  [src]="popupAssets?.pop_up_base?.location=='content' ? containgFolderPath +'/'+ popupAssets?.pop_up_base?.url :  assetsPath +'/'+ popupAssets?.pop_up_base?.url">
                  <div id="optionsBlock">
                      <div class="options">
                          <div>
                              <img class="img-fluid" [src]="showAnswerPopup?.image?.location=='content' ? containgFolderPath +'/'+ showAnswerPopup?.image?.url :  assetsPath +'/'+ showAnswerPopup?.image?.url">
                              <img class="img-fluid subOpt" [src]="showAnswerPopup?.imgsrc?.location=='content' ? containgFolderPath +'/'+ showAnswerPopup?.imgsrc?.url :  assetsPath +'/'+ showAnswerPopup?.imgsrc?.url">
                          </div>
                      </div>
                  </div>
                  <img class="close" [src]="popupAssets?.close_button?.location=='content' ? containgFolderPath + '/' + popupAssets?.close_button?.url : assetsPath + '/' + popupAssets?.close_button?.url"
                  (click)="closePopup('showAnswer');" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
               </div>
          </div>
      </div>
  </div>