<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<audio #narrator_voice [src]="common_assets?.instruction?.location=='content' ? contentgFolderPath + '/' +common_assets?.instruction.url: assetsfolderlocation + '/'+ common_assets?.instruction.url"></audio>
    <div class="container-fluid" id="container" style="opacity: 0;;"><!--style="width: 1168px;" -->
        <div class="headerBar">
            <img class="img-fluid" [src]="common_assets?.header_bar?.location =='content' ? contentgFolderPath + '/' + common_assets?.header_bar?.url : assetsfolderlocation + '/' + common_assets?.header_bar?.url" (load)="checkImgLoaded();" />
        </div>
        <div id="bgImage">
            <img class="img-fluid" [src]="common_assets?.background?.location =='content' ? contentgFolderPath + '/' + common_assets?.background?.url : assetsfolderlocation + '/' + common_assets?.background?.url"
			(load)="checkImgLoaded();" />  
        </div>
        <audio #rightFeedback [src]="feedback?.right_ans_sound?.path?.location=='content' ? contentgFolderPath + '/'+ feedback?.right_ans_sound?.path?.url: assetsfolderlocation + '/'+ feedback?.right_ans_sound?.path?.url"></audio>
        <div #maincontent>
        <div id="instructionBar">
            <div class="instructionBase">
            <img class="img-fluid" [src]="common_assets?.instruction_bg
                ?.location =='content' ? contentgFolderPath + '/' + common_assets?.instruction_bg?.url : assetsfolderlocation + '/' + common_assets?.instruction_bg?.url" (load)="checkImgLoaded();" />
                 <span class="instructionText">{{instructiontext}}</span>
            </div>
        </div>
        <div id="optionsBlock" #optionsBlock >
            <div class="options">
                <div *ngFor= "let item of myoption;let idx = index">
                    <img class="img-fluid"  [src]="item?.imgsrc?.location=='content' ? contentgFolderPath + '/' + item?.imgsrc?.url : assetsfolderlocation + '/' + item?.imgsrc?.url" (mousemove)="onHoverOptions(item,idx)" (mouseleave)="onHoveroutOptions(item,idx)" (click)="checkAnswer(item)" (load)="checkImgLoaded();">
                    <img class="img-fluid zoom subOpt" [src]="item?.imgsrc_letter?.location=='content' ? contentgFolderPath + '/' + item?.imgsrc_letter?.url : assetsfolderlocation + '/' + item?.imgsrc_letter?.url" (mousemove)="onHoverOptions(item,idx)" (mouseleave)="onHoveroutOptions(item,idx)"  (click)="checkAnswer(item)" (load)="checkImgLoaded();">
                    <img class="img-fluid playBtn"  [src]="item?.play_button_normal?.location=='content' ? contentgFolderPath + '/' + item?.play_button_normal?.url : assetsfolderlocation + '/' + item?.play_button_normal?.url" (mousemove)="onHoverPlay(item,idx)" (mouseleave)="onHoveroutPlay(item,idx)" (click)="playVideo(item,idx)" (load)="checkImgLoaded();" title="चलाऍं">
                </div>
            </div>
            <div class="stageVideo">
                <img class="img-fluid"  [src]="common_assets?.animationBox?.location=='content' ? contentgFolderPath + '/' + common_assets?.animationBox?.url : assetsfolderlocation + '/' + common_assets?.animationBox?.url" (load)="checkImgLoaded();" />
                <img _ngcontent-c7="" class="img-fluid filler" [src]="common_assets?.penpaperContent?.location=='content' ? contentgFolderPath + '/' + common_assets?.penpaperContent?.url : assetsfolderlocation + '/' + common_assets?.penpaperContent?.url" (load)="checkImgLoaded();">
                <video id="mainVideo" #videoStage>
                    <source src="">
                 
                  </video>
            </div>   
        </div> 
        <div id="spkrBtn" class="speakerBtn">
            <img class="img-fluid"  [src]="speaker?.imgsrc?.location=='content' ? contentgFolderPath + '/' + speaker?.imgsrc?.url : assetsfolderlocation + '/' + speaker?.imgsrc?.url"  (click)="playSpeaker()" (load)="checkImgLoaded();" title="चलाऍं"/>
            <audio #speakerVolume [src]="speaker?.sound?.location=='content' ? contentgFolderPath + '/' + speaker?.sound?.url: assetsfolderlocation + '/' + speaker?.sound?.url"></audio>
        </div>
    </div>
        <!-- <div id="navBlock">
            <div class="navBase">
                <img class="img-fluid" src="../../../assets/images/EvaTemplate15Assets/footerBg.svg">
                <img class="img-fluid prevBtn" src="../../../assets/images/EvaTemplate15Assets/prevBtn.svg">
                <img class="img-fluid ansBtn" src="../../../assets/images/EvaTemplate15Assets/ansBtn.svg">
                <div class="quesBlock">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate15Assets/quesBulletVisited.svg">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate15Assets/quesBulletActive.svg">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate15Assets/quesBullet.svg">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate15Assets/quesBullet.svg">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate15Assets/quesBullet.svg">
                </div>
                <img class="img-fluid nextBtn" src="../../../assets/images/EvaTemplate15Assets/nextBtn.svg">
            </div>
        </div> -->
        <!-- <controls class="bottomPlace">		
            <div class="fadeInAnimation" id="controlsContainer">
                <div class="col-sm-1" id="playPauseContainer" style="margin: 0; position: relative; display: grid; align-items: center; justify-items: center; text-align: center; width:5.33%; padding:0 3px;">
                </div>
                <div class="col-sm-8" id="sliderContainer" style="margin:0; display: grid; align-items: center; justify-items: center; text-align:center; width:66.66%; padding:0 3px;">
                </div>
                <div class="col-sm-1" id="timeContainer" style="margin:0; display: grid; align-items: center; justify-items: center; text-align:center; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif; font-size:13px; color:#fff; font-size: 1vw; padding:0 3px;">
                </div>

                <div class="col-sm-1" id="autoPlayOnOffContainer" style="margin:0; display: initial; align-items: center; justify-items: center; text-align:center; width:11.33%; padding:2px 3px;">
                    <label for="onoff" style="color:#ff9900; position:relative; top:2px; font-size: .9em;">Autoplay On</label>
                    <input id="onoff" style="position:relative; margin:0% 0 0 7%; top:4px;" type="checkbox" value="on">
                </div>
                <div class="col-sm-1" id="volumeContainer" style="margin:0 0 0 .4rem; display: grid; align-items: center; text-align:center; width:auto; position:relative; padding:0 3px;">
                    <img style="max-width: 100%;" src="assets/images/volume.svg">
                    <div class="" id="MuteVarTemp" style="margin: 0px; display: initial; align-items: center; text-align: center; position: absolute; top: -145%; width: auto; left: 0%; visibility: hidden;" ng-reflect-ng-style="[object Object]">
                        <input style="position:relative; margin:0 0 0 7%; bottom:-7px;" type="checkbox">
                        <label style="color:#ff9900; position:relative; top:0; font-size: .9em; margin-bottom:0;">Mute</label>
                    </div>
                    <input class="volumeslider" id="volume-bar" max="1" min="0" step="0.1" style="-webkit-appearance: none; margin: 0px; transform: rotate(-90deg); position: absolute; top: -260%; left: -27%; height: 5px; outline: none; width: 6rem !important; background-color: rgb(192, 192, 192) !important; visibility: hidden;" type="range" ng-reflect-ng-style="[object Object]">
                </div>
            </div>
        </controls> -->
             <!-- Right/Wrong Popup  -->
     <div class="modal" id="modalTemp17" #ansPopup>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body d-flex align-items-center">
                    <img class="img-fluid"  [src]="popupAssets?.pop_up_base?.location=='content' ? contentgFolderPath +'/'+ popupAssets?.pop_up_base?.url :  assetsfolderlocation +'/'+ popupAssets?.pop_up_base?.url">
                    <!-- <div id="optionsBlock">
                        <div class="options">
                            <div>
                                <img class="img-fluid" [src]="answerImagelocation=='content' ? contentgFolderPath +'/'+ answerImageBase :  assetsfolderlocation +'/'+ answerImageBase">
                                <img class="img-fluid subOpt" [src]="answerImagelocation=='content' ? contentgFolderPath +'/'+ answerImage :  assetsfolderlocation +'/'+ answerImage">
                            </div>
                        </div>
                    </div> -->
                    <div class="stageVideo">
                        <img class="img-fluid"  [src]="common_assets?.animationBox?.location=='content' ? contentgFolderPath + '/' + common_assets?.animationBox?.url : assetsfolderlocation + '/' + common_assets?.animationBox?.url" (load)="checkImgLoaded();" />
                        <video id="mainVideo" #videoStageonpopUp>
                            <source src="">
                          </video>
                    </div> 
                    <div class="rightWrongAns">
                        <img class="img-fluid" [src]="popupIconLocation=='content' ? contentgFolderPath +'/'+ popupIcon :  assetsfolderlocation +'/'+ popupIcon">
                    </div>
                    <img class="popupCloseBtn" [src]="popupAssets?.close_button?.location=='content' ? contentgFolderPath + '/' + popupAssets?.close_button?.url : assetsfolderlocation + '/' + popupAssets?.close_button?.url"
                    (click)="closePopup('answerPopup')" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()" title="बन्द करें">
                 </div>
            </div>
        </div>
    </div>
  
  
   <!-- show answer Popup  -->
      <div class="modal" id="showAnswer" #showAnswerRef>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body d-flex align-items-center">
                    <img class="img-fluid"  [src]="popupAssets?.pop_up_base?.location=='content' ? contentgFolderPath +'/'+ popupAssets?.pop_up_base?.url :  assetsfolderlocation +'/'+ popupAssets?.pop_up_base?.url">
                    <!-- <div id="optionsBlock">
                        <div class="options">
                            <div>
                                <img class="img-fluid" [src]="showAnswerPopup?.image?.location=='content' ? contentgFolderPath +'/'+ showAnswerPopup?.image?.url :  assetsfolderlocation +'/'+ showAnswerPopup?.image?.url">
                                <img class="img-fluid subOpt" [src]="showAnswerPopup?.imgsrc?.location=='content' ? contentgFolderPath +'/'+ showAnswerPopup?.imgsrc?.url :  assetsfolderlocation +'/'+ showAnswerPopup?.imgsrc?.url">
                            </div>
                        </div>
                    </div> -->
                    <div class="stageVideo">
                        <img class="img-fluid"  [src]="common_assets?.animationBox?.location=='content' ? contentgFolderPath + '/' + common_assets?.animationBox?.url : assetsfolderlocation + '/' + common_assets?.animationBox?.url" (load)="checkImgLoaded();" />
                        <video id="mainVideo" #videoonshowAnspopUp>
                            <source src="">
                         
                          </video>
                    </div> 
                    <img class="popupCloseBtn" [src]="popupAssets?.close_button?.location=='content' ? contentgFolderPath + '/' + popupAssets?.close_button?.url : assetsfolderlocation + '/' + popupAssets?.close_button?.url"
                    (click)="closePopup('showAnswer');" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()" title="बन्द करें">
                 </div>
            </div>
        </div>
    </div>

    </div>

     <!-- Popup Modal Audios -->
  <audio #wrongFeedback [src]="wrongPopup?.path?.location=='content'? contentgFolderPath + '/' +  wrongPopup?.path?.url : assetsfolderlocation +'/'+ wrongPopup?.path?.url"></audio>
  <audio #rightFeedback [src]="rightPopup?.path?.location=='content'? contentgFolderPath + '/' +  rightPopup?.path?.url : assetsfolderlocation +'/'+ rightPopup?.path?.url"></audio>
  <audio #clapSound [src]="feedback?.right_ans_clap_sound?.location=='content' ? contentgFolderPath + '/' + feedback?.right_ans_clap_sound?.url: assetsfolderlocation +'/'+feedback?.right_ans_clap_sound?.url"></audio>	
  <audio #showAnswerfeedback [src]="showAnswerVO?.path?.location=='content'? contentgFolderPath + '/' +  showAnswerVO?.path?.url : assetsfolderlocation +'/'+ showAnswerVO?.path?.url"></audio>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html> -->