#container #optionsBlock {
    position: absolute;
    top: 12%;
	width: 100%;
	height: 71.3%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.options {
	width: 15%;
	position: absolute;
	left: 10.5%;
	top: 0.1%;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	align-items: left;
	justify-content: center;
	align-content: space-around;
}
.options img {
	/* width: 25.5%; */
	margin: 5.9% 0;
	width: 100%;
}
.options div {
 position: relative;
 width: 100%;
}

.options div .subOpt {
    position: absolute;
    top: 0;
    left: 0;
}

.options div:hover{
    transform: scale(1.1);
    transition: transform .6s;
	/* animation: scaleit 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); */
}

/* .zoom {
	transition: transform .6s;
  } */

  /* .options  .zoom:hover {
	-ms-transform: scale(1.1); 
	-webkit-transform: scale(1.1); 
	transform: scale(1.1); 
  } */

/* .options div img:hover{
    animation: scaleit 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
} */

@keyframes scaleit {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.options .playBtn {
 position: absolute;
 right: 6%;
 bottom: 8%;
 max-width: 16%;
}
.stageVideo {
	position: absolute;
    width: 51%;
	right: 9.6%;
	top: 1.7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stageVideo img {
	max-width: 100%;
	width: 100%;
}
#mainVideo {
	width: 97%;
	height: auto;
	border: solid 1px red;
    position: absolute;
    left: .9%;
	top: 1.1%;
	clip-path: inset(6% 5.3% 7.3% 5.5% round 1vmax);
}
#container .speakerBtn{
	width:7%;
	height: 12%;
	position:absolute;
	top:69.2%;
	right: 1.8%;
}
/* .speakerBtn img{
	width:9%;
} */
.options img,
.speakerBtn img {
	cursor:pointer;
}

.disable_div {
	pointer-events: none;
}

.disableBtn {
    opacity: 0.5;
    pointer-events: none;
}

.filler {
	position: absolute;
    width: 35%!important;
}

#modalTemp17 .stageVideo {
    position: absolute;
    width: 48%;
    right: 27%;
    top: 6.7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
}

#showAnswer .stageVideo {
    position: absolute;
    width: 48%;
    right: 27%;
    top: 17%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
}
