#container #optionsBlock {
    position: absolute;
    top: 12%;
	width: 100%;
	height: 71.3%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.options {
	width: 15%;
	position: absolute;
    left: 10.5%;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	align-items: left;
	justify-content: center;
	align-content: space-around;
}
.options img {
	/* width: 25.5%; */
	margin: 7% 0;
	width: 100%;
}
.options div {
 position: relative;
 width: 100%;
}
.options .playBtn {
 position: absolute;
 right: 6%;
 bottom: 8%;
 max-width: 16%;
}
.stageVideo {
	position: absolute;
    width: 52%;
	right: 10%;
	top: 1.3%;
}

.stageVideo img {
	max-width: 100%;
	width: 100%;
}
#mainVideo {
	width: 97%;
	border: solid 1px red;
    position: absolute;
    left: .9%;
    top: 1.1%;
}
#container .speakerBtn{
	width:7%;
	height: 12%;
	position:absolute;
	top:70%;
	right: 2%;
}
/* .speakerBtn img{
	width:9%;
} */
.options img,
.speakerBtn img {
	cursor:pointer;
}
