#container #optionsBlock {
    position: absolute;
    top: 12%;
	width: 100%;
	height: 71%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.options {
	width: 12.8%;
    height: 100%;
    margin-right: 8.8%;
    position: relative;
    z-index: 1;
	/* left: 10.5%; */
	/* top: 0.1%; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}
.options img {
	/* width: 25.5%; */
	margin: 0;
	width: 100%;
}
.options div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .6s;
}

.options div .subOpt {
    position: absolute;
    top: 11.5%;
    font-family: Kruti Dev!important;
    font-weight: normal;
    font-size: 6vmax;
    /* left: 26%; */
    cursor: pointer;
}

.options div:hover{
    transform: scale(1.1);
	/* animation: scaleit 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); */
}


.options .playBtn {
 position: absolute;
 right: 7%;
 bottom: 7%;
 max-width: 16%;
}
.stageVideo {
	position: relative;
    width: 54%;
    /* right: 12.6%; */
	/* top: 15.7%; */
    display: flex;
	justify-content: center;
	align-items: center;
}

.stageVideo img {
	max-width: 100%;
	width: 100%;
}
#mainVideo {
	width: 97%;
	height: auto;
	border: solid 1px red;
    position: absolute;
    left: .9%;
	top: 1.1%;
	clip-path: inset(1.7% .5% 1% 1% round 4vmax);
}
#container .speakerBtn{
	width:7%;
	height: 12%;
	position:absolute;
	top:69.2%;
	right: 1.8%;
}

.options img,
.speakerBtn img {
	cursor:pointer;
}

.disable_div {
	pointer-events: none;
}

.disableBtn {
    opacity: 0.9;
    pointer-events: none;
}
.fillerBlock{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.filler {
	/* position: absolute; */
    width: 95.5%!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modalTemp17 .stageVideo {
    position: absolute;
    width: 48%;
    right: 27%;
    top: 8.7%;
    display: flex;
    justify-content: center;
	align-items: center;
}

#showAnswer .stageVideo {
    position: absolute;
    width: 48%;
    right: 27%;
    top: 17%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
	align-items: center;
}

.rightWrongAns{
    position: absolute;
    bottom: 8.5%;
    width: 97.4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

