#container .speakerBlock#disableSpeaker{
	top: 74% !important;
    right: 18% !important;
    width: 21% !important;
    z-index: 2;
}
.speakerBlock .speakerBtn {
    width: 23% !important;
}
#refQuesBlock{
    position: absolute;
    top: 11%;
	width: 100%;
    height: 73%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.refQues{
	width: 36%;
    height: 94.5%;
    position: absolute;
    top: 2.5%;
}
.blinkBox::before {
	content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: solid .2vmax #0029d0;
    border-radius: 1vmax;
	animation: borderBlink normal 1s infinite linear;
}
@keyframes borderBlink{
	25%{
		border: solid .2vmax #f0e;
	}
	50%{
		border: solid .2vmax #f0e;
	}
	100%{
		border: solid .2vmax #0029d0;
	}
}
#refQuesBlock .quesBg{
	position: absolute;
    top: 2%;
    width: 36%;
}
.refQues .table_row {
	position: relative;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-around;
    align-items: center;
} 
.refQues .table_row div{
	position: relative;
	/* display: flex;
	justify-content: center; */
	z-index: 2;
}
.refQues .table_row div.number
{
    width: 5%;
}
.refQues .table_row div.order
{
    width: 11%;
}
.refQues .table_row div.multiply,
.refQues .table_row div.equal
{
	width:5%;
} 
.refQues .table_row div.answer
{
	width:26%;
	display: flex;
	align-items: center;
	justify-content: center;
} 
.refQues .table_row span{
	position: absolute;
    left: 1%;
    width: 96%;
}
.refQues .table_row div.answer div.answer_img
{
	position: absolute;
	width: 66%;
    align-self: center;
} 
#optionsBlock{
    position: absolute;
    top: 16%;
    width: 100%;
    height: 58%;
    left: 0;
}
.options{
	position: absolute;
	width: 29%;
	height: 100%;	
    left: 0;
    top: 0;
	z-index: 2;
}
.options + .options{
    left: auto;
    right: 0;
}
.options div{
	position: absolute;
	width: 36%;			
}
.options div:hover{
	transition: transform .2s;
	transform: scale(1.1);
}
@keyframes scaleIn{
	0%{
		transform: scale(1.0)
	}
	100%{
   transform: scale(1.1)
	}
}
.options div{
	width:25%;
}
.options #optimage0{
	top: 5%;
    left: 17%;
}
.options #optimage1{
	top: 0;
    left: 64%;
}
.options #optimage2{
	top: 49%;
    left: 7%;
}
.options #optimage3{
	top: 42%;
    right:0;
}
.options #optimage4{
	bottom:0;
    left: 46%;
}
.options #optimage5{
	top: 0;
    left: 9%;
}
.options #optimage6{
	top: 9%;
    right:10%;
}
.options #optimage7{
	top: 41%;
    left: 35%;
}
.options #optimage8{
	top: 70%;
    left: 6%;
}
.options #optimage9{
	top: 70%;
    right:10%;
}
.options div:hover{
	transform: scale(1.1);
}
.options div.subOpt:hover{
	transform: none;
}
.options div div.subOpt{
    position: absolute;
    transition: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	z-index: 3;
}
div.subOpt img{
	max-width: 80%;
}
.options > div{
	cursor:pointer;
}
.eva .modal #refQuesBlock{
	top: 7%;
}
.rightWrongAns{
    bottom: 8%;
}
.rightWrongAns img{
    width: 6%;
}
.disablePointer{
	pointer-events: none;
}