<div class="modal d-flex align-items-center justify-content-center showit ansPopup dispFlex" id="showAnswer" *ngIf="enableConfirmation" #showAnswerRef>
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-body d-flex align-items-center">
              <div class="stageVideoPopup">
                <img class="img-fluid"  [src]="popupAssets?.body?.location=='content' ? contentgFolderPath +'/'+ popupAssets?.body?.url :  assetsfolderlocation +'/'+ popupAssets?.body?.url">
                <span class="Popuptext">म से शुरू होने</span>
                <div class="wrapper">
                  <div>
                    <img class="img-fluid" [src]="popupAssets?.btn_base?.location=='content' ? contentgFolderPath + '/' + popupAssets?.btn_base?.url : assetsfolderlocation + '/' + popupAssets?.btn_base?.url"
                    (click)="closePopup('yes');" (mousemove)="hoverYes()" (mouseleave)="houtYes()" title="करें">
                    <img class="img-fluid" [src]="popupAssets?.yesButton?.location=='content' ? contentgFolderPath + '/' + popupAssets?.yesButton?.url : assetsfolderlocation + '/' + popupAssets?.yesButton?.url">
                  </div>
                  <div>
                    <img class="img-fluid" [src]="popupAssets?.btn_base?.location=='content' ? contentgFolderPath + '/' + popupAssets?.btn_base?.url : assetsfolderlocation + '/' + popupAssets?.btn_base?.url"
                    (click)="closePopup('no');" (mousemove)="hoverNo()" (mouseleave)="houtNo()" title="करें">
                    <img class="img-fluid" [src]="popupAssets?.noButton?.location=='content' ? contentgFolderPath + '/' + popupAssets?.noButton?.url : assetsfolderlocation + '/' + popupAssets?.noButton?.url">
                  </div>    
                </div>
                </div>
              <!-- <div>
                <img class="popupCloseBtn" [src]="popupAssets?.close_button?.location=='content' ? contentgFolderPath + '/' + popupAssets?.close_button?.url : assetsfolderlocation + '/' + popupAssets?.close_button?.url"
              (click)="closePopup('showanswer');" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()" title="बन्द करें">
              </div>  -->
              <!-- <img class="popupCloseBtn" [src]="popupAssets?.close_button?.location=='content' ? contentgFolderPath + '/' + popupAssets?.close_button?.url : assetsfolderlocation + '/' + popupAssets?.close_button?.url"
              (click)="closePopup('showanswer');" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()" title="बन्द करें"> -->
           </div>
      </div>
  </div>
</div>