#showAnsBlock, #feedbackBlock{
    position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 97.4% !important;
}
#feedbackBlock .options {
	top: -9.5%;
}
.modal .options{
	width: 86%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
    height: 32%;
}
.modal .options div{
	width: 86%;
	position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.options div .subOpt{
    position: absolute;
	height: 78%;
}
.hint {
    width: 24.2%;
    border-radius: 26px;
    position: absolute;
    left: 2%;
    top: auto;
}
#container .speakerBtn{
	width: 6% !important;
	position:absolute;
	top:67%;
	right:0;
	text-align: center;
}
.speakerBtn img{
	width:61%;
}
.speakerBtn img {
	cursor:pointer;
}

#container .speakerBlock {
    top: 71%;
    right: 1.3%;
}
/*Template specific styles */
 #container #optionsBlock {
    position: absolute;
    top: 57.3%;
    width: 100%;
    height: 23%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quesImage {
    margin: 0 10% 0 29%;
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: center;
}
.quesImage .optItem {
    position: absolute !important;
}
.matra {
	position: absolute !important;
	height: 78%;
	filter: grayscale(100%) brightness(0) saturate(0);
	}
#optionsBlock .options {
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    width: 21.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
	cursor: pointer;
	margin: 0 2%;
}
#optionsBlock .options:hover{
	transform: scale(1.1);
	border-color: #f00;
}
@keyframes scaleIn{
	0%{
		transform: scale(1.0)
	}
	100%{
   transform: scale(1.1)
	}
}
.optionBlink{
	animation:blinkLetter normal 0.5s infinite ease-in-out;
}
@keyframes blinkLetter{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0.5;
	}
} 
#refQuesBlock{
    position: absolute;
    top: 15.5%;
    width: 100%;
    height: 43%;
    left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}
.modal #refQuesBlock{
    top: 18.5% !important;
	height: 39%;
	padding: 0;
}
.refQues{
	width: 65.7%;
    max-width: 100%;
    height: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    margin-left: 30%;
} 
.refQues .subParent {
	height: 82%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subParent div {
	position: relative;
	height: 100%;
	width: auto;
	display: flex;
	justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .subParent div { 
		width: auto;
		min-width: fit-content;
	}
}
.dark {
	height: 100%;
	filter: grayscale(100%) brightness(0) saturate(0);
}
.modal .refQues div {
	height: 100%;
}
.refQues div div img{
	height: 100%;
}
.refQues div img.matraImg{
	position: absolute;
	filter: grayscale(100%) brightness(0) saturate(0);
	height: 100%;
}

/*** Border Blink Animation  ***/
.refQues div div::before {    content: '';  z-index:1;  width: 110%;    height: 106%;    position: absolute;    top: -3%;    left: -5%;    border: solid .5vmax transparent;    border-radius: 1vmax;    animation: none;}
.refQues div div.blinkOn::before {    animation: borderBlink2 normal 1s infinite linear;}

/*** Matra Positioning Classes ***/
div.matra_i{
	margin-left: 2vmax;
}
div.matra_aa,
div.matra_ee{
	margin-right: 2.4vmax;
}
div.matra_o,
div.matra_au{
	margin-right: 2vmax;
}
div.matra_i img[src*='i.png']{
	left: -2vmax;
}
div.matra_aa img[src*='aa.png'],
div.matra_o img[src*='o.png']{
	right: -2.4vmax;
}
div.matra_au img[src*='au.png'] {
    right: -2vmax;
}
div.matra_ee img[src*='ee.png'] {
	right: -2.1vmax;
}
div.matra_o img[src*='o.png']{
	right: -2vmax;
}
div.matra_u img[src*='u.png']{
	right: .1vmax;
}
div.matra_oo img[src*='oo.png']{
	right: -1.7vmax;
}
div.matra_an img[src*='an.png']{
	right: 1.1vmax;
}
div.matra_rTopRight img[src*='rTopRight.png']{
	right: .5vmax;
}
div.matra_rBtmRight img[src*='rBtmRight.png']{
	right: .5vmax;
}
div.matra_rBtmLeft img[src*='ka.png'] + img[src*='rBtmLeft.png'],
div.matra_rBtmLeft img[src*='fa.png'] + img[src*='rBtmLeft.png']{
	left: 1vmax;
}
div.matra_rBtmLeft img[src*='kha.png'] + img[src*='rBtmLeft.png']{
	right: 2vmax;
}
div.matra_rBtmLeft img[src*='cha.png'] + img[src*='rBtmLeft.png'],
div.matra_rBtmLeft img[src*='ja.png'] + img[src*='rBtmLeft.png'],
div.matra_rBtmLeft img[src*='la.png'] + img[src*='rBtmLeft.png'],
div.matra_rBtmLeft img[src*='sa.png'] + img[src*='rBtmLeft.png']{
	right: 1.7vmax;
}
div.matra_rBtmRight img[src*='ka.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='fa.png'] + img[src*='rBtmRight.png']{
	left: 2.5vmax;
}
div.matra_rBtmRight img[src*='cha.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='ja.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='ma.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='ya.png'] + img[src*='rBtmRight.png']{
	right: .1vmax;
}
div.matra_rBtmRight img[src*='tta.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='na.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='pa.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='la.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='sa.png'] + img[src*='rBtmRight.png']{
	right: .3vmax;
}
div.matra_rBtmRight img[src*='da.png'] + img[src*='rBtmRight.png'],
div.matra_rBtmRight img[src*='ba.png'] + img[src*='rBtmRight.png']{
	right: 0vmax;
}
div.matra_rBtmRight img[src*='ha.png'] + img[src*='rBtmRight.png']{
	top: -.8vmax;
}
div.matra_rBtmCenter img[src*='rBtmCenter.png']{
	right: .3vmax;
}
.rightWrongAns{
    bottom: 15%;
} 


