.outerMostParent {
	width: 87%;
	height: 100%;
	height: auto;
	position: relative;
	margin: 0 auto;
}
.showLoader {
	visibility: visible;
}
.hideLoader {
	visibility: hidden;
}
.loaderTest {
	position: absolute;
	z-index: 1500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.loaderHeight {
	visibility: hidden;
	position: absolute;
	z-index: 1500;
	top: 0;
	left: 0;
	height: 100%;
}
.previewImg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
	pointer-events: none;
}
.loaderHide {
	display: none !important;
}
.hideOverFlow {
	overflow: hidden !important;
}
.mainContentHolder {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.loaderDiv {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	padding: 0 !important;
	margin: 0 !important;
}
.outerDiv {
	position: relative;
	width: 100%;
	height: 100%;
}
#shikshaOuterDivId {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}
.showAnimation {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.85);
	top: 0;
	left: 0;
	z-index: 1100;
}
.hideAnimation {
	display: none;
}
.autoplayBtn {
	width: 15%;
	font-size: 2rem !important;
	margin-top: 25%;
}
