<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<audio #instruction [src]="commonAssets?.instruction?.location=='content' ? containgFolderPath + '/' +commonAssets?.instruction.url: assetsPath + '/'+ commonAssets?.instruction.url" autoplay="autoplay"></audio>
    <div class="" #overlay></div>	
     <div class="container-fluid eva" id="container">
        <div class="headerBar">
            <img class="img-fluid" [src]="commonAssets?.header_bar?.location =='content' ? containgFolderPath + '/' + commonAssets?.header_bar?.url : assetsPath + '/' + commonAssets?.header_bar?.url" (load)="checkImgLoaded();"/>
           </div>
        <div id="bgImage">
            <img class="img-fluid" [src]="commonAssets?.background?.location =='content' ? containgFolderPath + '/' + commonAssets?.background?.url : assetsPath + '/' + commonAssets?.background?.url"
			(load)="checkImgLoaded();" />  
        </div>    
        <div #maincontent class="disableDiv">
        <div id="instructionBar">
            <div class="instructionBase">
            <img class="img-fluid" [src]="commonAssets?.instruction_bg
                ?.location =='content' ? containgFolderPath + '/' + commonAssets?.instruction_bg?.url : assetsPath + '/' + commonAssets?.instruction_bg?.url" (load)="checkImgLoaded();" />
                 <span class="instructionText">{{instructiontext}}</span>
            </div>
        </div>        
        <div id="refQuesBlock">
		<img class="quesBg" [src]="quesObjCopy?.background?.location=='content' ? containgFolderPath + '/' + quesObjCopy?.background?.url : quesObjCopy?.background?.location=='assets' ? assetsPath + '/' +quesObjCopy?.background?.url:''" alt=""
                (load)="checkImgLoaded();">
            <div id="refQuesId" class="refQues" #refQues>			
                <ng-container *ngFor="let quesTxt of quesObjCopy?.questionText; let idx=index">
                    <div [ngClass]="[quesTxt?.matravalue ? 'matra_'+quesTxt.matravalue:'',quesTxt?.addMatra && !isOptionSelected ? 'quesBox':'',quesTxt?.isBlank && !isOptionSelected ? 'quesBox':'',quesTxt?.isBlank && !isOptionSelected ? 'fillBlank':'']">
                        <ng-template [ngIf]="!quesTxt?.isBlank">
						<img [ngClass]="{'dark':!quesTxt?.isBlank,'engTxtMargin': quesObjCopy?.isEnglish}" [src]="quesTxt?.location=='content' ? containgFolderPath + '/' + quesTxt?.url : quesTxt?.location=='assets' ? assetsPath + '/' +quesTxt?.url:''" alt=""
                        (load)="checkImgLoaded();">
						</ng-template>
                        <ng-template [ngIf]="quesTxt?.hasmatra">
                        <img class="dark matraImg" [src]="quesTxt?.matra?.location=='content' ? containgFolderPath + '/' + quesTxt?.matra?.url : quesTxt?.matra?.location=='assets' ? assetsPath + '/' +quesTxt?.matra?.url:''"
                        (load)="checkImgLoaded();">
                        </ng-template>                    
                    </div>            
                </ng-container>
            </div>
        </div>
        <div class="row mx-0" id="optionsBlock" #ansBlock>
            <div class="my-auto quesImage" #optionRef id="optionTestId">
                <div id="{{'opt'+idx}}" class="options" *ngFor="let opt of myoption;let idx = index" on-mouseenter='playOptionHover(opt,idx)' on-mousemove="onHoverOptions(opts,idx)"  (click)="opt?.isMatra? selectOptMatra(opt,idx) : selectOpt(opt,idx)">
                    <!-- <img class="img-fluid" id="{{'optblank'+idx}}" [src]="opt?.optBg?.location=='content' ? containgFolderPath + '/' + opt?.optBg?.url : assetsPath + '/' +opt?.optBg?.url"
                    (load)="checkImgLoaded();"> -->
                    <img class="img-fluid optItem" id="{{'optimage'+idx}}" [src]="opt?.location=='content' ? containgFolderPath + '/' + opt?.url : assetsPath + '/' +opt?.url"
                     (load)="checkImgLoaded();">
                </div>
            </div>
        </div>       
        <div #disableSpeaker id="disableSpeaker" class="speakerBlock">
            <div id="spkrBtn" class="speakerBtn">
            <img #speakerNormal id="speaker" class="img-fluid" [src]="speaker?.imgsrc?.location=='content' ?containgFolderPath + '/' +speaker?.imgsrc.url: assetsPath + '/'+ speaker?.imgsrc.url" (click)="playSpeaker(audioEl,speaker)" (mousemove)="onHoverSpeaker(speaker)"  (mouseleave)="onHoverOutSpeaker(speaker)" (load)="checkImgLoaded();" title="स्पीकर">
            <div class="waveAnimation" #sprite>
                <img class="img-fluid" [src]="speaker?.wave1?.location=='content' ?containgFolderPath + '/' +speaker?.wave1.url: assetsPath + '/'+ speaker?.wave1.url">
                <img class="img-fluid" [src]="speaker?.wave2?.location=='content' ?containgFolderPath + '/' +speaker?.wave2.url: assetsPath + '/'+ speaker?.wave2.url">
                <img class="img-fluid" [src]="speaker?.wave3?.location=='content' ?containgFolderPath + '/' +speaker?.wave3.url: assetsPath + '/'+ speaker?.wave3.url">
            </div> 
            <audio id="S" #myAudiospeaker #audioEl [src]="speaker?.sound?.location=='content' ?containgFolderPath + '/' +speaker?.sound.url: assetsPath + '/'+ speaker?.sound.url"></audio>
          </div>
        </div>        
    </div>  <!--END OF MAIN CONTENT-->

    <!-- Right/Wrong Popup  -->
    <div class="modal" id="modalTemp17" #ansPopup>
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-body d-flex align-items-center">
                  <img class="img-fluid"  [src]="popupAssets?.pop_up_base?.location=='content' ? containgFolderPath +'/'+ popupAssets?.pop_up_base?.url :  assetsPath +'/'+ popupAssets?.pop_up_base?.url">
                  
                  <div id="refQuesBlock">
				  <img class="quesBg" [src]="quesObj?.background?.location=='content' ? containgFolderPath + '/' + quesObj?.background?.url : quesObj?.background?.location=='assets' ? assetsPath + '/' +quesObj?.background?.url:''" alt=""
					(load)="checkImgLoaded();">
                    <div class="refQues" #refQues>					
                        <ng-container *ngFor="let quesTxt of quesObj?.questionText; let idx=index">
                            <div [ngClass]="[quesTxt?.matravalue ? 'matra_'+quesTxt.matravalue:'']">
                                <img [ngClass]="{'dark':!quesTxt?.isBlank,'engTxtMargin': quesObj?.isEnglish, 'globalOptionBlink':(idx==quesEmptyTxtIndx && (isRightSelected || isWrongSelected))}" [src]="quesTxt?.location=='content' ? containgFolderPath + '/' + quesTxt?.url : quesTxt?.location=='assets' ? assetsPath + '/' +quesTxt?.url:''" alt=""
                                (load)="checkImgLoaded();">
                                <ng-template [ngIf]="quesTxt?.hasmatra">
                                <img [ngClass]="{'dark':true, 'matraImg':true, 'globalOptionBlink':quesTxt?.addMatra}" [src]="quesTxt?.matra?.location=='content' ? containgFolderPath + '/' + quesTxt?.matra?.url : quesTxt?.matra?.location=='assets' ? assetsPath + '/' +quesTxt?.matra?.url:''"
                                (load)="checkImgLoaded();">
                                </ng-template>                    
                            </div>            
                        </ng-container>
                    </div>
                </div>
                  
                  <div class="rightWrongAns">
                      <img class="img-fluid" [src]="popupIconLocation=='content' ? containgFolderPath +'/'+ popupIcon :  assetsPath +'/'+ popupIcon">
                  </div>
                  <img class="popupCloseBtn" [src]="popupAssets?.close_button?.location=='content' ? containgFolderPath + '/' + popupAssets?.close_button?.url : assetsPath + '/' + popupAssets?.close_button?.url"
                  (click)="closePopup('answerPopup')" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
               </div>
          </div>
      </div>
  </div>


 <!-- show answer Popup  -->
<app-showanswer (closePopupChild)="closePopup('showAnswer');"></app-showanswer>

  </div>
  


  <!-- Popup Modal Audios -->
<audio #wrongFeedback [src]="wrongPopup?.path?.location=='content'? containgFolderPath + '/' +  wrongPopup?.path?.url : assetsPath +'/'+ wrongPopup?.path?.url"></audio>
<audio #rightFeedback [src]="rightPopup?.path?.location=='content'? containgFolderPath + '/' +  rightPopup?.path?.url : assetsPath +'/'+ rightPopup?.path?.url"></audio>
<audio #clapSound [src]="feedback?.right_ans_clap_sound?.location=='content' ? containgFolderPath + '/' + feedback?.right_ans_clap_sound?.url : feedback?.right_ans_clap_sound?.location=='assets' ? assetsPath + '/' + feedback?.right_ans_clap_sound?.url:feedback?.right_ans_clap_sound?.url"></audio>	



    
