.eva1#container .speakerBtn{
	width:auto;
	position:absolute;
	top:26%;
	right:0;
	text-align: center;
}
.eva1 .speakerBtn img{
	width:61%;
}
.eva1 .options img{
	cursor:pointer;
}

 .eva1#container #optionsBlock {
    position: absolute;
    top: 54%;
	width: 100%;
	height: 27%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eva1 .quesImage {
	width: 100%;
	height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.eva1 .quesImage .optItem {
    position: absolute !important;
    width: auto;
    height: 90%;
}
.eva1 #optionsBlock .options {
    position: relative;
    max-width: 100%;
    margin: 0% 5%;
    vertical-align: middle;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
	background: #ff9797;
    border-radius: 2vmin;
	border: solid .45vmax transparent;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.55);
	transition: transform .2s;
    cursor: pointer;
}
.eva1 #optionsBlock .options:nth-child(2) {
	background: #9EFBFF;
}
.eva1 #optionsBlock .options:nth-child(3) {
	background: #B6FDA4;
}
.eva1 #optionsBlock .options:hover{
	transform: scale(1.1);
	border-color: #f00;
}
.eva1 .options img {
    filter: grayscale(100%) brightness(0) saturate(0);
}
@keyframes scaleIn{
	0%{
		transform: scale(1.0)
	}
	100%{
   transform: scale(1.1)
	}
}
.optionBlink{
	animation:blinkLetter normal 0.5s infinite ease-in-out;
}
@keyframes blinkLetter{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0.5;
	}
} 
.eva1 #refQuesBlock{
    position: absolute;
    top: 14%;
	width: 100%;
    height: 35%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.eva1 .modal #refQuesBlock{
    top: 18.5% !important;
	height: 39%;
	padding: 0;
}
.eva1 .refQues{
	width: auto;
	max-width: 100%;
    height: 94%;
	display: flex;
	justify-content: center;
	z-index: 1;
	position: absolute;
	top:7%;
} 
.eva1 .modal .refQues{
	top:2%;
}
.eva1 .quesBg{
	position:absolute;
	width:73%;
}
.eva1 .modal .quesBg{
	width:89%;
}

.eva1 .refQues div {
	height: 89%;
	width: fit-content;
	display: flex;
	justify-content: center;
    align-items: center;
    position: relative;
} 
.eva1 .modal .refQues div {
	height: 100%;
}
.eva1 .refQues div img{
	height: 100%;
}
.eva1 .refQues div img.matraImg{
	position: absolute;
	filter: grayscale(100%) brightness(0) saturate(0);
	height: 100%;
}
.eva1 #refQuesBlock div.quesBox{
	position: relative;
	width: fit-content;
    padding: 0 5vmin;
}
.eva1 .modal #refQuesBlock div.quesBox{
	padding: 0;
}
.eva1 .modal#showAnswer #refQuesBlock{
	top: auto !important;
    width: 97.4% !important;
}
.eva1 #refQuesBlock div.quesBox.fillBlank{
	position: relative;
	width: 10vmax;
	min-width:10vmax;
}
/*** Border Blink Animation  ***/
@keyframes borderBlink{
	25%{
		border: solid .5vmax #f0e;
	}
	50%{
		border: solid .5vmax #f0e;
	}
	100%{
		border: solid .5vmax #0029d0;
	}
}
.eva1 .refQues div.quesBox::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: solid .5vmax #0029d0;
	border-radius: 1vmax;
	animation: none;
}
.eva1 .refQues div.quesBox.blinkOn::before {
	animation: borderBlink normal 1s infinite linear;
}
.eva1 .modal .refQues div.quesBox::before {
	border: none;
	border-radius: none;
	animation: none;
}

.eva1 .dark{
	-webkit-filter: grayscale(100%) brightness(0) saturate(0); filter: grayscale(100%) brightness(0) saturate(0);
}

.eva1#container .speakerBlock{
	top: 23% !important;
    right: 2% !important;
}
.eva1 .modal .refQues div img:nth-child(2){	
    z-index: 1;	
}
.eva1 div.matra_i{
	margin-left: 3vmax;
}
.eva1 div.matra_ee,
.eva1 div.matra_au{
	margin-right: 3vmax;
}
.eva1 div.matra_aa{
	margin-right: 2.5vmax;
}
.eva1 div.matra_o{
	margin-right: 2.9vmax;
}
.eva1 div.matra_i img[src*='i.png']{
	left: -3vmax;
}
.eva1 div.matra_aa img[src*='aa.png'],
.eva1 div.matra_ee img[src*='ee.png'],
.eva1 div.matra_o img[src*='o.png'],
.eva1 div.matra_au img[src*='au.png']{
	right: -3vmax;
}

.eva1 div.matra_u img[src*='u.png']{
	right: .1vmax;
}
.eva1 div.matra_oo img[src*='oo.png']{
	right: -1.7vmax;
}
.eva1 div.matra_an img[src*='an.png']{
	right: 1.1vmax;
}
.eva1 div.matra_rTopRight img[src*='rTopRight.png']{
	right: .5vmax;
}
.eva1 div.matra_rBtmRight img[src*='rBtmRight.png']{
	right: .5vmax;
}
.eva1 div.matra_rBtmLeft img[src*='ka.png'] + img[src*='rBtmLeft.png'],
.eva1 div.matra_rBtmLeft img[src*='fa.png'] + img[src*='rBtmLeft.png']{
	left: 1vmax;
}
.eva1 div.matra_rBtmLeft img[src*='kha.png'] + img[src*='rBtmLeft.png']{
	right: 2vmax;
}
.eva1 div.matra_rBtmLeft img[src*='cha.png'] + img[src*='rBtmLeft.png'],
.eva1 div.matra_rBtmLeft img[src*='ja.png'] + img[src*='rBtmLeft.png'],
.eva1 div.matra_rBtmLeft img[src*='la.png'] + img[src*='rBtmLeft.png'],
.eva1 div.matra_rBtmLeft img[src*='sa.png'] + img[src*='rBtmLeft.png']{
	right: 1.7vmax;
}
.eva1 div.matra_rBtmRight img[src*='ka.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='fa.png'] + img[src*='rBtmRight.png']{
	left: 2.5vmax;
}
.eva1 div.matra_rBtmRight img[src*='cha.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='ja.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='ma.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='ya.png'] + img[src*='rBtmRight.png']{
	right: .1vmax;
}
.eva1 div.matra_rBtmRight img[src*='tta.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='na.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='na.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='pa.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='la.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='sa.png'] + img[src*='rBtmRight.png']{
	right: .3vmax;
}
.eva1 div.matra_rBtmRight img[src*='da.png'] + img[src*='rBtmRight.png'],
.eva1 div.matra_rBtmRight img[src*='ba.png'] + img[src*='rBtmRight.png']{
	right: 0vmax;
}
.eva1 div.matra_rBtmRight img[src*='ha.png'] + img[src*='rBtmRight.png']{
	top: -.8vmax;
}
.eva1 div.matra_rBtmCenter img[src*='rBtmCenter.png']{
	right: .3vmax;
}
/*** Akshar Positioning Classes ***/
.eva1 img[src*='ad.png'],
.eva1 img[src*='b.png'],
.eva1 img[src*='bh.png'],
.eva1 img[src*='ch.png'],
.eva1 img[src*='dh.png'],
.eva1 img[src*='f.png'],
.eva1 img[src*='g.png'],
.eva1 img[src*='gh.png'],
.eva1 img[src*='j.png'],
.eva1 img[src*='k.png'],
.eva1 img[src*='kh.png'],
.eva1 img[src*='ksh.png'],
.eva1 img[src*='l.png'],
.eva1 img[src*='m.png'],
.eva1 img[src*='n.png'],
.eva1 img[src*='p.png'],
.eva1 img[src*='s.png'],
.eva1 img[src*='sh.png'],
.eva1 img[src*='shh.png'],
.eva1 img[src*='thh.png'],
.eva1 img[src*='tr.png'],
.eva1 img[src*='tt.png'],
.eva1 img[src*='v.png'],
.eva1 img[src*='y.png']{
	margin-right: -1.2vmax;
}
.eva1 .rightWrongAns{
    bottom: 18%;
}