<div class="container-fluid ele" id="container" *ngIf="!isPlayVideo">
    <div id="bgImage"><img [src]="commonAssets?.background?.url" (load)="checkImgLoaded();" /></div>
    <div class="d-flex flex-row justify-content-around instructionBar">
      <div class="instructionBase" #instructionBar [ngClass]="{'disableDiv':instructionDisable}">
        <img class="img-fluid" (click)="playInstruction()" [src]="commonAssets?.instruction_img?.url"
          (load)="checkImgLoaded();" />
      </div>
      <audio #instructionVO [src]="commonAssets?.instruction_vo?.url"></audio>
    </div>
    <div class="bodyContent" #mainContainer>
      <div class="matchBlock">
        <div class="matchHolder">
          <img class="img-fluid" [src]="optionHolder?.leftHolder?.url" (load)="checkImgLoaded();">        
        </div>
        <div class="matchHolder">
          <img class="img-fluid" [src]="optionHolder?.rightHolder?.url" (load)="checkImgLoaded();">      
        </div>
      </div>
      <div #placeholderRefLeft>
        <div class='element{{idx}} matchHolderLeft' *ngFor="let option of dummyImgs;let idx=index">
          <img class="img-fluid" [src]="option?.imgsrc?.url">
        </div>
      </div>
      <div #placeholderRefRight>
        <div class='element{{idx}} matchHolderRight' *ngFor="let option of dummyImgs;let idx=index">
          <img class="img-fluid" [src]="option?.imgsrc?.url">
        </div>
      </div>
      <div #optionRef>
        <div class="{{option?.imgsrc?.style_class}}"
          [@openClose]="{value: option.isOpen ? 'open' : 'closed', params: {leftPos: option.leftPos , topPos: option.topPos, posWidth:option.posWidth}}"
          *ngFor="let option of options;let idx = index" [ngClass]="{'disableDiv':isOptionDisabled}">
          <img class="img-fluid pos_rel" [src]="option?.imgsrc?.url" (mouseenter)="playOptionHover(idx, option)"
            (mousemove)="optionHover(idx,option)" (mouseleave)="optionLeave(idx,option)"
            (click)="submitAttempt(idx,option)" (load)="checkImgLoaded();">
        </div>
      </div>
      <audio #quesVORef></audio>
    </div>
    <!-- The infoPopup Modal -->
    <div class="modal" id="infoModalId" #infoModalRef>
      <div class="modal-dialog">
        <div class="modal-content" #modalRef>
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="infoPopupAssets?.style_header">
            <img class="modal-title" [src]="infoPopupAssets?.headerTxt_img?.url">
            <img class="close" [src]="infoPopupAssets?.close_btn?.url"
              (click)="sendFeedback(infoModalRef,'no','partialFeedback');" (mousemove)="hoverCloseOk()"
              (mouseleave)="houtCloseOk()">
          </div>
  
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="infoPopupAssets?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="infoPopupAssets?.info_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="sendFeedback(infoModalRef,'no','partialFeedback');" (mousemove)="hoverOK()"
                (mouseleave)="houtOK()"><img class="img-fluid" [src]="infoPopupAssets?.ok_btn?.url"></button>
            </div>
          </div>
          <audio #partialFeedbackRef [src]="infoPopupAssets?.partial_feedback?.url"></audio>
        </div>
      </div>
    </div>
  
    <!-- confirm modal-->
    <div class="modal" id="confirmModal" #confirmModalRef>
      <div class="modal-dialog">
        <div class="modal-content" #modalRef>
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="confirmAssets?.style_header">
            <img class="modal-title" [src]="confirmAssets?.headerTxt_img?.url">
            <img class="close" [src]="confirmAssets?.close_btn?.url" (click)="sendFeedback(confirmModalRef,'no');"
              (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
          </div>
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="confirmAssets?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="confirmAssets?.confirm_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="sendFeedback(confirmModalRef,'yes','showAnswer');"
                (mousemove)="hoverConfirm()" (mouseleave)="houtConfirm()"><img class="img-fluid"
                  [src]="confirmAssets?.confirm_btn?.url"></button>
              <button type="button" (click)="sendFeedback(confirmModalRef,'no');" (mousemove)="hoverDecline()"
                (mouseleave)="houtDecline()"><img class="img-fluid" [src]="confirmAssets?.decline_btn?.url"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--confirmation before submit-->
    <div class="modal" id="confirmModal" #confirmSubmitRef>
      <div class="modal-dialog">
        <div class="modal-content" #modalRef>
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="confirmSubmitAssets?.style_header">
            <img class="modal-title" [src]="confirmSubmitAssets?.headerTxt_img?.url">
            <img class="close" [src]="confirmSubmitAssets?.close_btn?.url" (click)="sendFeedback(confirmSubmitRef,'no');"
              (mousemove)="hoverSubmitClose()" (mouseleave)="houtSubmitClose()">
          </div>
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="confirmSubmitAssets?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="confirmSubmitAssets?.confirm_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="sendFeedback(confirmSubmitRef,'yes','submitAnswer');"
                (mousemove)="hoverSubmitConfirm()" (mouseleave)="houtSubmitConfirm()"><img class="img-fluid"
                  [src]="confirmSubmitAssets?.confirm_btn?.url"></button>
              <button type="button" (click)="sendFeedback(confirmSubmitRef,'no');" (mousemove)="hoverSubmitDecline()"
                (mouseleave)="houtSubmitDecline()"><img class="img-fluid"
                  [src]="confirmSubmitAssets?.decline_btn?.url"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- The Modal Template 3 -->
    <div class="modal" id="modalTemp4" #feedbackPopupRef>
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" [ngClass]="{'right_wrong':isRightWrong, 'partial_feedback':isPartial}">
  
          <!-- Modal Header -->
          <div class="modal-header" [ngStyle]="feedbackAssets?.style_header">
            <img class="modal-title" [src]="feedbackAssets?.headerTxt_img?.url">
            <img class="close" [src]="feedbackAssets?.close_btn?.url"
              (click)="sendFeedback(feedbackPopupRef,'no','feedbackDone');" (mousemove)="hoverFeedbackClose()"
              (mouseleave)="houtFeedbackClose()">
          </div>
  
          <!-- Modal body -->
          <div class="modal-body d-flex justify-content-center flex-wrap" [ngStyle]="feedbackAssets?.style_body">
            <div class="flex-row justify-content-around instructionBar" id="instructionBarFeedback"
              [ngClass]="{'dispFlex':popupTxtRequired}">
              <div class="instructionBase">
                <img class="img-fluid" [src]="feedbackAssets?.popTitleTxt_img?.url" />
              </div>
            </div>
            <div class="d-flex justify-content-center elementBlock">
              <div class="matchHolder" *ngIf="category && category.correct && category.correct.length>0">
                <img class="img-fluid" [src]="feedbackAssets?.rightAttempt_placeholder?.url">
                <div class="optSelected" #correctCategory>
                  <img class="img-fluid" *ngFor="let right of category.correct" [src]="right?.imgsrc?.url">
                </div>
              </div>
              <div class="matchHolder" *ngIf="category && category.incorrect && category.incorrect.length>0">
                <img class="img-fluid" [src]="feedbackAssets?.wrongAttempt_placeHolder?.url">
                <div class="optSelected" #incorrectCategory>
                  <img class="img-fluid" *ngFor="let wrong of category.incorrect" [src]="wrong?.imgsrc?.url">
                </div>
              </div>
              <audio #feedbackAudio></audio>
            </div>
            <div class="d-flex align-items-center justify-content-end navigate">
              <img class="img-fluid back"
                [ngClass]="{'disableBtn': currentFeedbackPlaying=='categoryA' || (categoryA?.correct.length ==0 && categoryA?.incorrect.length==0)}"
                [src]="feedbackAssets?.feedback_back_btn?.url" (click)="prevFeedback()" (mousemove)="hoverFeedbackPre()"
                (mouseleave)="hleaveFeedbackPre()">
              <img class="img-fluid forward"
                [ngClass]="{'disableBtn': (showAnswerClicked && currentFeedbackPlaying =='categoryB') || (showAnswerClicked && categoryB?.correct.length ==0 && categoryB?.incorrect.length==0),
                            'd-none': (!showAnswerClicked && currentFeedbackPlaying =='categoryB') || (!showAnswerClicked && categoryB?.correct.length ==0 && categoryB?.incorrect.length==0)}"
                [src]="feedbackAssets?.feedback_next_btn?.url" (click)="nextFeedback()" (mousemove)="hoverFeedbackNxt()"
                (mouseleave)="hleaveFeedbackNxt()">
              <img class="img-fluid" style="display: none;"
                [ngClass]="{'d-show': (!showAnswerClicked && currentFeedbackPlaying =='categoryB') || (!showAnswerClicked && categoryB?.correct.length ==0 && categoryB?.incorrect.length==0)}"
                [src]="feedbackAssets?.ok_btn?.url" (click)="sendFeedback(feedbackPopupRef,'no','feedbackDone');"
                (mousemove)="hoverFeedbackOK()" (mouseleave)="houtFeedbackOK()">
              <!-- <div style="display: none;" [ngClass]="{'actionButtons':true ,'d-show': (!showAnswerClicked && currentFeedbackPlaying =='categoryB') || (!showAnswerClicked && categoryB?.correct.length ==0 && categoryB?.incorrect.length==0)}">
                <button type="button" (click)="sendFeedback(feedbackPopupRef,'no','feedbackDone');" (mousemove)="hoverFeedbackOK()"
                  (mouseleave)="houtFeedbackOK()"><img class="img-fluid" [src]="feedbackAssets?.ok_btn?.url"></button>
              </div> -->
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="modal" id="confirmModal" #confirmReplayRef>
      <div class="modal-dialog">
        <div class="modal-content" #modalRef>
          <div class="modal-header modalCustomSuccessHeader" [ngStyle]="confirmReplayAssets?.style_header">
            <img class="modal-title" [src]="confirmReplayAssets?.headerTxt_img?.url">
            <img class="close" [src]="confirmReplayAssets?.close_btn?.url" (click)="sendFeedback(confirmReplayRef,'no');"
              (mousemove)="hoverReplayCloseConfirm()" (mouseleave)="houtReplayCloseConfirm()">
          </div>
          <div class="modal-body" #moalBodyRefSuccess [ngStyle]="confirmReplayAssets?.style_body">
            <div class="msgImage"><img class="img-fluid h-100" [src]="confirmReplayAssets?.confirm_text?.url"></div>
            <div class="actionButtons">
              <button type="button" (click)="sendFeedback(confirmReplayRef,'yes','replay');"
                (mousemove)="hoverReplayConfirm()" (mouseleave)="houtReplayConfirm()"><img class="img-fluid"
                  [src]="confirmReplayAssets?.confirm_btn?.url"></button>
              <button type="button" (click)="sendFeedback(confirmReplayRef,'no','cancelReplay');"
                (mousemove)="hoverReplayDecline()" (mouseleave)="houtReplayDecline()"><img class="img-fluid"
                  [src]="confirmReplayAssets?.decline_btn?.url"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="videoMainContainer" *ngIf="isPlayVideo">
    <img src="assets/images/videoBg.png" class="img-fluid videoBg">
    <div class="videoWrapper">
      <video #mainVideo id="mainVideo" width="100%" style="max-width: 100%; max-height: 100%;"
        (loadeddata)="checkVideoLoaded()" poster="assets/images/videoPoster.svg" autoplay="autoplay"
        (ended)="endedHandler()">
        <source [src]="quesObj?.quesVideo?.urlOgv" type="{{videoType}}">
      </video>
      <div id="playPauseBtn"><img class="img-fluid" [src]="quesObj?.quesPlayPause?.url" (mousemove)="hoverPlayPause()"
          (mouseleave)="leavePlayPause()" (click)="PlayPauseVideo()" /></div>
      <div id="SkipBtn"><img class="img-fluid" [src]="quesObj?.quesSkip?.url" *ngIf="quesSkip"
          (click)="endedHandleronSkip()" (mousemove)="hoverSkip()" (mouseleave)="houtSkip()" /></div>
    </div>
  