/* .bodyContent .element0.matchHolderLeft,
.bodyContent .element1.matchHolderLeft,
.bodyContent .element2.matchHolderLeft,
.bodyContent .element3.matchHolderLeft,
.bodyContent .element4.matchHolderLeft,
.bodyContent .element5.matchHolderLeft,
.bodyContent .element6.matchHolderLeft,
.bodyContent .element7.matchHolderLeft,
.bodyContent .element8.matchHolderLeft,
.bodyContent .element0.matchHolderRight,
.bodyContent .element1.matchHolderRight,
.bodyContent .element2.matchHolderRight,
.bodyContent .element3.matchHolderRight,
.bodyContent .element4.matchHolderRight,
.bodyContent .element5.matchHolderRight,
.bodyContent .element6.matchHolderRight,
.bodyContent .element7.matchHolderRight,
.bodyContent .element8.matchHolderRight{
  position: absolute;
  left: 24.8%;
  top: 33%;
  width: 7%;
}
.bodyContent .element0.matchHolderRight,
.bodyContent .element1.matchHolderRight,
.bodyContent .element2.matchHolderRight,
.bodyContent .element3.matchHolderRight,
.bodyContent .element4.matchHolderRight,
.bodyContent .element5.matchHolderRight,
.bodyContent .element6.matchHolderRight,
.bodyContent .element7.matchHolderRight,
.bodyContent .element8.matchHolderRight{
  left: 52.3%;
}
.bodyContent .element1.matchHolderLeft,
.bodyContent .element4.matchHolderLeft,
.bodyContent .element7.matchHolderLeft{
  left: 32.8%;
}
.bodyContent .element2.matchHolderLeft,
.bodyContent .element5.matchHolderLeft,
.bodyContent .element8.matchHolderLeft{
  left: 40.8%;
}
.bodyContent .element3.matchHolderLeft,
.bodyContent .element4.matchHolderLeft,
.bodyContent .element5.matchHolderLeft,
.bodyContent .element3.matchHolderRight,
.bodyContent .element4.matchHolderRight,
.bodyContent .element5.matchHolderRight{
  top: 46.5%;
}
.bodyContent .element6.matchHolderLeft,
.bodyContent .element7.matchHolderLeft,
.bodyContent .element8.matchHolderLeft,
.bodyContent .element6.matchHolderRight,
.bodyContent .element7.matchHolderRight,
.bodyContent .element8.matchHolderRight{
  top: 60%;
}
.bodyContent .element1.matchHolderRight,
.bodyContent .element4.matchHolderRight,
.bodyContent .element7.matchHolderRight{
  left: 60.3%;
}
.bodyContent .element2.matchHolderRight,
.bodyContent .element5.matchHolderRight,
.bodyContent .element8.matchHolderRight{
  left: 68.3%;
} */
@keyframes shake {
	10%,90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,50%,70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,60% {
		transform: translate3d(4px, 0, 0);
	}
}
/* Modal */
/* #modalPartialOptions .modal-header{
  margin-bottom: -1px;
} */
@keyframes scaleit {
	0% {
		transform: scale(.9);
		opacity: .0;
	}
	90% {
		transform: scale(1.1);
		opacity: .7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes moveLeft {
	0% {
		left: 3.2%;
	}
	100% {
		left: 2%;
	}
}
@keyframes moveRight {
	0% {
		right: 3.3%;
	}
	100% {
		right: 2%;
	}
}
@keyframes scaleIn {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(1.1);
	}
}
@keyframes scaleOut {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}
@keyframes shrinkIt {
	0% {
		transform: scale(1.0);
	}
	100% {
		transform: scale(0.7);
	}
}
/*
confirm modal
*/
/* #confirmModal .modal-header {
	top: 0;
} */
/* #confirmModal .modal-title,
#infoModalId .modal-title {
	margin-left: 3%;
} */
/* #confirmModal .close,
#infoModalId .close {
	margin: 0 1.6% 0 auto;
} */
/*
info modal modal
*/
/*
@media (max-width: 1200px){
  #modalTemp4{
    height: 71%;
  }
}*/
/* #modalTemp4 .modal-header{
	padding: .5%;
	height: 7vmin;
  position: relative;
  top: 0;
  width: 100%;
  border: solid .7vmin #85d222;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #248446;
} */
@keyframes scaleOption {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}
@keyframes unScaleOption {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
/* .videoMainContainer{
  width:100%;
  height:auto;
  position:relative;
  top:0;
  left:0;
  z-index: 101;
} */
/* .video_loader{
	position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}
.video_loader img{
	width:100%;
} */
.hideit {
	display: none !important;
}
.showit {
	display: block !important;
}
.dispFlex {
	display: flex !important;
}
* {
	box-sizing: border-box;
	&:before {
		box-sizing: border-box;
	}
	&:after {
		box-sizing: border-box;
	}
}
#container {
	position: relative;
	padding: 0;
	#bgImage {
		img {
			width: 100%;
		}
	}
	#navBlock {
		position: absolute;
		bottom: 6%;
		left: 0%;
		width: 100%;
		.navBase {
			position: relative;
			width: auto;
			margin-right: .7%;
		}
		.prevBtn {
			cursor: pointer;
			&:hover {
				-webkit-animation-name: moveLeft;
				-webkit-animation-duration: .3s;
				animation-name: moveLeft;
				animation-duration: .3s;
				animation-iteration-count: infinite;
			}
		}
		.nextBtn {
			cursor: pointer;
			&:hover {
				-webkit-animation-name: moveLeft;
				-webkit-animation-duration: .3s;
				animation-name: moveLeft;
				animation-duration: .3s;
				animation-iteration-count: infinite;
				-webkit-animation-name: moveRight;
				animation-name: moveRight;
			}
		}
		.ansBtn {
			cursor: pointer;
			margin-left: .7%;
			width: 3.5%;
		}
	}
	.quesBlock {
		position: absolute;
		left: 0%;
		top: 3%;
		width: 100%;
		height: 5.5%;
		display: flex;
		justify-content: center;
		img {
			cursor: pointer;
		}
	}
	.instructionBar {
		position: absolute;
		top: 10%;
		width: 100%;
		text-align: center;
	}
	.modal {
		.instructionBar {
			top: 1%;
		}
	}
}
button {
	&:focus {
		outline: 0 !important;
		outline: none;
	}
}
.bodyContent {
	position: absolute;
	top: 17%;
	width: 100%;
	left: 0;
	height: 71%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.matchHolderLeft {
		position: absolute;
		width: 7%;
		img {
			visibility: hidden;
		}
	}
	.matchHolderRight {
		position: absolute;
		width: 7%;
		img {
			visibility: hidden;
		}
	}
	.matchBlock {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 55%;
		position: absolute;
	}
}
.matchHolder {
	width: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	&:last-child {
		right: 0;
	}
	img {
		width: 94%;
	}
	.optSelectedHidden {
		position: absolute;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		align-content: space-evenly;
		width: 86%;
		height: 83%;
		margin-top: 3.5%;
		flex-wrap: wrap;
		img {
			width: 29%;
		}
	}
}
#playPauseBtn {
	position: absolute;
	top: 86%;
	right: .7%;
	cursor: pointer;
	width: 3.5%;
}
#SkipBtn {
	position: absolute;
	top: 86%;
	right: 5%;
	cursor: pointer;
	width: 3.5%;
}
.option1 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 1%;
	left: 45%;
}
.option2 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 4%;
	left: 62.6%;
}
.option3 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 22%;
	left: 79.5%;
}
.option4 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 51%;
	left: 81%;
}
.option5 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 79%;
	left: 70%;
}
.option6 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 83%;
	left: 53%;
}
.option7 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 83%;
	left: 36%;
}
.option8 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 79%;
	left: 19.5%;
}
.option9 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 51%;
	left: 8.5%;
}
.option10 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 22%;
	left: 10%;
}
.option11 {
	position: absolute;
	top: 0;
	width: 10.4%;
	top: 4%;
	left: 27%;
}
.optionsBlock {
	img {
		position: relative;
		max-width: 100%;
	}
	.options {
		position: relative;
		margin: 1%;
		vertical-align: middle;
		width: 31%;
		display: inline-block;
		animation: scaleit 0.4s ease-in;
	}
	.quesImage.autoWidth {
		.options {
			width: auto;
		}
	}
	.refTxt {
		position: absolute;
		bottom: 0%;
		left: 0%;
		z-index: 2;
	}
}
.modal {
	.optionsBlock {
		.options {
			width: 23%;
		}
		margin: 2% 0;
	}
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 0px;
	position: absolute !important;
	width: 100%;
	z-index: 100 !important;
	height: 94.2%;
	justify-content: center;
	align-items: center;
	padding-left: 0px;
	.instructionBase {
		img {
			cursor: auto;
		}
	}
	.quesImage {
		align-self: center;
		margin: 1% auto !important;
	}
}
#modalPartialOptions {
	.optionsBlock {
		margin: 0;
		.options {
			width: 13%;
			margin: .5%;
		}
	}
	.modal-dialog {
		max-width: 87%;
	}
	.quesImage {
		display: block;
	}
	.subHead {
		padding: 0 .5%;
		height: auto;
		position: relative;
		top: 0;
		width: 100%;
		border: solid 1px #444;
		border-bottom-color: #777;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		background: #9a9a9a;
		img {
			max-width: 6%;
			padding: .4%;
		}
	}
	.subContent {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4% 0;
		background: #c4c4c4;
		border: solid 1px #444;
		border-top: none;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}
.quesImage {
	width: 100%;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.quesTab {
	width: 20%;
	display: inline-flex;
	flex-grow: 1;
	position: relative;
	img {
		vertical-align: text-bottom;
	}
}
#navBlock {
	.prevBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
	}
	.nextBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.submitBtn {
		cursor: pointer;
		width: 3.5%;
		margin-right: .7%;
		width: 7%;
	}
}
.tabBody {
	flex-grow: 1;
	margin: 0 -1px;
	width: auto;
	height: 100%;
}
.tabLeft {
	width: auto;
	height: 100%;
}
.tabRight {
	width: auto;
	height: 100%;
}
.quesnum {
	position: absolute;
	width: 1vmin;
	height: auto;
	left: 48%;
	top: 30%;
}
.animation-shake {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	animation-iteration-count: infinite;
}
.rightAnsBg {
	animation: scaleit 0.2s ease-in;
}
#correctAns {
	img {
		position: absolute;
		width: 70%;
	}
}
.instructionBar {
	.instructionBase {
		width: 60%;
		position: relative;
	}
}
.instructionBase {
	.instructionText {
		position: absolute;
		top: 0%;
		left: 0;
	}
	img {
		cursor: pointer;
	}
}
.modal.show {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.modal-dialog {
	max-width: 80%;
	height: auto;
}
.modal-content {
	background: transparent !important;
	border: 0 !important;
	box-shadow: none !important;
	height: 100%;
	min-width: 560px;
	min-height: 48vmin;
}
.modal-body {
	padding: 2%;
	background: #afdec0;
	border: solid .7vmin #85d222;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	img {
		max-width: 94%;
	}
}
.modalBodyContent {
	background: #afdec0;
	margin: -1px;
}
#burst {
	position: absolute;
	z-index: 101;
	width: 100%;
	height: 100%;
}
.scaleInAnimation {
	animation: scaleIn 0.5s linear;
	transform: scale(1.1);
}
.scaleOutAnimation {
	animation: scaleOut 0.5s linear;
	transform: scale(1.0);
}
.disableDiv {
	pointer-events: none;
}
.pos_rel {
	position: relative;
}
.shrink_it {
	animation: shrinkIt 0.5s linear;
	transform: scale(0.7);
	pointer-events: none;
}
.optSelectedHidden {
	visibility: hidden;
}
.greyOut {
	opacity: 0.5;
	pointer-events: none;
}
#confirmModal {
	background: rgba(0, 0, 0, .85);
	.modal-dialog {
		width: 50% !important;
		max-width: 100%;
		height: 36%;
		display: flex;
		justify-content: center;
	}
	.modal-content {
		min-width: auto;
		min-height: auto;
	}
	.modal-body {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-end;
		flex: auto !important;
		.msgImage {
			display: block;
			text-align: center;
			img {
				width: 100%;
			}
		}
		.actionButtons {
			text-align: center;
			margin: 3% 0 2%;
			width: 100%;
			button {
				border: none;
				background: transparent;
				padding: 0;
				margin: 0;
				width: 18%;
				outline: none;
			}
			img {
				max-width: 80%;
			}
		}
		img {
			max-width: 100%;
		}
	}
	.bodyText {
		position: absolute;
		top: 30%;
		width: 100%;
		img {
			width: 85%;
		}
	}
	.modal-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		border-top: none;
		position: absolute;
		width: 100%;
		bottom: 16%;
		button {
			width: 13%;
			border: none;
			background: transparent;
		}
	}
	.popupModelBody {
		padding: 0;
	}
}
#infoModalId {
	background: rgba(0, 0, 0, .85);
	.modal-dialog {
		width: 50% !important;
		max-width: 100%;
		height: 36%;
		display: flex;
		justify-content: center;
	}
	.modal-content {
		min-width: auto;
		min-height: auto;
	}
	.modal-body {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-end;
		flex: auto !important;
		.msgImage {
			display: block;
			text-align: center;
			img {
				width: 100%;
			}
		}
		.actionButtons {
			text-align: center;
			margin: 3% 0 2%;
			width: 100%;
			button {
				border: none;
				background: transparent;
				padding: 0;
				margin: 0;
				width: 18%;
				outline: none;
			}
			img {
				max-width: 80%;
			}
		}
	}
	.bodyText {
		position: absolute;
		top: 30%;
		width: 100%;
		img {
			width: 85%;
		}
	}
	.modal-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		border-top: none;
		position: absolute;
		width: 100%;
		bottom: 16%;
		button {
			width: 13%;
			border: none;
			background: transparent;
		}
	}
	.popupModelBody {
		padding: 0;
	}
}
.displayPopup {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
#modalTemp4 {
	background: rgba(0, 0, 0, .85);
	.modal {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
	.modal-open {
		.modal {
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
	.modal.show {
		.modal-dialog {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
	.modal-dialog {
		width: 92%;
		max-width: 92%;
		height: 93%;
	}
	.matchHolder {
		width: 52%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 99%;
			max-width: 99%;
		}
		.optSelected {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: space-around;
			width: 90%;
			height: 58%;
			margin-top: 5%;
			flex-wrap: wrap;
			img {
				width: 30%;
				margin: 1.3%;
			}
		}
	}
	.partial_feedback {
		.matchHolder {
			width: 49%;
		}
	}
	.modal-body {
		padding: 0;
		border-top: none !important;
	}
	#instructionBarFeedback {
		.instructionBase {
			width: 100%;
			position: relative;
		}
	}
	.actionButtons {
		button {
			border: none;
			background: transparent;
			outline: none;
			img {
				max-width: 100%;
			}
		}
	}
	.elementBlock {
		width: 94%;
		position: absolute;
		top: 20%;
	}
	.navigate {
		width: 96%;
		bottom: 3%;
	}
}
.navigate {
	position: absolute;
	bottom: 2%;
	width: 92%;
	img {
		margin-left: 1.2%;
		cursor: pointer;
		max-width: 5.5%;
	}
}
.optionAnimate {
	transform: scale(1.1);
	animation: scaleOption 0.2s linear;
}
.removeOptAnimation {
	transform: scale(1.0);
	animation: unScaleOption 0.2s linear;
}
.disableBtn {
	pointer-events: none;
	opacity: 0.5;
}
.videoMainContainer {
	width: 100%;
	.videoBg {
		opacity: 0;
	}
}
.videoWrapper {
	width: 99.9%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}
.controlCursor {
	cursor: default;
}
.d-show {
	display: block !important;
}
.d-none {
	display: none !important;
}
