<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EvaTemplate-4</title>
  <!-- <base href="/"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../../styles.css">
  <link rel="stylesheet" type="text/css" href="../css/EvaTemplate4.component.css">
  <link rel="stylesheet" type="text/css" href="../css/controls.css">
</head>
<body>
    <div class="container-fluid eva" id="container">
        <div class="headerBar"><img class="img-fluid" src="../../../assets/images/evaGlobal/headerBar.svg" /></div>
        <div id="bgImage"><img class="img-fluid" src="../../../assets/images/evaGlobal/bg.jpg" /></div>
        <div id="instructionBar">
            <div class="instructionBase">
                <img class="img-fluid" src="../../../assets/images/evaGlobal/instructionBase.svg">
                <!-- <img class="img-fluid instructionText" src="../../../assets/images/evaGlobal/instructionText.svg"> -->
                <span class="instructionText">यह निर्देशिका पट्टी है क्र्प्या निर्देशों को यहाँ दर्शाएं यह निर्देशिका पट्टी है क्र्प्या निर्देशों को यहाँ दर्शाएं यह निर्देशिका पट्टी है क्र्प्या निर्देशों को यहाँ दर्शाएं</span>
            </div>
        </div>
        <div id="parentBlock">
            <div class="queryBlock">
                <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/queryBase.png">
                <img class="img-fluid refImage" src="../../../assets/images/EvaTemplate4Assets/q1/refImage.png">
                <div class="positions">
                    <div class="steps">
                        <!-- <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/traveller.png">                             -->
                        <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/markCrossed.png">                            
                    </div>
                    <div class="steps">
                        <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/traveller.png">                            
                        <!-- <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/markPending.png">                             -->
                    </div>
                    <div class="steps">
                        <!-- <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/traveller.png">                             -->
                        <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/markPending.png">                            
                    </div>
                    <div class="steps">
                        <!-- <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/traveller.png">                             -->
                        <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/markPending.png">                            
                    </div>
                    <div class="steps">
                        <!-- <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/traveller.png">                             -->
                        <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/markPending.png">                            
                    </div>
                    <div class="steps">
                        <!-- <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/traveller.png">                             -->
                        <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/markPending.png">                            
                    </div>
                    <div class="steps">
                        <!-- <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/traveller.png">                             -->
                        <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/markPending.png">                            
                    </div>
                </div>
            </div>
            <div id="optionsBlock">
                <div class="options">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/optionBase.png">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder1.png">
                </div>            
                <div class="options">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/optionBase.png">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder2.png">
                </div>            
                <div class="options">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/optionBase.png">
                </div>            
                <div class="options">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/optionBase.png">
                </div>            
                <div class="options">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/optionBase.png">
                </div>            
                <div class="options">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/optionBase.png">
                </div>            
                <div class="speakerBlock">
                    <div class="speakerBtn">
                        <img class="img-fluid" src="../../../assets/images/evaGlobal/speakerBtnSelected.svg">
                        <div class="waveAnimation">
                            <img class="img-fluid" src="../../../assets/images/evaGlobal/speakerWave1.svg">
                            <img class="img-fluid" src="../../../assets/images/evaGlobal/speakerWave2.svg">
                            <img class="img-fluid" src="../../../assets/images/evaGlobal/speakerWave3.svg">
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div id="refQuesBlock">
            <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/refQuesBase.png">
            <div class="blocks">
                <div>
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/quesBase.png">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder1.png">
                </div>
                <div>
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/quesBase.png">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder2.png">
                </div>
                <div class="blinkOn">
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/quesBase.png">
                </div>
                <div>
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/quesBase.png">
                </div>
                <div>
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/quesBase.png">
                </div>
                <div>
                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/quesBase.png">
                </div>
            </div>
        </div>
        <div id="footerNavBlock">
            <div class="navBase">
                <img class="img-fluid" src="../../../assets/images/evaGlobal/footerBg.svg">
                <img class="img-fluid prevBtn" src="../../../assets/images/evaGlobal/prevBtn.svg">
                <img class="img-fluid ansBtn" src="../../../assets/images/evaGlobal/ansBtnDisabled.svg">
                <div class="navQuesBlock">
                    <div>
                        <img class="img-fluid" src="../../../assets/images/evaGlobal/quesBulletVisited.png">
                    </div>
                    <div>
                        <img class="img-fluid" src="../../../assets/images/evaGlobal/quesBulletActive.png">
                    </div>
                    <div>
                        <img class="img-fluid" src="../../../assets/images/evaGlobal/quesBullet.png">
                    </div>
                    <div>
                        <img class="img-fluid" src="../../../assets/images/evaGlobal/quesBullet.png">
                    </div>
                    <div>
                        <img class="img-fluid" src="../../../assets/images/evaGlobal/quesBulletDisabled.png">
                    </div>
                </div>
                <img class="img-fluid nextBtn blink" src="../../../assets/images/evaGlobal/nextBtnBlink.svg">
                <img class="img-fluid nextBtn" src="../../../assets/images/evaGlobal/nextBtn.svg">
                <img class="img-fluid submitBtn" src="../../../assets/images/evaGlobal/submitBtnDisabled.svg">
            </div>
        </div>
        <div class="modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body d-flex align-items-center">
                        <img class="img-fluid" src="../../../assets/images/evaGlobal/popupBase.svg">
                        <div id="refQuesBlock">
                            <div class="blocks">
                                <div>
                                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder1.png">
                                </div>
                                <div>
                                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder2.png">
                                </div>
                                <div>
                                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder3.png">
                                </div>
                                <div>
                                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder4.png">
                                </div>
                                <div>
                                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder5.png">
                                </div>
                                <div>
                                    <img class="img-fluid" src="../../../assets/images/EvaTemplate4Assets/q1/optionOrder6.png">
                                </div>
                            </div>
                        </div>                
                        <div class="rightWrongAns">
                            <img class="img-fluid" src="../../../assets/images/evaGlobal/rightAnsIcon.svg">
                        </div>
                        <img class="img-fluid popupCloseBtn" src="../../../assets/images/evaGlobal/popupCloseBtn.svg">
                    </div>
                </div>
            </div>
        </div>
        <controls class="bottomPlace">		
            <div class="fadeInAnimation" id="controlsContainer">
                <div class="col-sm-1" id="playPauseContainer" style="margin: 0; position: relative; display: grid; align-items: center; justify-items: center; text-align: center; width:5.33%; padding:0 3px;">
                </div>
                <div class="col-sm-8" id="sliderContainer" style="margin:0; display: grid; align-items: center; justify-items: center; text-align:center; width:66.66%; padding:0 3px;">
                </div>
                <div class="col-sm-1" id="timeContainer" style="margin:0; display: grid; align-items: center; justify-items: center; text-align:center; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif; font-size:13px; color:#fff; font-size: 1vw; padding:0 3px;">
                </div>

                <div class="col-sm-1" id="autoPlayOnOffContainer" style="margin:0; display: initial; align-items: center; justify-items: center; text-align:center; width:11.33%; padding:2px 3px;">
                    <label for="onoff" style="color:#ff9900; position:relative; top:2px; font-size: .9em;">Autoplay On</label>
                    <input id="onoff" style="position:relative; margin:0% 0 0 7%; top:4px;" type="checkbox" value="on">
                </div>
                <div class="col-sm-1" id="volumeContainer" style="margin:0 0 0 .4rem; display: grid; align-items: center; text-align:center; width:auto; position:relative; padding:0 3px;">
                    <img style="max-width: 100%;" src="assets/images/volume.svg">
                    <div class="" id="MuteVarTemp" style="margin: 0px; display: initial; align-items: center; text-align: center; position: absolute; top: -145%; width: auto; left: 0%; visibility: hidden;" ng-reflect-ng-style="[object Object]">
                        <input style="position:relative; margin:0 0 0 7%; bottom:-7px;" type="checkbox">
                        <label style="color:#ff9900; position:relative; top:0; font-size: .9em; margin-bottom:0;">Mute</label>
                    </div>
                    <input class="volumeslider" id="volume-bar" max="1" min="0" step="0.1" style="-webkit-appearance: none; margin: 0px; transform: rotate(-90deg); position: absolute; top: -260%; left: -27%; height: 5px; outline: none; width: 6rem !important; background-color: rgb(192, 192, 192) !important; visibility: hidden;" type="range" ng-reflect-ng-style="[object Object]">
                </div>
            </div>
        </controls>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>