<div class="container-fluid temp14" id="container">
	<div id="bgImage"><img class="img-fluid" [src]="commonAssets?.background?.location=='content' ? containgFolderPath + '/' + commonAssets?.background?.url : commonAssets?.background?.url"
			(load)="checkImgLoaded();" /></div>
	<div class="d-flex flex-row justify-content-around instructionBar" id="instructionBar">
		<div class="instructionBase" #instructionBar>
			<img class="img-fluid" [src]="commonAssets?.instruction_img?.location=='content' ? containgFolderPath + '/' + commonAssets?.instruction_img?.url : commonAssets?.instruction_img?.url"
				(click)="playHoverInstruction()" (load)="checkImgLoaded();" />
			<audio #instruction [src]="commonAssets?.instruction_vo?.location=='content' ? containgFolderPath + '/' + commonAssets?.instruction_vo?.url : assetsPath + '/' + commonAssets?.instruction_vo?.url"></audio>
		</div>
	</div>
	<div class="bodyContent" #bodyContent>
		<div class="testContainer flex-row justify-content-center align-items-center hideTestScreen" #testContainer>
			<div class="correctBox">
				<img class="img-fluid" [src]="testAssts?.right_container?.location=='content' ? containgFolderPath + '/' + testAssts?.right_container?.url : testAssts?.right_container?.url"
				/>
				<div class="optionsList" #selectedRightListRef>
					<div *ngFor="let opt of rightListArr" [ngStyle]="{'visibility':opt!=''? 'visible':'hidden'}">
						<img class="img-fluid" [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url" />
						<span *ngIf="opt!=''" [ngClass] = "(quesObj.lang == 'hindi')?'inputHindiDiv':'nonHindiInput'" >{{opt}}</span>
					</div>
				</div>
			</div>
			<div class="actionBox">
				<div class="actionBtn">
					<img class="img-fluid" [src]="testAssts?.right_tick?.location=='content' ? containgFolderPath + '/' + testAssts?.right_tick?.url : testAssts?.right_tick?.url"
						(click)="addToRightList()" (mousemove)="hoverRightTick()" (mouseleave)="houtRightTick()" [ngClass]="{'disablePointer':selectedOptionArr[0]==''}"
					/>
					<img class="img-fluid" [src]="testAssts?.wrong_tick?.location=='content' ? containgFolderPath + '/' + testAssts?.wrong_tick?.url : testAssts?.wrong_tick?.url"
						(click)="addToWrongList()" (mousemove)="hoverWrongTick()" (mouseleave)="houtWrongTick()" [ngClass]="{'disablePointer':selectedOptionArr[0]==''}"
					/>
				</div>
				<div class="selectedOption" #selectedOptionRef>
					<img class="img-fluid" [src]="testAssts?.selected_container?.location=='content' ? containgFolderPath + '/' + testAssts?.selected_container?.url : testAssts?.selected_container?.url"
					/>
					<!--<img class="img-fluid optionPicked" #optionPlaceRef [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url" />-->
					<!--<img style.visibilty="hidden" class="img-fluid" [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url" />-->
					<div #optionPlaceRef [ngClass]="{'animateWidth':selectedOptionArr.length>0}" class="optionPlace" *ngFor="let opt of selectedOptionArr"
						[ngStyle]="{'visibility':opt!=''? 'visible':'hidden'}">
						<img *ngIf="selectedOptionArr.length>0" class="img-fluid" [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url"
						/>
						<span [ngClass] = "(quesObj.lang == 'hindi')?'inputHindiDiv':'nonHindiInput'">{{opt}}</span>
					</div>
				</div>
				<audio #feedbackPopupAudio></audio>
			</div>
			<div class="incorrectBox">
				<img class="img-fluid" [src]="testAssts?.wrong_container?.location=='content' ? containgFolderPath + '/' + testAssts?.wrong_container?.url : testAssts?.wrong_container?.url"
				/>
				<div class="optionsList" #selectedWrongListRef>
					<div *ngFor="let opt of wrongListArr" [ngStyle]="{'visibility':opt!=''? 'visible':'hidden'}">
						<img class="img-fluid" [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url" />
						<span *ngIf="opt!=''" [ngClass] = "(quesObj.lang == 'hindi')?'inputHindiDiv':'nonHindiInput'">{{opt}}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="quesContainer d-flex flex-row justify-content-center align-items-center" #quesContainer>
			<div class="refQues">
				<!-- [ngStyle]="quesObj?.bgColor"-->
				<img *ngIf="!isPlayVideo" class="img-fluid fadeOut" [src]="quesObj?.quesImg?.location=='content' ? containgFolderPath + '/' + quesObj?.quesImg?.url : quesObj?.quesImg?.url">
				<!--<video *ngIf="isPlayVideo" #mainVideo id="mainVideo" width="100%" style="height: 100%;" poster="assets/images/videoPoster.svg">
					<source [src]="quesObj?.quesVideo?.location=='content' ? containgFolderPath + '/' + quesObj?.quesVideo?.urlOgv : assetsPath + '/' + quesObj?.quesVideo?.urlOgv"
						type="{{videoType}}">
				</video>-->
			</div>
			<div class="inputDiv" #inputDivRef><input type="text" (input)="onInputChange($event)" #inputRef="ngModel" [(ngModel)]="inputVal" value={{value}} id="inputKeyboard"
					placeholder={{inputFieldText}} [ngClass]="{'disablePointer':wordArr.length>=12 || isPlayVideo}" (click)="openKeyBoard();" (keypress)="keyPress()" /></div><!---->
			 <div #simpleKeyboardRef class="" *ngIf="!keyBoardVersion"></div>
			<!-- Number keyboard-->
			<div class="simple-keyboardImage" *ngIf="keyBoardVersion">
				<img class="img-fluid" src="../../assets/images/content17/HindiKeyboard.png" alt="">
				<div class="row1" (mousemove)="hoverRow1($event)" #row1>
					<div *ngFor="let opt of rowIndex1; let idx=index" class="{{opt.index}}" id="{{opt.value}}" (click) = "clickBtnMatra(opt.value, opt.index, $event)"></div>
				</div>
				<div class="row2" (mousemove)="hoverRow2($event)" #row2>
					<div *ngFor="let opt of rowIndex2; let idx=index" class="{{opt.index}}" id="{{opt.value}}" (click) = "clickBtn(opt.value, opt)"></div>
					<img *ngFor="let opt of rowIndex2; let idx=index" id = "{{opt.index}}" class="img-fluid vowels" [src]="rowIndex2[idx]?.location=='content' ? containgFolderPath + '/' + rowIndex2[idx]?.url : rowIndex2[idx]?.url"/>
				</div>
				<div class="row3" (mousemove)="hoverRow3($event)" #row3>
					<div *ngFor="let opt of rowIndex3; let idx=index" class="{{opt.index}}" id="{{opt.value}}" (click) = "clickBtn(opt.value, opt)"></div>
					<img *ngFor="let opt of rowIndex3; let idx=index" id = "{{opt.cons}}" class="img-fluid consonent" [src]="rowIndex3[idx]?.location=='content' ? containgFolderPath + '/' + rowIndex3[idx]?.url : rowIndex3[idx]?.url"/>

				</div>
				<div class="btmRow" (mousemove)="hoverbtmRow($event)" #btmRow>
					<div *ngFor="let opt of btmRowIndex; let idx=index" class="{{opt.index}}" id="{{opt.value}}" (click) = "clickBtn(opt.value, opt)"></div>
				</div>
				<div class="numPad" (mousemove)="hovernumPad($event)" #numPad>
					<div *ngFor="let opt of numPadIndex; let idx=index" class="{{opt.index}}" id="{{opt.value}}" (click) = "clickBtn(opt.value, opt)"></div>
				</div>
			</div>
			 <div class="simple-keyboard hg-theme-default hg-layout-default hideKeyboard" #mathKeyboardRef *ngIf="!keyBoardVersion">
				<div class="hg-row">
					<div class="hg-button hg-standardBtn" (click)="numberClick(1)"><span>1</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(2)"><span>2</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(3)"><span>3</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(4)"><span>4</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(5)"><span>5</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(6)"><span>6</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(7)"><span>7</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(8)"><span>8</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(9)"><span>9</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick(0)"><span>0</span></div>
				</div>
				<div class="hg-row">
					<div class="hg-button hg-standardBtn" (click)="operatorClick('+')"><span>+</span></div>
					<div class="hg-button hg-standardBtn" (click)="operatorClick('−')"><span>−</span></div>
					<div class="hg-button hg-standardBtn" (click)="operatorClick('×')"><span>×</span></div>
					<div class="hg-button hg-standardBtn" (click)="operatorClick('÷')"><span>÷</span></div>
					<div class="hg-button hg-standardBtn" (click)="numberClick('⋅')"><span>⋅</span></div>
					<div class="hg-button hg-standardBtn" (click)="operatorClick('%')"><span>%</span></div>
					<div class="hg-button hg-standardBtn" (click)="operatorClick('=')"><span>=</span></div>
				</div>
				<div class="hg-row">
					<div class="hg-button hg-standardBtn" (click)="deleteElement()"><span>backspace</span></div>
				</div>
			</div>
			<!-- end here-->
			<div class="addBtn" #addBtnRef><img class="img-fluid" [src]="addBtn?.add_btn?.location=='content' ? containgFolderPath + '/' + addBtn?.add_btn?.url : addBtn?.add_btn?.url"
					(load)="checkImgLoaded();" (click)="addWord();" [ngClass]="{'disablePointer':inputVal==''}" (mousemove)="addBtnHover()"
					(mouseleave)="addBtnLeave()" /></div>
		</div>
		<div class="row mx-0 d-flex justify-content-around" id="optionsBlock"  #optionsBlock>
			<div class="refBase">
				<img class="img-fluid" [src]="refBase?.location=='content' ? containgFolderPath + '/' + refBase?.url : refBase?.url" (load)="checkImgLoaded();"
				/>
				<div class="wordBlock disableIt" #wordBlockRef>
					<div class="wordItem" [ngClass]="(wordObj.word!='')?'submitOpt':'placeHolderOpt'" *ngFor="let wordObj of wordArr; let idx = index;"
						(click)="moveToBox(idx,wordObj.word);">
						<img class="img-fluid" [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url" />
						<span id = "boxWord" [ngClass] = "(quesObj.lang == 'hindi')?'inputHindiDiv':'nonHindiInput'">{{wordObj.word}}</span>
					</div>
				</div>
			</div>
		</div>
		<audio #quesVORef></audio>
	</div>
	<!-- The onSubmit Modal -->
	<div class="modal" id="confirmModal" #submitModalRef>
		<div class="modal-dialog">
			<div class="modal-content" #modalRef>
				<div class="modal-header" [ngStyle]="submitPopupAssets?.style_header">
					<img class="modal-title" [src]="submitPopupAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.headerTxt_img?.url : assetsPath + '/' + submitPopupAssets?.headerTxt_img?.url">
					<img class="close" [src]="submitPopupAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.close_btn?.url : assetsPath + '/' + submitPopupAssets?.close_btn?.url"
						(click)="sendFeedback(submitModalRef,'no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
				</div>

				<div class="modal-body" #moalBodyRefSuccess [ngStyle]="submitPopupAssets?.submit_popup?.style_body">
					<div class="msgImage"><img class="img-fluid h-100" [src]="submitPopupAssets?.submit_text?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.submit_text?.url : assetsPath + '/' + submitPopupAssets?.submit_text?.url"></div>
					<div class="actionButtons">
						<button type="button" (click)="sendFeedback(submitModalRef,'yes','submitAnswer');" (mousemove)="hoveronSubmitConfirm()" (mouseleave)="houtonSubmitConfirm()"><img class="img-fluid" [src]="submitPopupAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.confirm_btn?.url : assetsPath + '/' + submitPopupAssets?.confirm_btn?.url"></button>
						<button type="button" (click)="sendFeedback(submitModalRef,'no');" (mousemove)="hoveronSubmitDecline()" (mouseleave)="houtonSubmitDecline()"><img class="img-fluid" [src]="submitPopupAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.decline_btn?.url : assetsPath + '/' + submitPopupAssets?.decline_btn?.url"></button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- The Modal -->
	<div class="modal" id="modalTemp17" #feedbackModal>
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<img class="modal-title fadeOut" [src]="feedbackObj?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.headerTxt_img?.url : assetsPath + '/' + feedbackObj?.headerTxt_img?.url">
					<img class="close fadeOut" [src]="feedbackObj?.close_btn?.location=='content' ? containgFolderPath + '/' + feedbackObj?.close_btn?.url : assetsPath + '/' + feedbackObj?.close_btn?.url"
						type="button" (click)="sendFeedback(feedbackModal,'no','feedbackDone');" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
				</div>

				<!-- Modal body -->
				<div class="modal-body d-flex justify-content-center">
					<div class="testContainer d-flex flex-row justify-content-center align-items-center" style="display:flex !important;">
						<div class="correctBox">
							<img class="img-fluid" [src]="feedbackObj?.corect_box?.location=='content' ? containgFolderPath + '/' + feedbackObj?.corect_box?.url : assetsPath + '/' + feedbackObj?.corect_box?.url">
							<div class="optionsList">
								<div *ngFor="let opt of rightListArr" [ngStyle]="{'visibility':opt!=''? 'visible':'hidden'}">
									<img class="img-fluid" [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url" />
									<span *ngIf="opt!=''" [ngClass] = "(quesObj.lang == 'hindi')?'inputHindiDiv':'nonHindiInput'">{{opt}}</span>
								</div>
							</div>
						</div>
						<div class="incorrectBox">
							<img class="img-fluid" [src]="feedbackObj?.incorrect_box?.location=='content' ? containgFolderPath + '/' + feedbackObj?.incorrect_box?.url : assetsPath + '/' + feedbackObj?.incorrect_box?.url">
							<div class="optionsList">
								<div *ngFor="let opt of wrongListArr" [ngStyle]="{'visibility':opt!=''? 'visible':'hidden'}">
									<img class="img-fluid" [src]="wordBox?.location=='content' ? containgFolderPath + '/' + wordBox?.url : wordBox?.url" />
									<span *ngIf="opt!=''" [ngClass] = "(quesObj.lang == 'hindi')?'inputHindiDiv':'nonHindiInput'">{{opt}}</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- The replayConfirmPopup Modal -->
	<div class="modal" id="confirmModal" #confirmReplayRef>
		<div class="modal-dialog">
			<div class="modal-content" #modalRef>
				<div class="modal-header modalCustomSuccessHeader" [ngStyle]="replayconfirmAssets?.style_header">
					<img class="modal-title" [src]="replayconfirmAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.headerTxt_img?.url : assetsPath + '/' + replayconfirmAssets?.headerTxt_img?.url">
					<img class="close" [src]="replayconfirmAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.close_btn?.url : assetsPath + '/' + replayconfirmAssets?.close_btn?.url"
						(click)="showReplay(confirmReplayRef,'no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
				</div>
				<div class="modal-body" #moalBodyRefSuccess [ngStyle]="replayconfirmAssets?.style_body">
					<div class="msgImage"><img class="img-fluid h-100" [src]="replayconfirmAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.confirm_text?.url : assetsPath + '/' + replayconfirmAssets?.confirm_text?.url"></div>
					<div class="actionButtons">
						<button type="button" (click)="showReplay(confirmReplayRef,'yes','replay');" (mousemove)="hoveronReplayConfirm()" (mouseleave)="houtonReplayConfirm()"><img class="img-fluid" [src]="replayconfirmAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.confirm_btn?.url : assetsPath + '/' + replayconfirmAssets?.confirm_btn?.url"></button>
						<button type="button" (click)="showReplay(confirmReplayRef,'no');" (mousemove)="hoveronReplayDecline()" (mouseleave)="houtonReplayDecline()"><img class="img-fluid" [src]="replayconfirmAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.decline_btn?.url : assetsPath + '/' + replayconfirmAssets?.decline_btn?.url"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="videoMainContainer" *ngIf="isPlayVideo">
		<video #mainVideo id="mainVideo" width="100%" style="max-width: 100%; max-height: 100%;" (loadeddata)="checkVideoLoaded()" poster="assets/images/videoPoster.svg" autoplay="autoplay" (ended)="endedHandler()">
		  <source [src]="quesObj?.quesVideo?.location=='content' ? containgFolderPath + '/' + quesObj?.quesVideo?.urlOgv : assetsPath + '/' + quesObj?.quesVideo?.urlOgv" type="{{videoType}}">
		</video>
		 <div id="playPauseBtn"><img class="img-fluid" [src]="quesObj?.quesPlayPause?.location=='content' ? containgFolderPath + '/' + quesObj?.quesPlayPause?.url : assetsPath + '/' + quesObj?.quesPlayPause?.url" (click)="PlayPauseVideo()"/></div>
		<div id="SkipBtn"><img class="img-fluid" [src]="quesObj?.quesSkip?.location=='content' ? containgFolderPath + '/' + quesObj?.quesSkip?.urlOgv : assetsPath + '/' + quesObj?.quesSkip?.urlOgv" (click)="endedHandleronSkip()" (mousemove)="hoverSkip()" (mouseleave)="houtSkip()"/></div>
	  </div>
