<div class="container-fluid" id="container">
  <div id="bgImage"><img
      [src]="commonAssets?.background?.location=='content' ? containgFolderPath + '/' + commonAssets?.background?.url : assetsPath + '/' + commonAssets?.background?.url"
      (load)="checkImgLoaded();" /></div>
  <div class="videoClose" (click)= "endedHandleronSkip()">
    <div>
      <img [src]= "otherAssets?.video_stop?.location=='content' ? containgFolderPath + '/' + otherAssets?.video_stop?.url : assetsPath + '/' + otherAssets?.video_stop?.url"
      (mousemove)="hoverstopVideo()" (mouseleave)="houtstopVideo()"/>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center" id="consoleBlock">
    <div class="consoleBase disableDiv" #mainContainer>
      <img class="img-fluid"
        [src]="otherAssets?.console_bg?.location=='content' ? containgFolderPath + '/' + otherAssets?.console_bg?.url : assetsPath + '/' + otherAssets?.console_bg?.url"
        (load)="checkImgLoaded();" />
      <div class="rowTop" #teamUpRef>
        <div class="optionsBlock" *ngIf="teamUp">
          <div *ngFor="let opt of teamUp.options;let idx = index">
            <img class="img-fluid"
              [src]="opt?.opt_normal?.location=='content' ? containgFolderPath + '/' + opt?.opt_normal?.url : assetsPath + '/' + opt?.opt_normal?.url"
              (mousemove)="hoverOption(opt)" (mouseleave)="houtOption(opt)"
              (mouseenter)="playOptionHover(opt,idx,teamUpRef,'teamUp')" (click)="checkAnswer('teamup',opt,idx)">
          </div>
        </div>
        <div class="passBtn" *ngIf="teamUp">
          <img class="img-fluid" #teamUpPass
            [src]="otherAssets?.pass_btn?.location=='content' ? containgFolderPath + '/' + otherAssets?.pass_btn?.url : assetsPath + '/' + otherAssets?.pass_btn?.url"
            (click)="passQuestion('teamup',teamUpPass);" (mousemove)="hoverPass(teamUpPass)"
            (mouseleave)="houtPass(teamUpPass,'teamUp')">
        </div>
        <div class="teamDetails" *ngIf="teamUp">
          <img class="img-fluid teamNameBase"
            [src]="teamCommonAssets?.teamBg?.location=='content' ? containgFolderPath + '/' + teamCommonAssets?.teamBg?.url : assetsPath + '/' + teamCommonAssets?.teamBg?.url">
          <img class="img-fluid teamName"
            [src]="teamUp?.teamName?.location=='content' ? containgFolderPath + '/' + teamUp?.teamName?.url : assetsPath + '/' + teamUp?.teamName?.url">
          <!-- <img class="img-fluid gradeCircle" #teamUpGrade > -->
          <img class="img-fluid gradeCircle" *ngFor="let score of liveScoreObjCopy?.teamUpLiveScore"
            [src]="score?.live_no?.location=='content' ? containgFolderPath + '/' + score?.live_no?.url : assetsPath + '/' + score?.live_no?.url">

        </div>
      </div>
      <div class="rowMid">
        <div class="colLeft h-100 disa" #teamLeftRef>
          <div class="optionsBlock text-center" *ngIf="teamLeft">
            <div *ngFor="let opt of teamLeft.options;let idx = index">
              <img class="img-fluid"
                [src]="opt?.opt_normal?.location=='content' ? containgFolderPath + '/' + opt?.opt_normal?.url : assetsPath + '/' + opt?.opt_normal?.url"
                (mousemove)="hoverOption(opt)" (mouseleave)="houtOption(opt)"
                (mouseenter)="playOptionHover(opt,idx,teamLeftRef,'teamLeft')"
                (click)="checkAnswer('teamleft',opt,idx)">
            </div>
          </div>
          <div class="passBtn" *ngIf="teamLeft">
            <img class="img-fluid" #teamLeftPass
              [src]="otherAssets?.pass_btn?.location=='content' ? containgFolderPath + '/' + otherAssets?.pass_btn?.url : assetsPath + '/' + otherAssets?.pass_btn?.url"
              (click)="passQuestion('teamleft',teamLeftPass);" (mousemove)="hoverPass(teamLeftPass)"
              (mouseleave)="houtPass(teamLeftPass,'teamLeft')">
          </div>
          <div class="teamDetails" *ngIf="teamLeft">
            <img class="img-fluid teamNameBase"
              [src]="teamCommonAssets?.teamBg?.location=='content' ? containgFolderPath + '/' + teamCommonAssets?.teamBg?.url : assetsPath + '/' + teamCommonAssets?.teamBg.url">
            <img class="img-fluid teamName"
              [src]="teamLeft?.teamName?.location=='content' ? containgFolderPath + '/' + teamLeft?.teamName?.url : assetsPath + '/' + teamLeft?.teamName.url">
            <!-- <img class="img-fluid gradeCircle" #teamLeftGrade > -->
            <img class="img-fluid gradeCircle" *ngFor="let score of liveScoreObjCopy?.teamLeftLiveScore"
              [src]="score?.live_no?.location=='content' ? containgFolderPath + '/' + score?.live_no?.url : assetsPath + '/' + score?.live_no?.url">
          </div>
        </div>
        <div class="colMid h-100">
          <div class="durationTime">{{displayTimer}}</div>
          <div class="quesImg" *ngIf="!isPlayVideo">
            <img class="img-fluid"
              [src]="questionObj?.quesImg?.imgsrc?.location=='content' ? containgFolderPath + '/' + questionObj?.quesImg?.imgsrc?.url : assetsPath + '/' + questionObj?.quesImg?.imgsrc?.url">
            <audio #quesVORef
              [src]="questionObj?.quesImg?.quesAudio?.location=='content' ? containgFolderPath + '/' + questionObj?.quesImg?.quesAudio?.url: assetsPath + '/' + questionObj?.quesImg?.quesAudio?.url"
              (ended)="audioEnded()"></audio>
          </div>
          <video *ngIf="isPlayVideo" #mainVideo id="mainVideo" width="100%" style="max-width: 100%; max-height: 100%;"
            poster="assets/images/videoPoster.svg">
            <source
              [src]="questionObj?.quesVideo?.location=='content' ? containgFolderPath + '/' + questionObj?.quesVideo?.urlOgv : assetsPath + '/' + questionObj?.quesVideo?.urlOgv"
              type="{{videoType}}">
          </video>
        </div>
        <div class="colRight h-100" #teamRightRef>
          <div class="optionsBlock text-center" *ngIf="teamRight">
            <div *ngFor="let opt of teamRight.options;let idx = index">
              <img class="img-fluid"
                [src]="opt?.opt_normal?.location=='content' ? containgFolderPath + '/' + opt?.opt_normal?.url : assetsPath + '/' + opt?.opt_normal?.url"
                (mousemove)="hoverOption(opt)" (mouseleave)="houtOption(opt)"
                (mouseenter)="playOptionHover(opt,idx,teamRightRef,'teamRight')"
                (click)="checkAnswer('teamright',opt,idx)">
            </div>
          </div>
          <div class="passBtn" *ngIf="teamRight">
            <img class="img-fluid" #teamRightPass
              [src]="otherAssets?.pass_btn?.location=='content' ? containgFolderPath + '/' + otherAssets?.pass_btn?.url : assetsPath + '/' + otherAssets?.pass_btn?.url"
              (click)="passQuestion('teamright',teamRightPass);" (mousemove)="hoverPass(teamRightPass)"
              (mouseleave)="houtPass(teamRightPass,'teamRight')">
          </div>
          <div class="teamDetails" *ngIf="teamRight">
            <img class="img-fluid teamNameBase"
              [src]="teamCommonAssets?.teamBg?.location=='content' ? containgFolderPath + '/' + teamCommonAssets?.teamBg?.url : assetsPath + '/' + teamCommonAssets?.teamBg.url">
            <img class="img-fluid teamName"
              [src]="teamRight?.teamName?.location=='content' ? containgFolderPath + '/' + teamRight?.teamName?.url : assetsPath + '/' + teamRight?.teamName?.url">
            <!-- <img class="img-fluid gradeCircle" #teamRightGrade > -->
            <img class="img-fluid gradeCircle" *ngFor="let score of liveScoreObjCopy?.teamRightLiveScore"
              [src]="score?.live_no?.location=='content' ? containgFolderPath + '/' + score?.live_no?.url : assetsPath + '/' + score?.live_no?.url">
          </div>
        </div>
      </div>
      <div class="rowBtm" #teamDownRef>
        <div class="optionsBlock" *ngIf="teamDown">
          <div *ngFor="let opt of teamDown.options;let idx = index">
            <img class="img-fluid"
              [src]="opt?.opt_normal?.location=='content' ? containgFolderPath + '/' + opt?.opt_normal?.url : assetsPath + '/' + opt?.opt_normal?.url"
              (mousemove)="hoverOption(opt)" (mouseleave)="houtOption(opt)"
              (mouseenter)="playOptionHover(opt,idx,teamDownRef,'teamDown')" (click)="checkAnswer('teamdown',opt,idx)">
          </div>
        </div>
        <div class="passBtn" *ngIf="teamDown">
          <img class="img-fluid" #teamDownPass
            [src]="otherAssets?.pass_btn?.location=='content' ? containgFolderPath + '/' + otherAssets?.pass_btn?.url : assetsPath + '/' + otherAssets?.pass_btn?.url"
            (click)="passQuestion('teamdown',teamDownPass);" (mousemove)="hoverPass(teamDownPass)"
            (mouseleave)="houtPass(teamDownPass,'teamDown')">
        </div>
        <div class="teamDetails" *ngIf="teamDown">
          <img class="img-fluid teamNameBase"
            [src]="teamCommonAssets?.teamBg?.location=='content' ? containgFolderPath + '/' + teamCommonAssets?.teamBg?.url : assetsPath + '/' + teamCommonAssets?.teamBg.url">
          <img class="img-fluid teamName"
            [src]="teamDown?.teamName?.location=='content' ? containgFolderPath + '/' + teamDown?.teamName?.url : assetsPath + '/' + teamDown?.teamName.url">
          <img class="img-fluid gradeCircle" *ngFor="let score of liveScoreObjCopy?.teamDownLiveScore"
            [src]="score?.live_no?.location=='content' ? containgFolderPath + '/' + score?.live_no?.url : assetsPath + '/' + score?.live_no?.url">
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="confirmModal" #confirmModalRef>
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="confirmAssets?.style_header">
          <img class="modal-title"
            [src]="confirmAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + confirmAssets?.headerTxt_img?.url : assetsPath + '/' + confirmAssets?.headerTxt_img?.url">
          <img class="close"
            [src]="confirmAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.close_btn?.url : assetsPath + '/' + confirmAssets?.close_btn?.url"
            (click)="sendFeedback(confirmModalRef,'no');" (mousemove)="hoverCloseConfirm()"
            (mouseleave)="houtCloseConfirm()">
        </div>
        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="confirmAssets?.style_body">
          <div class="msgImage"><img class="img-fluid h-100"
              [src]="confirmAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + confirmAssets?.confirm_text?.url : assetsPath + '/' + confirmAssets?.confirm_text?.url">
          </div>
          <div class="actionButtons">
            <button type="button" (click)="sendFeedback(confirmModalRef,'yes','showAnswer');"
              (mousemove)="hoverConfirm()" (mouseleave)="houtConfirm()"><img class="img-fluid"
                [src]="confirmAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.confirm_btn?.url : assetsPath + '/' + confirmAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="sendFeedback(confirmModalRef,'no');" (mousemove)="hoverDecline()"
              (mouseleave)="houtDecline()"><img class="img-fluid"
                [src]="confirmAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.decline_btn?.url : assetsPath + '/' + confirmAssets?.decline_btn?.url"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="confirmModal" #confirmSubmitRef>
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="confirmAssets?.style_header">
          <img class="modal-title"
            [src]="confirmAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + confirmAssets?.headerTxt_img?.url : assetsPath + '/' + confirmAssets?.headerTxt_img?.url">
          <img class="close"
            [src]="confirmAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.close_btn?.url : assetsPath + '/' + confirmAssets?.close_btn?.url"
            (click)="sendFeedback(confirmSubmitRef,'no');" (mousemove)="hoverCloseConfirm()"
            (mouseleave)="houtCloseConfirm()">
        </div>
        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="confirmAssets?.style_body">
          <div class="msgImage"><img class="img-fluid h-100"
              [src]="confirmAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + confirmAssets?.confirm_text?.url : assetsPath + '/' + confirmAssets?.confirm_text?.url">
          </div>
          <div class="actionButtons">
            <button type="button" (click)="sendFeedback(confirmSubmitRef,'yes','submitAnswer');"
              (mousemove)="hoverConfirm()" (mouseleave)="houtConfirm()"><img class="img-fluid"
                [src]="confirmAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.confirm_btn?.url : assetsPath + '/' + confirmAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="sendFeedback(confirmSubmitRef,'no');" (mousemove)="hoverDecline()"
              (mouseleave)="houtDecline()"><img class="img-fluid"
                [src]="confirmAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.decline_btn?.url : assetsPath + '/' + confirmAssets?.decline_btn?.url"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="confirmModal" #confirmReplayRef>
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="confirmAssets?.style_header">
          <img class="modal-title"
            [src]="confirmAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + confirmAssets?.headerTxt_img?.url : assetsPath + '/' + confirmAssets?.headerTxt_img?.url">
          <img class="close"
            [src]="confirmAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.close_btn?.url : assetsPath + '/' + confirmAssets?.close_btn?.url"
            (click)="sendFeedback(confirmReplayRef,'no');" (mousemove)="hoverCloseConfirm()"
            (mouseleave)="houtCloseConfirm()">
        </div>
        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="confirmAssets?.style_body">
          <div class="msgImage"><img class="img-fluid h-100"
              [src]="confirmAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + confirmAssets?.confirm_text?.url : assetsPath + '/' + confirmAssets?.confirm_text?.url">
          </div>
          <div class="actionButtons">
            <button type="button" (click)="sendFeedback(confirmReplayRef,'yes','replay');" (mousemove)="hoverConfirm()"
              (mouseleave)="houtConfirm()"><img class="img-fluid"
                [src]="confirmAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.confirm_btn?.url : assetsPath + '/' + confirmAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="sendFeedback(confirmReplayRef,'no');" (mousemove)="hoverDecline()"
              (mouseleave)="houtDecline()"><img class="img-fluid"
                [src]="confirmAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + confirmAssets?.decline_btn?.url : assetsPath + '/' + confirmAssets?.decline_btn?.url"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="modalTemp8" #scoreBoardModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <img
          [src]="scoreCardAssets.close_btn?.location=='content' ? containgFolderPath + '/' + scoreCardAssets.close_btn?.url : assetsPath + '/' + scoreCardAssets.close_btn?.url"
          class="closeScoreBoard" type="button" (mousemove)="hoverCloseScoreBoard()"
          (mouseleave)="houtCloseScoreBoard()" (click)="closeScoreBoard()">

        <!-- Modal body -->
        <div class="modal-body" [ngStyle]="scoreCardAssets?.style_body">
          <div class="dataBlock">
            <div class="itemData">
              &nbsp;
            </div>
            <div class="itemData" *ngFor="let team of scoreCardAssets?.teams">
              <img class="img-fluid"
                [src]="team?.location=='content' ? containgFolderPath + '/' + team?.url : assetsPath + '/' + team?.url">
            </div>
          </div>
          <div class="dataBlock" *ngFor="let attempt of attemptSoFar;let idx = index">
            <div class="itemData" *ngIf="attempt">
              <img class="img-fluid"
                [src]="scoreCardAssets.ques_nos[idx]?.location=='content' ? containgFolderPath + '/' + scoreCardAssets.ques_nos[idx]?.url : assetsPath + '/' + scoreCardAssets.ques_nos[idx]?.url">
            </div>
            <div class="itemData" *ngIf="attempt && attempt.teamUp && attempt.teamUp.location">
              <img class="img-fluid"
                [src]="attempt?.teamUp?.location=='content' ? containgFolderPath + '/' + attempt?.teamUp?.url : assetsPath + '/' + attempt?.teamUp?.url">
            </div>
            <div class="itemData" *ngIf="attempt && attempt.teamDown && attempt.teamDown.location">
              <img class="img-fluid"
                [src]="attempt?.teamDown?.location=='content' ? containgFolderPath + '/' + attempt?.teamDown?.url : assetsPath + '/' + attempt?.teamDown?.url">
            </div>
            <div class="itemData" *ngIf="attempt && attempt.teamLeft && attempt.teamLeft.location">
              <img class="img-fluid"
                [src]="attempt?.teamLeft?.location=='content' ? containgFolderPath + '/' + attempt?.teamLeft?.url : assetsPath + '/' + attempt?.teamLeft?.url">
            </div>
            <div class="itemData" *ngIf="attempt && attempt.teamRight && attempt.teamRight.location">
              <img class="img-fluid"
                [src]="attempt?.teamRight?.location=='content' ? containgFolderPath + '/' + attempt?.teamRight?.url : assetsPath + '/' + attempt?.teamRight?.url">
            </div>
          </div>
          <div class="dataBlock">
            <div class="itemData">
              <img class="img-fluid"
                [src]="scoreCardAssets?.total_no?.location=='content' ? containgFolderPath + '/' + scoreCardAssets?.total_no?.url : assetsPath + '/' + scoreCardAssets?.total_no?.url">
            </div>
            <div class="itemData" *ngFor="let team of scoreCardAssets?.teams;let idx=index">
              <img class="img-fluid"
                [src]="scoreCardAssets.correct_imgs[teamScore[team.teamName]]?.location=='content' ? containgFolderPath + '/' + scoreCardAssets.correct_imgs[teamScore[team.teamName]]?.url : assetsPath + '/' + scoreCardAssets.correct_imgs[teamScore[team.teamName]]?.url">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Feedback Modal -->
  <div class="modal" id="modalfeedback" #feedbackModal>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <img class="close zidx"
          [src]="feedback?.close_btn?.location=='content' ? containgFolderPath + '/' + feedback?.close_btn?.url : assetsPath + '/' + feedback?.close_btn?.url"
          (click)="closeFeedbackModal()">
        <img class="img-fluid" [src]="feedbackAssts?.feedback_base">

        <!-- Modal body -->
        <div class="modal-body">
          <div class="d-flex flex-row justify-content-around instructionBar">
            <div class="instructionBase">
              <img class="img-fluid" [src]="feedbackAssts?.ques_feedback?.ques_img">
            </div>
          </div>
          <div class="teamNames">
            <div class="teamDetails" *ngFor="let quesFeedback of feedbackAssts?.ques_feedback?.correct_options">
              <div>
                <img class="img-fluid teamNameBase"
                  [src]="teamCommonAssets?.teamBg?.location=='content' ? containgFolderPath + '/' + teamCommonAssets?.teamBg?.url : assetsPath + '/' + teamCommonAssets?.teamBg?.url">
                <img class="img-fluid team" [src]="quesFeedback?.name">
              </div>
              <div class="rightAns">
                <img class="img-fluid" [src]="quesFeedback?.correct_opt">
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end navigate">
            <img class="img-fluid back" [ngClass]="{'disableBtn': currentFeedback==0}"
              [src]="feedback?.feedback_back_btn?.location=='content' ? containgFolderPath + '/' + feedback?.feedback_back_btn?.url : assetsPath + '/' + feedback?.feedback_back_btn?.url"
              (click)="prevFeedback()" (mousemove)="hoverFeedbackPre()" (mouseleave)="hleaveFeedbackPre()">
            <img class="img-fluid forward" [ngClass]="{'disableBtn': currentFeedback +1 == feedbackSoFor?.length}"
              [src]="feedback?.feedback_next_btn?.location=='content' ? containgFolderPath + '/' + feedback?.feedback_next_btn?.url : assetsPath + '/' + feedback?.feedback_next_btn?.url"
              (click)="nextFeedback()" (mousemove)="hoverFeedbackNxt()" (mouseleave)="hleaveFeedbackNxt()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="videoMainContainer" *ngIf="isPlayVideo">
        <video #mainVideo id="mainVideo" width="100%" style="max-width: 100%; max-height: 100%;" poster="assets/images/videoPoster.svg">
                <source [src]="questionObj?.quesVideo?.location=='content' ? containgFolderPath + '/' + questionObj?.quesVideo?.urlOgv : assetsPath + '/' + questionObj?.quesVideo?.urlOgv"
                type="{{videoType}}">
        </video>
</div>
-->