<div class="container-fluid temp14" id="container" *ngIf="!isPlayVideo && !showIntroScreen">
  <audio #narrator [src]="commonAssets?.narrator?.location=='content' ? containgFolderPath + '/' + commonAssets?.narrator?.url:quesInfo?.narrator?.url"></audio>
  <!--
      <div class="d-flex align-items-center justify-content-center hideit" id="correctAns">
      <img class="img-fluid" src="images/optImg0.svg">
      <img class="img-fluid" src="images/optBase.svg">
      <img class="img-fluid refTxt" src="images/optTxt0.svg">
  </div>
  <div class="d-flex align-items-center justify-content-center hideit" id="burst">
      <img class="img-fluid" src="images/burst.gif">
  </div>
  -->
  <div id="bgImage"><img class="img-fluid" [src]="commonAssets?.background?.location=='content' ? containgFolderPath + '/' + commonAssets?.background?.url : commonAssets?.background?.url" (load)="checkImgLoaded();" /></div>
  <div class="d-flex flex-row justify-content-around instructionBar" id="instructionBar">
    <div class="instructionBase">
      <img class="img-fluid" [src]="commonAssets?.instruction_bg?.location=='content' ? containgFolderPath + '/' + commonAssets?.instruction_bg?.url : commonAssets?.instruction_bg?.url" (click)="playHoverInstruction()" (load)="checkImgLoaded();" />
      <audio #instruction [src]="commonAssets?.instruction?.location=='content' ? containgFolderPath + '/' + commonAssets?.instruction?.url:quesInfo?.instruction?.url"></audio>
      <!--
       <img class="img-fluid instructionText" [src]="commonAssets?.instruction_img?.location=='content' ? containgFolderPath + '/' + commonAssets?.instruction_img?.url : commonAssets?.instruction_img?.url" (load)="checkImgLoaded();" />
      -->
    </div>
  </div>
  <div class="bodyContent">
    <div class="refQues" #refQues>
      <div id={{idx}} *ngFor="let refQues of refQuesObj;let idx = index">
        <img [src]="refQues?.imgsrc?.location=='content' ? containgFolderPath + '/' + refQues?.imgsrc?.url : assetsPath + '/' + refQues?.imgsrc?.url" (load)="checkImgLoaded();">
      </div>
    </div>
    <!-- Below class row has been removed and d-flex added due to issue in allignment  -->
    <div class="d-flex mx-0" id="optionsBlock" #optionsBlock>
      <div class="my-auto quesImage">
        <div id="{{idx}}" class="options" *ngFor="let opt of optionObj;let idx = index">
          <div *ngIf="quesFlag">
            <img class="img-fluid" [src]="opt?.imgsrc?.location=='content' ? containgFolderPath + '/' + opt?.imgsrc?.url : assetsPath + '/' + opt?.imgsrc?.url" (load)="checkImgLoaded();" (mouseenter)="playHoverOption(opt,idx)" (mousemove)="optionHover(opt,idx)" (mouseleave)="optionHoverOut(opt,idx)">
            <audio #optionAudio></audio>
          </div>
          <div id="option" *ngIf="!quesFlag">
            <img class="img-fluid" [src]="opt?.imgsrc?.location=='content' ? containgFolderPath + '/' + opt?.imgsrc?.url : assetsPath + '/' + opt?.imgsrc?.url" (load)="checkImgLoaded();">
          </div>
          <div id="dropBox">
            <img class="img-fluid" [src]="opt?.dropBoxImg?.location=='content' ? containgFolderPath + '/' + opt?.dropBoxImg?.url : assetsPath + '/' + opt?.dropBoxImg?.url" (mouseenter)="onHoverOption(opt,idx)" (mouseleave)="onHoverOptionOut(opt,idx)" (click)="onClickoption(idx,opt.placed)" (load)="checkImgLoaded();">
            <img class="img-fluid optItem" [src]="opt?.samplerefquesImg?.location=='content' ? containgFolderPath + '/' + opt?.samplerefquesImg?.url : assetsPath + '/' + opt?.samplerefquesImg?.url" #sampleImg (click)="onClickquesFromOpt(idx,opt)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Confirmation Modal -->
  <div class="modal" id="confirmModal" #confirmModalRef>
    <div class="modal-dialog">
      <!-- <img class="popupBg img-fluid" [src]="confirmPopupAssets?.bg_img?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.bg_img?.url : assetsPath + '/' + confirmPopupAssets?.bg_img?.url"> -->
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="feedbackObj?.style_header">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <img class="modal-title" [src]="feedbackObj?.confirm_popup?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.confirm_popup?.headerTxt_img?.url : assetsPath + '/' + feedbackObj?.confirm_popup?.headerTxt_img?.url">
          <!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
          <img class="close" [src]="confirmPopupAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.close_btn?.url : assetsPath + '/' + confirmPopupAssets?.close_btn?.url" (click)="sendFeedback('confirm-modal-id','no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>

        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="feedbackObj?.confirm_popup?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="confirmPopupAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.confirm_text?.url : assetsPath + '/' + confirmPopupAssets?.confirm_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="sendFeedback('confirm-modal-id','yes');" (mousemove)="hoverConfirm()" (mouseleave)="houtConfirm()"><img class="img-fluid" [src]="confirmPopupAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.confirm_btn?.url : assetsPath + '/' + confirmPopupAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="sendFeedback('confirm-modal-id','no');" (mousemove)="hoverDecline()" (mouseleave)="houtDecline()"><img class="img-fluid" [src]="confirmPopupAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.decline_btn?.url : assetsPath + '/' + confirmPopupAssets?.decline_btn?.url"></button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- The onSubmit Modal -->
  <div class="modal" id="confirmModal" #submitModalRef>
    <div class="modal-dialog">
      <!-- <img class="popupBg img-fluid" [src]="confirmPopupAssets?.bg_img?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.bg_img?.url : assetsPath + '/' + confirmPopupAssets?.bg_img?.url"> -->
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="submitPopupAssets?.style_header">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <img class="modal-title" [src]="feedbackObj?.replay_confirm?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.replay_confirm?.headerTxt_img?.url : assetsPath + '/' + feedbackObj?.replay_confirm?.headerTxt_img?.url">
          <!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
          <img class="close" [src]="submitPopupAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.close_btn?.url : assetsPath + '/' + submitPopupAssets?.close_btn?.url" (click)="dontshowFeedback('submit-modal-id','no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>

        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="feedbackObj?.submit_popup?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="submitPopupAssets?.submit_text?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.submit_text?.url : assetsPath + '/' + submitPopupAssets?.submit_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="showFeedback('submit-modal-id','yes');" (mousemove)="hoveronSubmitConfirm()" (mouseleave)="houtonSubmitConfirm()"><img class="img-fluid" [src]="submitPopupAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.confirm_btn?.url : assetsPath + '/' + submitPopupAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="dontshowFeedback('submit-modal-id','no');" (mousemove)="hoveronSubmitDecline()" (mouseleave)="houtonSubmitDecline()"><img class="img-fluid" [src]="submitPopupAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + submitPopupAssets?.decline_btn?.url : assetsPath + '/' + submitPopupAssets?.decline_btn?.url"></button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- The infoPopup Modal -->
  <div class="modal" id="confirmModal" #infoModalRef>
    <div class="modal-dialog">
      <!-- <img class="popupBg img-fluid" [src]="confirmPopupAssets?.bg_img?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.bg_img?.url : assetsPath + '/' + confirmPopupAssets?.bg_img?.url"> -->
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="infoPopupAssets?.style_header">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <img class="modal-title" [src]="feedbackObj?.info_popup?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.info_popup?.headerTxt_img?.url : assetsPath + '/' + feedbackObj?.info_popup?.headerTxt_img?.url">
          <!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
          <img class="close" [src]="infoPopupAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.close_btn?.url : assetsPath + '/' + infoPopupAssets?.close_btn?.url" (click)="showFeedback('info-modal-id','no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>

        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="feedbackObj?.info_popup?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="infoPopupAssets?.info_text?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.info_text?.url : assetsPath + '/' + infoPopupAssets?.info_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="showFeedback('info-modal-id','no');" (mousemove)="hoverOK()" (mouseleave)="houtOK()"><img class="img-fluid" [src]="infoPopupAssets?.ok_btn?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.ok_btn?.url : assetsPath + '/' + infoPopupAssets?.ok_btn?.url"></button>
          </div>
        </div>
        <audio #feedbackInfoAudio></audio>
      </div>
    </div>
  </div>
  <!-- The replayConfirmPopup Modal -->
  <div class="modal" id="confirmModal" #confirmReplayRef>
    <div class="modal-dialog">
      <div class="modal-content" #modalRef>
        <div class="modal-header modalCustomSuccessHeader" [ngStyle]="replayconfirmAssets?.style_header">
          <img class="modal-title" [src]="replayconfirmAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.headerTxt_img?.url : assetsPath + '/' + replayconfirmAssets?.headerTxt_img?.url">
          <img class="close" [src]="replayconfirmAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.close_btn?.url : assetsPath + '/' + replayconfirmAssets?.close_btn?.url" (click)="showReplay(confirmReplayRef,'no');" (mousemove)="hoverCloseConfirm()" (mouseleave)="houtCloseConfirm()">
        </div>
        <div class="modal-body" #moalBodyRefSuccess [ngStyle]="replayconfirmAssets?.style_body">
          <div class="msgImage"><img class="img-fluid h-100" [src]="replayconfirmAssets?.confirm_text?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.confirm_text?.url : assetsPath + '/' + replayconfirmAssets?.confirm_text?.url"></div>
          <div class="actionButtons">
            <button type="button" (click)="showReplay(confirmReplayRef,'yes','replay');" (mousemove)="hoveronReplayConfirm()" (mouseleave)="houtonReplayConfirm()"><img class="img-fluid" [src]="replayconfirmAssets?.confirm_btn?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.confirm_btn?.url : assetsPath + '/' + replayconfirmAssets?.confirm_btn?.url"></button>
            <button type="button" (click)="showReplay(confirmReplayRef,'no');" (mousemove)="hoveronReplayDecline()" (mouseleave)="houtonReplayDecline()"><img class="img-fluid" [src]="replayconfirmAssets?.decline_btn?.location=='content' ? containgFolderPath + '/' + replayconfirmAssets?.decline_btn?.url : assetsPath + '/' + replayconfirmAssets?.decline_btn?.url"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="modalTemp5" #popupRef>
    <div class="modal-dialog modal-dialog-centered">
      <!-- <img class="popupBg img-fluid" [src]="feedbackObj?.popup_commmon_imgs?.bg_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.popup_commmon_imgs?.bg_img?.url : assetsPath + '/' + feedbackObj?.popup_commmon_imgs?.bg_img?.url"> -->
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header" [ngStyle]="styleHeaderPopup">
          <!-- <img class="modal-title" [src]="feedbackObj?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.headerTxt_img?.url : assetsPath + '/' + feedbackObj?.headerTxt_img?.url"> -->
          <img *ngIf="rightanspopUpheader_img" class="modal-title" [src]="feedbackObj?.rightAnswerheaderTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.rightAnswerheaderTxt_img?.url : assetsPath + '/' + feedbackObj?.rightAnswerheaderTxt_img?.url">
          <img *ngIf="wronganspopUpheader_img" class="modal-title" [src]="feedbackObj?.wrongAnswerheaderTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.wrongAnswerheaderTxt_img?.url : assetsPath + '/' + feedbackObj?.wrongAnswerheaderTxt_img?.url">
          <img *ngIf="showanspopUpheader_img" class="modal-title" [src]="feedbackObj?.showAnswerheaderTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.showAnswerheaderTxt_img?.url : assetsPath + '/' + feedbackObj?.showAnswerheaderTxt_img?.url">
          <img *ngIf="partialCorrectheaderTxt_img" class="modal-title" [src]="feedbackObj?.partialCorrectheaderTxt_img?.location=='content' ? containgFolderPath + '/' + feedbackObj?.partialCorrectheaderTxt_img?.url : assetsPath + '/' + feedbackObj?.partialCorrectheaderTxt_img?.url">
          <!-- <h4 class="modal-title">Modal Heading</h4> -->
          <!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
          <img class="close" [src]="feedbackObj?.popup_commmon_imgs?.close_btn?.location=='content' ? containgFolderPath + '/' + feedbackObj?.popup_commmon_imgs?.close_btn?.url : assetsPath + '/' + feedbackObj?.popup_commmon_imgs?.close_btn?.url" type="button" (click)="closeModal();" (mousemove)="hoverClosePopup()" (mouseleave)="houtClosePopup()">
          <!-- <button type="button" class="close" data-dismiss="modal"></button> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body d-flex justify-content-center" [ngStyle]="styleBodyPopup">
          <div class="row mx-0" id="optionsBlock" #popupBodyRef>
            <div class="my-auto quesImage">
              <div id="{{idx}}" class="options" *ngFor="let opt of optionObj;let idx = index">
                <div>
                  <img class="img-fluid" [src]="opt?.imgsrc?.location=='content' ? containgFolderPath + '/' + opt?.imgsrc?.url : assetsPath + '/' + opt?.imgsrc?.url" (load)="checkImgLoaded();">
                </div>
                <div>
                  <img class="img-fluid" [src]="opt?.dropBoxImg?.location=='content' ? containgFolderPath + '/' + opt?.dropBoxImg?.url : assetsPath + '/' + opt?.dropBoxImg?.url" (mouseenter)="onHoverOption(opt,idx)" (mouseleave)="onHoverOptionOut(opt,idx)" (click)="onClickoption(idx)" (load)="checkImgLoaded();">
                  <img class="img-fluid optItem" [src]="opt?.samplerefquesImg?.location=='content' ? containgFolderPath + '/' + opt?.samplerefquesImg?.url : assetsPath + '/' + opt?.samplerefquesImg?.url">
                  <audio #feedbackPopupAudio></audio>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="videoMainContainer" *ngIf="isPlayVideo">
  <video #mainVideo id="mainVideo" width="100%" style="max-width: 100%; max-height: 100%;" (loadeddata)="checkVideoLoaded()" poster="assets/images/videoPoster.svg" autoplay="autoplay" (ended)="endedHandler()">
    <source [src]="quesObj?.quesVideo?.location=='content' ? containgFolderPath + '/' + quesObj?.quesVideo?.urlOgv : assetsPath + '/' + quesObj?.quesVideo?.urlOgv" type="{{videoType}}">
  </video>
  <div id="playPauseBtn"><img class="img-fluid" [src]="quesObj?.quesPlayPause?.location=='content' ? containgFolderPath + '/' + quesObj?.quesPlayPause?.url : assetsPath + '/' + quesObj?.quesPlayPause?.url" (click)="PlayPauseVideo()"/></div>
  <div id="SkipBtn"><img class="img-fluid" [src]="quesObj?.quesSkip?.location=='content' ? containgFolderPath + '/' + quesObj?.quesSkip?.urlOgv : assetsPath + '/' + quesObj?.quesSkip?.urlOgv" (click)="endedHandleronSkip()" (mousemove)="hoverSkip()" (mouseleave)="houtSkip()"/></div>

</div>
