<div class="container-fluid temp10" #container id="container" *ngIf="!showIntroScreen">
	<audio #narrator
		[src]="common_assets?.narrator?.location=='content' ? containgFolderPath + '/' + common_assets?.narrator?.url:quesInfo?.narrator?.url"></audio>
	<div id="bgImage"><img
			[src]="common_assets?.background?.location=='content' ? assetspath + '/' +common_assets?.background?.url: assetsfolderlocation + '/'+ common_assets?.background?.url"
			(load)="checkImgLoaded();" /></div>

	<div #maincontent>
		<div class="d-flex flex-row justify-content-around instructionBar" id="instructionBar">
			<div class="instructionBase" [ngClass]="{'disable_div':isRecording}">
				<img class="img-fluid"
					[src]="common_assets?.instruction_bg?.location=='content' ? assetspath + '/' + common_assets?.instruction_bg?.url : common_assets?.instruction_bg?.url"
					(click)="playInstruction()" (load)="checkImgLoaded();" />
				<audio #instruction
					[src]="common_assets?.instruction?.location=='content' ? assetspath + '/' + common_assets?.instruction?.url:quesInfo?.instruction?.url"></audio>
			</div>
		</div>



		<div class="d-flex align-items-center justify-content-center" id="optionsBlock">
			<div id="quesImage">
				<img class="img-fluid" (load)="checkImgLoaded();"
					[src]="common_assets?.playerBase?.location=='content' ? assetspath + '/' +common_assets?.playerBase?.url: assetsfolderlocation + '/'+ common_assets?.playerBase?.url" />
				<img class="img-fluid quesTxt" (load)="checkImgLoaded();"
					[src]="question?.text?.location=='content' ?assetspath + '/' +question?.text.url: assetsfolderlocation + '/'+ question?.text.url">

				<div class="playerControls d-flex align-items-center justify-content-center">
					<img style="margin-left: 5%" *ngIf="removeBtn" [ngClass]="{'disable-ctrl': isRecord}" class="img-fluid"
						[src]="question?.record?.location=='content' ?assetspath + '/' +question?.record.url: assetsfolderlocation + '/'+ question?.record.url"
						#recordButton (click)="startRecording()" />
					<img *ngIf="removeBtn && showstop" [ngClass]="{'disable-ctrl': isStop}" class="img-fluid"
						[src]="question?.stop?.location=='content' ?assetspath + '/' +question?.stop.url: assetsfolderlocation + '/'+ question?.stop.url"
						#stopButton (click)="stopRecording()" >
					<img *ngIf="showPlay" [ngClass]="{'disable-ctrl': isPlay}" #playpause (click)="listen()" class="img-fluid"
						[src]="question?.playpause?.location=='content' ?assetspath + '/' +question?.playpause.url: assetsfolderlocation + '/'+ question?.playpause.url">
					<audio #audioT class="audioT" id="audioplay" controls controlsList="nodownload" (timeupdate)="isCalled()"></audio>
					<!--<input type="range" step="1" id="$seekbar" value="0">-->
					<span *ngIf="!showPlay && !removeBtn" id="tracktime">{{curTime}} / {{endTime}}</span>
				</div>
			</div>

		</div>
	</div>
	<audio id="H" #myAudiohelp #audioEl1
		[src]="question?.helpsound?.location=='content' ?assetspath + '/' +question?.helpsound.url: assetsfolderlocation + '/'+ question?.helpsound.url"></audio>
</div>

<div class="container-fluid" #container id="container" *ngIf="showIntroScreen">
	<div id="bgImage"><img
			[src]="quesInfo.titleBg?.location=='content' ?assetspath + '/' +quesInfo.titleBg.url: assetsfolderlocation + '/'+ quesInfo.titleBg.url"
			(load)="checkImgLoaded();" /></div>

	<div class="d-flex align-items-center justify-content-center" id="activity">
		<img class="img-fluid"
			[src]="quesInfo.kriyakalaap?.location=='content' ?assetspath + '/' +quesInfo.kriyakalaap.url: assetsfolderlocation + '/'+ quesInfo.kriyakalaap.url">
	</div>
	<div class="d-flex align-items-center justify-content-center" id="activityTitle">
		<div class="title_class"><img class="img-fluid"
				[src]="quesInfo.titleText?.location=='content' ?assetspath + '/' +quesInfo.titleText.url: assetsfolderlocation + '/'+ quesInfo.titleText.url">
		</div>
	</div>
	<div class="d-flex justify-content-end hideit" #titleNavBtn id="zaariRakheinId">
		<div class="zaariRakheinBtn"><img class="img-fluid" on-mouseenter="onHoverZaariRakhein()"
				(mouseleave)="onHoverOutZaariRakhein()"
				[src]="quesInfo.zaariRakhein?.location=='content' ?assetspath + '/' +quesInfo.zaariRakhein.url: assetsfolderlocation + '/'+ quesInfo.zaariRakhein.url"
				(click)="closeTitleScreen()"></div>
	</div>

	<audio #titleAudio
		[src]="quesInfo.Instruction?.location=='content' ?assetspath + '/' +quesInfo.Instruction.url: assetsfolderlocation + '/'+ quesInfo.Instruction.url"
		autoplay="autoplay"></audio>
</div>

<!-- The infoPopup Modal -->
<ng-template [ngIf]="infoModal">
	<div class="modal" id="infoModalId" #infoModalRef>
		<div class="modal-dialog">
			<!-- <img class="popupBg img-fluid" [src]="confirmPopupAssets?.bg_img?.location=='content' ? containgFolderPath + '/' + confirmPopupAssets?.bg_img?.url : assetsPath + '/' + confirmPopupAssets?.bg_img?.url"> -->
			<div class="modal-content" #modalRef>
				<div class="modal-header modalCustomSuccessHeader" [ngStyle]="infoPopupAssets?.style_header">
					<!-- <h4 class="modal-title">Modal Heading</h4> -->
					<img class="modal-title" [src]="infoPopupAssets?.headerTxt_img?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.headerTxt_img?.url : assetsPath + '/' + infoPopupAssets?.headerTxt_img?.url">
					<!--<img class="modal-title" src="../assets/images/headerImages/PopupHeaderTitle.png">-->
					<img class="close" [src]="infoPopupAssets?.close_btn?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.close_btn?.url : assetsPath + '/' + infoPopupAssets?.close_btn?.url"
						(click)="sendFeedback(infoModalRef,'no','partialFeedback');" (mousemove)="hoverCloseOk()" (mouseleave)="houtCloseOk()">
				</div>

				<div class="modal-body" #moalBodyRefSuccess [ngStyle]="infoPopupAssets?.style_body">
					<div class="msgImage">
						<img class="img-fluid h-100 setImage" [src]="infoPopupAssets?.info_text?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.info_text?.url : assetsPath + '/' + infoPopupAssets?.info_text?.url">
					</div>
					<div class="actionButtons">
						<button type="button" (click)="sendFeedback(infoModalRef,'no','partialFeedback');" (mousemove)="hoverOK()" (mouseleave)="houtOK()">
							<img class="img-fluid" [src]="infoPopupAssets?.ok_btn?.location=='content' ? containgFolderPath + '/' + infoPopupAssets?.ok_btn?.url : assetsPath + '/' + infoPopupAssets?.ok_btn?.url">
						</button>
					</div>
				</div>
				<audio #feedbackInfoAudio [src]=" assetspath + '/' + common_assets?.record_answer?.url"></audio>
			</div>
		</div>
	</div>
</ng-template>