<div  *ngIf='!EVA'>
<div class="quesBlock" #quesBlockChild [ngClass]="{'disanleTabs': disableTabs==false}">
  <div class="quesTab" *ngFor="let quesTab of quesTabs; let idx = index" (click)="selectQuestion(idx)" [ngClass]="{'disablePointer': idx==questionNo}">
    <img class="img-fluid tabLeft" [src]="quesTab?.ques_tab?.tabL?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabL?.url : assetsPath + '/' + quesTab?.ques_tab?.tabL?.url" [style.display]="idx==questionNo ? 'none':'block'">
    <img class="img-fluid tabLeft" [src]="quesTab?.ques_tab?.tabLAct?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabLAct?.url : assetsPath + '/' + quesTab?.ques_tab?.tabLAct?.url" [style.display]="idx==questionNo ? 'block':'none'">
    <img class="img-fluid tabBody" [src]="quesTab?.ques_tab?.tabbody?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabbody?.url : assetsPath + '/' + quesTab?.ques_tab?.tabbody?.url" [style.display]="idx==questionNo ? 'none':'block'">
    <img class="img-fluid tabBody" [src]="quesTab?.ques_tab?.tabbodyAct?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabbodyAct?.url : assetsPath + '/' + quesTab?.ques_tab?.tabbodyAct?.url" [style.display]="idx==questionNo ? 'block':'none'">
    <img class="img-fluid tabRight" [src]="quesTab?.ques_tab?.tabR?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabR?.url : assetsPath + '/' + quesTab?.ques_tab?.tabR?.url" [style.display]="idx==questionNo ? 'none':'block'">
    <img class="img-fluid tabRight" [src]="quesTab?.ques_tab?.tabRAct?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabRAct?.url : assetsPath + '/' + quesTab?.ques_tab?.tabRAct?.url" [style.display]="idx==questionNo ? 'block':'none'">
    <img class="img-fluid quesnum" [src]="quesTab?.ques_tab?.tabIdx?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabIdx?.url : assetsPath + '/' + quesTab?.ques_tab?.tabIdx?.url" >
  </div>
</div>
<div class="d-flex align-items-center justify-content-between" id="navBlock" [ngClass]="{'disableBtn':enableNavBtns}">
    <img class="img-fluid ansBtn mr-auto" [src]="quesCtrl?.uttar_dikhayein?.location=='content' ? containgFolderPath + '/' + quesCtrl?.uttar_dikhayein?.url : assetsPath + '/' + quesCtrl?.uttar_dikhayein?.url" (click)="confirmAction('uttarDikhayein')" (mousemove)="hoverUttarDikhayein()" (mouseleave)="houtUttarDikhayein()" [ngClass]="{'disableBtn':disableUttarDikhayeinBtn,'invisible': hideShowAnswer==false}">

    <img class="img-fluid submitBtn" *ngIf ="quesCtrl?.submit_btn && quesCtrl?.submit_btn?.url" [src]="quesCtrl?.submit_btn?.location=='content' ? containgFolderPath + '/' + quesCtrl?.submit_btn?.url : assetsPath + '/' + quesCtrl?.submit_btn?.url" (click)="confirmAction('submitAnswer')" (mousemove)="hoverSubmitBtn()" (mouseleave)="houtSubmitBtn()" [ngClass]="{'disableBtn':!enableSubmitBtn}">
    <img class="img-fluid replayBtn" *ngIf ="quesCtrl?.replay_btn && quesCtrl?.replay_btn?.url" [src]="quesCtrl?.replay_btn?.location=='content' ? containgFolderPath + '/' + quesCtrl?.replay_btn?.url : assetsPath + '/' + quesCtrl?.replay_btn?.url" (click)="confirmAction('replayVideo')" (mousemove)="hoverReplayBtn()" (mouseleave)="houtReplayBtn()" [ngClass]="{'disableBtn':!enableReplayBtn, 'disablePointer':isVideoPlaying}">
    <img class="img-fluid prevBtn" [src]="quesCtrl?.peechey_jayein?.location=='content' ? containgFolderPath + '/' + quesCtrl?.peechey_jayein?.url : assetsPath + '/' + quesCtrl?.peechey_jayein?.url" (click)="previous()" (mousemove)="hoverPreBtn()" (mouseleave) = "hleavePreBtn()" [ngClass]="{'disableBtn': isFirstQuestion || disablePrev==false}">
    <img class="img-fluid nextBtn" [src]="quesCtrl?.aagey_badhein?.location=='content' ? containgFolderPath + '/' + quesCtrl?.aagey_badhein?.url : assetsPath + '/' + quesCtrl?.aagey_badhein?.url" (click)="next()" (mousemove)="hoverNextBtn()" (mouseleave) = "hleaveNextBtn()" [ngClass]="{'disableBtn': disableNext==false}">
</div>

</div>
<!--This section contains common elements for EVA  -->
<div  *ngIf='EVA'>
  <div id="footerNavBlock" #footerNavBlock>
    <div class="navBase">
        <img class="img-fluid" [src]="quesCtrl?.footer?.location=='content' ? containgFolderPath + '/' + quesCtrl?.footer?.url : assetsPath + '/' + quesCtrl?.footer?.url">    
        <img class="img-fluid prevBtn" [src]="quesCtrl?.peechey_jayein?.location=='content' ? containgFolderPath + '/' + quesCtrl?.peechey_jayein?.url : assetsPath + '/' + quesCtrl?.peechey_jayein?.url" (click)="previous()"  [ngClass]="{'disableBtn': isFirstQuestion || disablePrev==false}"  (mousemove)="hoverPreBtn()" (mouseleave) = "hleavePreBtn()" title="पीछे जाएँ">
        <img class="img-fluid ansBtn" [src]="quesCtrl?.uttar_dikhayein?.location=='content' ? containgFolderPath + '/' + quesCtrl?.uttar_dikhayein?.url : assetsPath + '/' + quesCtrl?.uttar_dikhayein?.url"   title="{{UttarDikhayeinTooltip}}" 
        [ngStyle]="!EnableShowAnswer && {'cursor': 'default'}"  (click)="confirmAction('uttarDikhayein')" (mousemove)="hoverUttarDikhayeinEVA()" (mouseleave)="houtUttarDikhayeinEVA()">
        <div class="navQuesBlock" #quesBlockChild>
        <div *ngFor="let quesTab of quesTabs; let idx = index">
          <img class="img-fluid" [src]="quesTab?.ques_tab?.tabcircle?.location=='content' ? containgFolderPath + '/' + quesTab?.ques_tab?.tabcircle?.url : assetsPath + '/' + quesTab?.ques_tab?.tabcircle?.url" >
        </div>
        </div>
        <img *ngIf="quesCtrl?.blinkingStatus" class="img-fluid nextBtn blink" [src]="quesCtrl?.aagey_badhein_blink?.location=='content' ? containgFolderPath + '/' + quesCtrl?.aagey_badhein_blink?.url : assetsPath + '/' + quesCtrl?.aagey_badhein_blink?.url" (click)="next()" title="आगे बढ़ें"  >
        <img #nextBtn class="img-fluid nextBtn" [src]="quesCtrl?.aagey_badhein?.location=='content' ? containgFolderPath + '/' + quesCtrl?.aagey_badhein?.url : assetsPath + '/' + quesCtrl?.aagey_badhein?.url" [ngClass]="{'disableBtn': isLastQues}" (click)="next()" (mousemove)="hoverNextBtn()" (mouseleave) = "hleaveNextBtn()" title="आगे बढ़ें" >
        <img class="img-fluid submitBtn" [src]="quesCtrl?.submit_btn?.location=='content' ? containgFolderPath + '/' + quesCtrl?.submit_btn?.url : assetsPath + '/' + quesCtrl?.submit_btn?.url" (mousemove)="hoveronSubmitBtn()" (click)="confirmAction('submitAnswer')" (mouseleave) = "hleaveSubmitBtn()" [ngClass]="{'disableBtn':!enableSubmitBtn}" >
    </div>
  </div>
</div>
