<div class="container-fluid temp16" #container id="container" *ngIf="!showIntroScreen">
	<div id="bgImage"><img
			[src]="quesInfo.background.location=='content' ? containgFolderPath + '/' + quesInfo.background.url : assetsPath + '/' + quesInfo.background.url"
			(load)="checkImgLoaded();" /></div>
	<div class="scannedImgOuter d-flex align-items-center justify-content-center">
		<div class="scannedImg" #scannedImg>
			<img class="img-fluid"
				[src]="question.location=='content' ? containgFolderPath + '/' + question.url : assetsPath + '/' +  question.url"
				(load)="checkImgLoaded();">
		</div>
	</div>

	<div [ngStyle]="{'display': !displaySpecial  ? 'none' : 'block'}"
		style="position:absolute; bottom:10%; right:5%; width:16%;"
		[ngClass]="{'fadeInAnimation' : displaySpecial==true, 'fadeOutAnimation ': fadeOutFlag==true}">
		<img style="max-width: 100%; cursor:pointer;"
			[src]="pauseBtn?.location=='content' ? containgFolderPath + '/' + pauseBtn?.url : assetsPath + '/' + pauseBtn?.url "
			(mouseover)="onHoverZariRakheinBtn()" (mouseleave)="onLeaveZariRakheinBtn()" (click)="resumeSpecial()">
	</div>

	<!--
	<div class="d-flex flex-row align-items-center justify-content-around disable_div" #navBlock id="navBlock">
		<div class="prevBtn peechejao img-fluid" (click)="previous()"  [ngClass]="{'disable-click': isFirstQues == true}">
			<img class="img-fluid" [src] = "quesInfo?.peechey_jayein?.location =='content' ? containgFolderPath + '/' +quesInfo?.peechey_jayein?.url : assetsPath + '/' +  quesInfo?.peechey_jayein?.url" (mouseleave)="onLeavePeecheyBtn()" on-mouseenter="onHoverPeecheyBtn()" (load)="checkImgLoaded();">
		</div>
		<div class="nextBtn">
			<div class="img-fluid aagebadho" (click)="next()">
				<img class="img-fluid" [src] = "quesInfo?.aagey_badhein?.location =='content' ? containgFolderPath + '/' +quesInfo?.aagey_badhein?.url : assetsPath + '/' +  quesInfo?.aagey_badhein?.url" (mouseleave)="onLeaveAageyBadheinBtn()" on-mouseenter="onHoverAageyBadheinBtn()" (load)="checkImgLoaded();">
			</div>
			<div class="blink_btn img-fluid" [ngClass]="{'blink' :blink}" (click)="next()">
				<img class="img-fluid" [src] = "quesInfo?.aagey_badhein_blink?.location =='content' ? containgFolderPath + '/' +quesInfo?.aagey_badhein_blink?.url : assetsPath + '/' + quesInfo?.aagey_badhein_blink?.url">
			</div>
		</div>

	</div>
	-->

	<!--<div id="help" #helpBtn class="helpBtn" on-mouseenter="onHoverHelp()" (mouseleave)="onHoverHelpOut()" (click)="playSoundHelp();" [ngClass]="{'disable-click': disableHelpBtn == true}">
		<img class="img-fluid" [src]="quesInfo?.help_btn?.location=='content' ? containgFolderPath + '/' + quesInfo?.help_btn?.url : assetsPath + '/' +  quesInfo?.help_btn?.url" (load)="checkImgLoaded();">
	</div>-->
	<audio #concludeAudio
		[src]="concludeSound?.location=='content' ? containgFolderPath + '/' + concludeSound?.url: assetsPath + '/' + concludeSound?.url"></audio>
</div>
<!--
	<div class="container-fluid temp16" #container id="container" *ngIf="showIntroScreen">
	<div id="bgImage"><img [src]="quesInfo?.background?.location=='content' ? containgFolderPath + '/' + quesInfo?.background?.url : assetsPath + '/' +  quesInfo?.background?.url" (load)="checkImgLoaded();"/></div>
	<div class="d-flex align-items-center justify-content-center" id="activity">
		<img class="img-fluid" [src] ="quesInfo?.krikalapText?.location=='content' ? containgFolderPath + '/' + quesInfo?.krikalapText?.url : assetsPath + '/' +  quesInfo?.krikalapText?.url" (load)="checkImgLoaded();" />
	</div>
	<div class="d-flex align-items-center justify-content-center" id="activityTitle">
		<img class="img-fluid" [src] ="quesInfo?.titleText?.location=='content' ? containgFolderPath + '/' + quesInfo?.titleText?.url : assetsPath + '/' +  quesInfo?.titleText?.url" (load)="checkImgLoaded();" />
	</div>
	<div class="d-flex justify-content-end hideit" #titleNavBtn id="zaariRakheinId">
		<div class="zaariRakheinBtn" (click)="closeTitleScreen()" on-mouseenter="onHoverZaariRakhein()" (mouseleave)="onHoverOutZaariRakhein()"><img [src]="quesInfo.jariRakheinBtn.location=='content' ? containgFolderPath + '/' + quesInfo.jariRakheinBtn.url : quesInfo.jariRakheinBtn.url" ></div>
	</div>
</div>
-->
<div [ngStyle]="{'display': zarriRakheinBtn  ? 'block' : 'none'}"
	[ngClass]="{'fadeInAnimation' : zarriRakheinBtn!='', 'fadeOutAnimation':fadeOutFlag}"
	style="position:absolute; bottom:10%; right:8%; width:16%;">
	<!--<button (click)="resumeSpecial($event)">Zaari Rakhein</button>-->
	<img style="max-width: 100%; cursor:pointer;"
		[src]="zarriRakheinBtn?.location=='content' ? containgFolderPath + '/' + zarriRakheinBtn?.url : assetsPath + '/' + zarriRakheinBtn?.url "
		(mouseover)="onHoverContinuousBtn()" (mouseleave)="onLeaveContinuousBtn()" (click)="next()">
</div>

<div id="controlsContainer" #controlsContainer class=""
	style="flex-wrap: wrap; margin: 0; clear: both; position: absolute; height: auto; width:100%; z-index:999; opacity:.9; bottom:0; background:#000; padding:1% 0;">
	<div id="playPauseContainer" class="col-sm-1" (click)="updatePlay()"
		style="margin: 0; position: relative; display: grid; align-items: center; justify-items: center; text-align: center; width:5.33%; padding:0 3px; flex:none; max-width: none;">
		<div [ngStyle]="{'display': isPlaying ? 'none' : 'block'}" style="cursor: pointer;"><img style="max-width: 100%"
				[src]="quesInfo?.play_graphic?.location=='content' ? containgFolderPath + '/' + quesInfo?.play_graphic?.url : assetsPath + '/' + quesInfo?.play_graphic?.url ">
		</div>
		<div [ngStyle]="{'display': !isPlaying ? 'none' : 'block'}" style="cursor: pointer;"><img
				style="max-width: 100%"
				[src]="quesInfo?.pause_graphic?.location=='content' ? containgFolderPath + '/' + quesInfo?.pause_graphic?.url : assetsPath + '/' + quesInfo?.pause_graphic?.url">
		</div>
	</div>

	<div #rangeSliderRef class="col-sm-8"
		style="margin-top:0.5%; display: flex; position:relative; align-items: center; justify-items: left; text-align:center; width:69.66%; margin:0; padding:10px 0px">
		<input type="range" min="0" max="100" class="rangeSlider" step="1" (mousemove)="showValueOnTooltip($event)"
			(click)="seekbarSeeked($event,undefined)" (mousedown)="mouseDownEvent()" (mouseup)="mouseUpEvent()"
			(mouseleave)="hideToolTip()" value="{{progressValue}}" />
		<span class="tooltiptext">{{tooltipValue}}</span>
		<div class="sliderSelection" #sliderRef [ngStyle]="{'width':videoProgress+'%'}"></div>
		<div class="sliderThumb" [ngStyle]="{'left':progressValue+'%'}"></div>
		<div class="sliderRemaining"></div>
		<div #disableRange [style.display]="isForwardEnabled==false? 'block': 'none'" class="disableRange"></div>
	</div>
	<!-- nouislider id="slider" [connect]="[true, false]" [min]="0"
					[max]="100" [(ngModel)]="progressBarValue"></nouislider-->
	<div id="timeContainer" class="col-sm-1"
		style="margin:0; display: grid; align-items: center; justify-items: center; text-align:center; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif; font-size:13px; color:#fff; font-size: 1vw; padding:0px 3px; line-height:25px;">
		{{time}}
	</div>
	<div id="autoPlayOnOffContainer" #autoPlayOnOffContainer class="col-sm-1"
		style="margin:0 0 0 .5%; display: flex; align-items: center; justify-items: center; text-align:center; width:11.33%; padding:0px 3px; flex: none; max-width: none;">
		<div class="autoPlayOnOffContainerInner">
			<label for="onoff" style="color:#ff9900; position:relative; top:0px; font-size: .9em; line-height: 11px;"
				(click)="updateAutoplay()">Autoplay
				On</label>
			<input type="checkbox" id="onoff" value="on" style="position:relative; margin:0% 0 0 7%; top:3px;"
				(click)="updateAutoplay()">
		</div>
	</div>
	<!--
			<div id="autoPlayOnOffOuter" #autoPlayOnOffContainer class="col-sm-1"
				style="margin:0; display: grid; align-items: center; justify-items: center; text-align:center; width:11.33%; padding:2px 3px;">
				<label for="onoff" style="color:#ff9900; position:relative; top:2px; font-size: .9em;" (click)="updateAutoplay()">Autoplay On</label>
				<input type="checkbox" id="onoff" value="on" style="position:relative; margin:0% 0 0 7%; top:4px;" (click)="updateAutoplay()">
			</div>
			-->

	<div id="volumeContainer" class="col-sm-1" #volumeContainer
		style="margin:0 0 0 .4rem; display: grid; align-items: center; text-align:center; width:auto; position:absolute; right:3%; padding:0 3px; cursor:pointer">
		<img style="max-width: 100%;"
			[src]="volumeBtn?.location=='content' ? containgFolderPath + '/' +   volumeBtn?.url: assetsPath + '/' +   volumeBtn?.url"
			(click)="volumeIconClicked($event)">
		<!--<img *ngIf="appModel.isMute" style="max-width: 100%;" src="{{basePath + '/' + images['mute_graphic']}}" (click)="volumeIconClicked($event)"> -->
		<div [ngStyle]="{'visibility': displayVolume ? 'visible' : 'hidden'}" id="MuteVar" #MuteVar class=""
			style="margin:0; display: initial; align-items: center; text-align:center; position:absolute; top:-41px; width: auto; left:0%;">
			<input type="checkbox" style="position:relative; margin:0 0 0 7%; bottom:-7px;" (click)="UpdateMute()">
			<label style="color:#ff9900; position:relative; top:0px; font-size: .9em;">Mute</label>
		</div>
		<input class="volumeslider" type="range" #volumeBar id="volume-bar" min="0" max="1" step="0.1"
			value="{{appModel.volumeValue}}" (change)="updateVolume($event)"
			[ngStyle]="{'visibility': displayVolume ? 'visible' : 'hidden'}"
			style="-webkit-appearance: none; margin: 0px 0; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); position: absolute; top: -70px; left:-31%; width: 6rem!important; height:5px; background-color:rgba(255, 255, 255, 0.9) !important; outline:none; " />
		<!--&#128266;-->
	</div>
</div>

