#container #optionsBlock {
    position: absolute;
    top: 60%;
    width: 100%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.options {
	width: 86%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.options div {
	width: 20%;
	position: relative;
	transition: transform .2s;
}
.options div:hover{
	transform: scale(1.1);
	/* animation: scaleit 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); */
}
/* @keyframes scaleit {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.1);
	}
} */
.options div .subOpt {
    position: absolute;
    top: 0;
    left: 0;
}
#container .speakerBtn{
	width:100%;
	position:absolute;
	top:61%;
	text-align: center;
}
.speakerBtn img{
	width:9%;
}
.options img,
.speakerBtn img {
	cursor:pointer;
}

#questionBlock {
	position: absolute;
    top: 17%;
    width: 74%;
    left: 13%; 
	display: flex;
	align-items: center;
	justify-content: center;
}

#questionBlock .questionBase, 
#questionBlock .questionStatement, 
#questionBlock .questionBlinkingBlue,
#questionBlock .questionBlinkingPink, 
#questionBlock .questionAnswer  {
	position: absolute;
    top: 0%;
    width: 100%;
    left: 0%; 
	display: flex;
	align-items: center;
	justify-content: center;
}

#container .speakerBlock{
	top: 25%;
	left: 43%;
}

/* Firefox old*/
@-moz-keyframes blink {
    25% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    25% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    25% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    25% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 1.5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 1.5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 1.5s infinite ease-in-out; /* IE */
    animation: blink normal 1.5s infinite ease-in-out; /* Opera and prob css3 final iteration */
}