/* You can add global styles to this file, and also import other style files */
/*html{
	width:100%;
	height:100%;
}
.hideit{display:none !important;}
.showit{display:block !important;}
.dispFlex{display:flex !important;}
*/
@font-face{
	font-family: 'Kruti Dev';
	src: url('assets/fonts/Content/K010.ttf') format('truetype');
}	
body{
	margin:0;
	background: #000;
	background-color: #000 !important;
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	font-size: larger !important;
	line-height: 1.5 !important;
}
button:focus{
    outline: none !important;
}
::selection {
	background: none;
	}

@media only screen and (min-width: 1025px) and (max-height: 767px){
    .outerMostParent {
        width: 90.3% !important;
    }
} 
@media only screen and (min-width: 1326px) and (max-height: 767px){
    .outerMostParent {
        width: 81.6% !important;
    }
} 

#container{
	position: relative;
	padding:0;
	max-width: 1920px;
}
/*** Header + Instruction Bar classes ***/
#container .headerBar{
	position: absolute;
	top: 0;
}
.headerBar img{
	vertical-align: top;
}
#container #instructionBar{
	width: 100%;
	position: absolute;
	top: 3.5%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#instructionBar .instructionBase{
	width: 79%;
	position: relative;    
	display: flex;
	align-items: center;
	justify-content: center;
}
.instructionBase span.instructionText{
	color: #fff;
	font-family: Kruti Dev!important;
	font-weight: normal;
	font-size: 1.8vmax;
	line-height: 2;
    width: 98%;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}
/*** Footer Navbar classes ***/
#footerNavBlock{
	width: 100%;
	position: absolute;
	bottom: 6.1%;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#footerNavBlock .prevBtn,
#footerNavBlock .nextBtn,
#footerNavBlock .nextBtn.blink,
#footerNavBlock .ansBtn,
#footerNavBlock .submitBtn{
	position: absolute;
    top: 10%;
    width: 15.6%;
}
#footerNavBlock .ansBtn{
	width: 8.1%;
    left: .5%;
}
#footerNavBlock .submitBtn{
	width: 8.1%;
    right: .5%;
}
#footerNavBlock .prevBtn{
    left: 9.1%;
}
#footerNavBlock .nextBtn,
#footerNavBlock .nextBtn.blink{
	right: 8.9%;
	z-index: 0;
}
#footerNavBlock .nextBtn{
    z-index: 1;
}
@keyframes blink{
	0%{
		z-index: 2;
	}
	40%{
		z-index: 2;
	}
	100%{
		z-index: 0;
	}
}
#footerNavBlock .nextBtn.blink{
	animation: blink normal 1s infinite ease-in-out;
}
.navQuesBlock{
	position: absolute;
	left: 27.5%;
    top: 29%;
    width: 45%;
    height: 46%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}
.navQuesBlock div{
	width: 5%;
}
#footerNavBlock .prevBtn,
#footerNavBlock .nextBtn,
#footerNavBlock .nextBtn.blink,
#footerNavBlock .ansBtn,
#footerNavBlock .submitBtn,
.speakerBtn img,
.popupCloseBtn{
	cursor:pointer;
}
/*** Popup classes ***/
.eva .modal{
    position: absolute !important;
    height: 94.13% !important;
	display: flex;
	background: rgba(0,0,0,.8);
	display: none;
}
.eva .modal-dialog{
	max-width: 84% !important;
	min-height: auto;
	margin: auto;
}
.eva .modal-content{
	border: none !important;
	background: transparent !important;
	box-shadow: none !important;
}
.eva .modal-body{
    padding: 0 !important;
}
.eva .modal .popupCloseBtn{
    position: absolute;
    right: .9%;
    max-width: 4.5%;
    z-index: 1;
}
.eva .modal #optionsBlock,
.eva .modal #refQuesBlock{
    width: 97.4% !important;
}
.eva .modal .onShowAns{
	top: auto !important;
    width: 97.4% !important;
}
.eva .modal .options{
	width: 100% !important;
}
.eva .modal .options div:hover{
	animation: none !important;
	transform: none !important;
}


.ele .modal-header {
	padding: .5% !important;
	height: 7vmin;
	position: relative;
	top: 0;
	width: 100%;
	border-bottom: none !important;
	margin-bottom: -1px;
	/*
		border: solid .7vmin #85d222;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #248446;
	*/
}
.ele .modal-header:before,
.ele .modal-header:after{
	content: none;
}
.ele .modal-title,
.ele #confirmModal .modal-title{
	position:absolute;
	left: 1.3vmin; 
	height: 68% !important;
	width: auto !important;
}
.ele .close,
.ele #confirmModal .close {
	position:absolute;
	right:1.3vmin;
	width: auto !important;
	height: 68% !important;
	margin-top: 0% !important; 
	-webkit-appearance: inherit !important;
	cursor: pointer;
	opacity: 1!important;
}
.ele #confirmModal .modal-body{height: 36%;}
.ele .modal-body{
	border-top: none !important;
	padding: 0 !important;
}
.ele .modal #instructionBarFeedback {
    position: absolute !important;
    width: 100% !important;
    text-align: center !important;
    top: 2.5vmin!important;
    /* display: none; */
}
.rightWrongAns{
    position: absolute;
    bottom: 11%;
    width: 97.4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightWrongAns img{
    width: 8%;
}
.modal .options img{
	cursor: default !important;
}
/*** Speaker classes ***/
#container .speakerBlock{
	width:100%;
	position:absolute;
	top:61%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.speakerBlock .speakerBtn{
	width:9% !important;
	position: relative;
}
.speakerBtn .waveAnimation,
.waveAnimation img{
	position: absolute;
    top: 0;
	left: 0;
}
.speakerBtn .waveAnimation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.waveAnimation img{
	opacity: 0;
}
.speakerBtn img {
    width: auto !important;
}
@keyframes blink1{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes blink2{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes blink3{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.waveAnimation img:nth-child(1){
	animation: blink1 normal infinite cubic-bezier(0, 0.5, 0.5, 0);
	animation-duration: 1.5s;
}
.waveAnimation img:nth-child(2){
	animation: blink2 normal infinite cubic-bezier(0.1, 0.6, 0.6, 0.1);
	animation-duration: 1.5s;
}
.waveAnimation img:nth-child(3){
	animation: blink3 normal infinite cubic-bezier(0.1, 0.7, 0.7, 0.1);
	animation-duration: 1.5s;
}
/*** Border Blink Animation  ***/
@keyframes borderBlink{
	25%{
		border: solid .5vmax #f0e;
	}
	50%{
		border: solid .5vmax #f0e;
	}
	100%{
		border: solid .5vmax #0029d0;
	}
}
@keyframes borderBlink2{
	0%{
		border: solid .35vmax #0029d0;
	}
	25%{
		border: solid .35vmax #f0e;
	}
	50%{
		border: solid .35vmax #f0e;
	}
	100%{
		border: solid .35vmax #0029d0;
	}
}
.refQues div.quesBox::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: solid .5vmax #0029d0;
	border-radius: 1vmax;
	animation: none;
}
.refQues div.quesBox.blinkOn::before {
	animation: borderBlink normal 1s infinite linear;
}
.modal .refQues div.quesBox::before {
	border: none;
	border-radius: none;
	animation: none;
}
/*** Global Blink Option  ***/
@keyframes optionBlink{
	25%{
		filter: none;
		/* filter: hue-rotate(36deg) invert(0%) saturate(100%) sepia(0);; */
	}
	50%{
		filter: none;
	}
	100%{
		filter: grayscale(100%) brightness(0) saturate(0);
	}
}
.globalOptionBlink {
	animation: optionBlink normal 1.3s infinite linear;
}
/*** Misc classes ***/
.disableDiv,
.disableBtn,
.disableFooterBtn{  
	pointer-events: none;
}
/* .disableBtn{
	opacity: .5;  
} */
.fadeContainer{
    background: rgba(0,0,0,.75);
    position: absolute;
    width: 100%;
    height: 83.9%;
    top: 0;
    z-index: 3;
}
#autoPlayOnOffContainer label{
    font-size: .8vmax !important;
}


@media (min-width: 576px){
	#autoPlayOnOffContainer.col-sm-1 {
		flex: 0 0 8.52%;
    	max-width: 8.52%;
	}
}

.modal #instructionBarFeedback, 
#modalPartialOptions #instructionBarPartial{
	position: absolute;
    width: 100%;
    text-align: center;
	top: 2.5vmin!important;
	left:0;
	/* display: none; */
}


