/* You can add global styles to this file, and also import other style files */
/*html{
	width:100%;
	height:100%;
}
.hideit{display:none !important;}
.showit{display:block !important;}
.dispFlex{display:flex !important;}
*/
@font-face {
	font-family: 'Kruti Dev';
	src: url('assets/fonts/Content/K010.ttf') format('truetype');
}	
body{
	margin:0;
	background: #000;
	background-color: #000 !important;
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
button:focus {
    outline: none !important;
}
#container{
	position: relative;
	padding:0;
	max-width: 1920px;
}
#container .headerBar{
	position: absolute;
	top: 0;
}
.headerBar img{
	vertical-align: top;
}
#container #instructionBar {
	width: 100%;
	position: absolute;
	top: 3.5%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#instructionBar .instructionBase {
	width: 79%;
	position: relative;    
	display: flex;
	align-items: center;
	justify-content: center;
}
.instructionBase .instructionText {
	position: absolute;
}
.instructionBase span.instructionText {
	color: #fff;
	font-family: Kruti Dev!important;
	font-size: 1.31vmax;
	width: 99%;
}
#footerNavBlock {
	width: 100%;
	position: absolute;
	bottom: 6.1%;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#footerNavBlock .prevBtn,
#footerNavBlock .nextBtn,
#footerNavBlock .nextBtn.blink,
#footerNavBlock .ansBtn,
#footerNavBlock .submitBtn {
	position: absolute;
    top: 10%;
    width: 15.6%;
}
#footerNavBlock .ansBtn {
	width: 8.1%;
    left: .6%;
}
#footerNavBlock .submitBtn {
	width: 8.1%;
    right: .6%;
}
#footerNavBlock .prevBtn {
    left: 8.9%;
}
#footerNavBlock .nextBtn,
#footerNavBlock .nextBtn.blink {
	right: 8.9%;
	z-index: 0;
}
#footerNavBlock .nextBtn {
    z-index: 1;
}
#footerNavBlock .nextBtn.blink{
	animation: blink normal 1.3s infinite ease-in-out;
	/* -webkit-animation: blink normal .5s infinite ease-in-out; */
}
@keyframes blink {
	0% {
		z-index: 2;
		opacity: 1;
	}
	100% {
		z-index: 0;
		opacity: 0;
	}
}
.navQuesBlock {
	position: absolute;
	left: 27.5%;
    top: 29%;
    width: 45%;
    height: 46%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}
.navQuesBlock div {
	width: 5%;
}
.instructionBase,
#footerNavBlock .prevBtn,
#footerNavBlock .nextBtn,
#footerNavBlock .nextBtn.blink,
#footerNavBlock .ansBtn,
#footerNavBlock .submitBtn,
.popupCloseBtn {
	cursor:pointer;
}
.modal {
    position: absolute !important;
    height: 93.94% !important;
	display: flex;
	background: rgba(0,0,0,.7);
}
.modal-dialog {
	max-width: 84% !important;
	min-height: auto;
	margin: auto;
}

.modal-content {
	border: none !important;
	background: transparent !important;
	box-shadow: none !important;
}
.modal-body {
    padding: 0 !important;
}
.modal .popupCloseBtn {
    position: absolute;
    right: .9%;
    max-width: 4.5%;
    z-index: 1;
}
.modal #optionsBlock {
    top: 7.5% !important;
    width: 97.4% !important;
}
.modal .options {
	width: 100% !important;
}
.modal .options div {
    width: 44% !important;
}
.modal .options div:hover{
	animation: none !important;
}
.rightWrongAns {
    position: absolute;
    bottom: 11%;
    width: 97.4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightWrongAns img {
    width: 8%;
}
.modal .options img {
	cursor: default !important;
}
.disableDiv {  
	pointer-events: none;
}
.disableBtn{
	opacity: 0.5;
	pointer-events: none;
}